@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix">
                    <div class="title_breadcrumb float-left">
                        <h1>Contact Us</h1>
                    </div>
                    <div class="breadcrumb-menu float-right">
                        <ul class="clearfix">
                            <li><a href="/">Home</a></li>
                            <li class="active">Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="contact mt-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Contact Us</h3>
                <hr>
            </div>
            <div class="col-lg-12 mb-3">
                <div class="contact_add">
                    <div class="row">
                        <div class="col-lg-5">
                            <h5>Project Management Unit</h5>
                            <h6>address :</h6>
                            <p>
                                <strong>The GEF- World Bank-BEE Project Bureau of Energy Efficiency (BEE)</strong>
                                Government of India, Ministry of Power 4th Floor, SEWA Bhawan, R. K.Puram New Delhi - 110 066
                            </p>
                        </div>

                        <div class="col-lg-4 contact_no">
                            <ul>
                                <li><strong>Mobile Number : </strong> <a href="tel:+91 11 26179699">+91 11 26179699</a></li>
                                <li><strong>Fax Number : </strong> <a href="#">+91 11 26179699</a></li>
                                <li><strong>Email id : </strong> <a href="#">save-energy@beenet.in</a></li>
                            </ul>

                        </div>

                        <div class="col-lg-3"></div>
                    </div>

                </div>
            </div>


            <div class="col-lg-12 mb-5 ">
                <div class="contact_form">
                    <div class="row">
                        <div class="col-lg-6">
                            <form>
                                <div class="form-row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="First name">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Last name">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-6 col-12">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.0816531895425!2d77.17762931445503!3d28.567310693782066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1d846aaaaaab%3A0xbd194975121e8c82!2sBureau%20of%20Energy%20Efficiency!5e0!3m2!1sen!2sin!4v1632993822968!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="contact_add">
                    <div class="row">
                        <div class="col-lg-5">
                            <h5>General Manager (GM)</h5>
                            <h6>address :</h6>
                            <p>
                                <strong>
                                    Green Climate & Sustainable Development Initiatives (GC & SDI)
                                    Small Industries Development Bank of India (SIDBI)
                                </strong>
                                ATMA RAM HOUSE, 1 Tolstoy Marg
                                New Delhi - 110001
                            </p>
                        </div>

                        <div class="col-lg-4 contact_no">
                            <ul>
                                <li><strong>Mobile Number : </strong> <a href="tel:+91 11 23448300">+91 11 23448300</a></li>
                                <!-- <li><strong>Fax Number : </strong> <a href="#">+91 11 26179699</a></li> -->
                                <li><strong>Email id : </strong> <a href="#">eec_credit@sidbi.in</a></li>
                            </ul>

                        </div>

                        <div class="col-lg-3"></div>
                    </div>

                </div>
            </div>


            <div class="col-lg-12 pt-3 ">
                <div class="contact_form">
                    <div class="row">
                        <div class="col-lg-6">
                            <form>
                                <div class="form-row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="First name">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Last name">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-6 col-12">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d875.5116435249448!2d77.2253645!3d28.6283662!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd33b85812a9%3A0xe272ecbf3b06a7b8!2sAtma%20Ram%20House%2C%20Rohit%20House%2C%20Tolstoy%20Rd%2C%20Barakhamba%2C%20New%20Delhi%2C%20Delhi%20110001!5e0!3m2!1sen!2sin!4v1632994220093!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<style>
</style>


<!--Newsletter Start-->

<div class="newsletter-wrap wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="title">
                    <h3 class="text-white"><small>Stay in Loop</small><br> Join our Newsletter</h3>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="news-info">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" placeholder="Your Email Address">
                            <div class="form_icon"><i class="fas fa-envelope"></i></div>
                        </div>
                        <input type="submit" class="sigup" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Newsletter End-->
@*<div class="container pt-10 pb-10">
        <div class="row">
                <div class="col-md-12"><h4 class="text-theme-colored">Contact Us</h4></div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Project Management Unit</strong></p>
                            <strong>The GEF- World Bank-BEE Project</strong>
                            <strong>Bureau of Energy Efficiency (BEE)</strong>
                            <br />
                            Government of India, Ministry of Power
                            4th Floor, SEWA Bhawan, R. K.Puram
                            New Delhi - 110 066
                            <br />
                            <strong>Telephone:</strong> +91 11 26179699
                            <br />
                            <strong>Fax:</strong> +91 11 26178352
                            <p>
                                <strong>Email:</strong>
                                <a class="Login_link" href="mailto:save-energy@beenet.in">save-energy@beenet.in</a>
                            </p>

                        </div>
                        <div class="col-md-6">
                            <a target="_blank" href="https://goo.gl/maps/ftXvKTHiyNN2"><img src="~/images/bee-map.jpg" width="250" height="250"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>General Manager (GM) </strong></p>
                            <strong>Green Climate & Sustainable Development Initiatives (GC & SDI) </strong><br />
                            <strong>Small Industries Development Bank of India (SIDBI)</strong>
                            <br />
                            ATMA RAM HOUSE, 1 Tolstoy Marg
                            <br />
                            New Delhi - 110001
                            <br />
                            <strong>Telephone:</strong> +91 11 23448300
                            <p>
                                <strong>Email:</strong>
                                <a class="Login_link" href="mailto:eec_credit@sidbi.in">eec_credit@sidbi.in</a>
                            </p>

                        </div>
                        <div class="col-md-6">
                            <a target="_blank" href="https://goo.gl/maps/gmhBkH4x6Un"><img src="~/images/sidbi-map.jpg" width="250" height="250"></a>
                        </div>
                    </div>
                </div>




        </div>

    </div>*@

