caption,
table,
tr,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  /* border-spacing:5px; */
  padding: 10px;
  /* margin: 30px; */
  border-radius: 20px;
}
caption {
  /* margin-bottom: 3px; */
}
th {
  background-color: rgb(207, 121, 121);
}
td {
  background-color: aqua;
}
tfoot {
  color: rgb(29, 15, 85);
}

