@model BEEKP.Models.ManufacturersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*-------------Datatable CSS------------------*@
<link href="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet" />

@*<link href="~/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.css" rel="stylesheet" />

    <link href="~/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.css" rel="stylesheet" />

    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet" />*@



@*-------------Datatable JS------------------*@

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/assets/global/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>




@using (Html.BeginForm("Index", "Manufacturers", FormMethod.Post, new { @id = "frmManufacturers", @name = "frmManufacturers" }))
{
    @Html.AntiForgeryToken()

    <!-- BEGIN PAGE CONTENT -->
    <div class="container pt-10">
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="row">
            <div class="col-md-12">
                <section class="breadcrumb-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="inner-content clearfix">
                                    <div class="title_breadcrumb float-left">
                                        <h1>Manufacturers and Suppliers</h1>
                                    </div>
                                    <div class="breadcrumb-menu float-right">
                                        <ul class="clearfix">
                                            <li><a href="/">Resources</a></li>
                                            <li class="active">Manufacturers and Suppliers</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                @*<h4 class="text-theme-colored">Manufacturers and Suppliers</h4>*@
                <hr />
                <div class="row">
                    <div class="col-md-12 mb-15">
                        <div class="bg-gray bg_grey pt-7 clearfix">
                            <div class="col-sm-3 dis_grid" id="vareaspecialization">
                                <div class="form-group">
                                    <label>EE Equipment</label>
                                    @Html.DropDownList("EEEquiment", new SelectList(Model.ListEE_equipment, "EE_equipment_id", "EE_equipment_name", ""), new { @class = "form-control small-height-field", @id = "ddlEE_Equipment", @tabindex = "1", @onchange = "javascript:EE_EquipmentChanged(this.value);" })
                                </div>
                            </div>



                            @*<div class="col-sm-6 ">
                                    <div class="form-group">
                                        <label>&nbsp;</label><br />
                                        <button type="button" onclick="LoadEnergyProfessional()" class="btn1 btn-primary">Search</button>
                                        <button type="button" onclick="" class="btn1 btn-default">Reset</button>
                                    </div>
                                </div>*@
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>&nbsp;</label><br />
                                    <button type="button" onclick="EE_EquipmentChanged(EE_equipment_id)" class="btn1 btn-primary">Search</button>
                                    <input type="button" class="btn1 btn-default" value="Reset" onclick="window.location.href='@Url.Action("Index","Manufacturers")'" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="portlet light">
                    @*<div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">Energy Professionals Forum List</span>
                            </div>
                        </div>*@

                    @*<h5>Energy Professionals Forum List</h5>*@

                    <div id="divmanufacturers" class="datatable-field-height">
                        @Html.Partial("_ManufacturersPartial", Model)
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->

    </div>

}


<script type="text/javascript">

    $(document).ready(function () {

        TableAdvanced_Manufacturers()

    });


    AddAntiForgeryToken = function (data) {
        data.__RequestVerificationToken = $('#frmManufacturers input[name=__RequestVerificationToken]').val();
        return data;
    };


    function EE_EquipmentChanged(EE_equipment_id) {



        $("#divmanufacturers").html("");


        $.ajax({

            url: '/Manufacturers/GetManufacturerListByEEEquipmentId',
            data: AddAntiForgeryToken({ sEE_EquipmentID: EE_equipment_id }),
            async: false,
            type: 'POST',
            success: function (result) {

                if (result == 'sessionout') {
                    window.location.href = "/Account/LogOff";
                }
                else if (result.Data == 'error') {
                    window.location.href = "/Error/GeneralError";
                }
                else {
                    $("#divmanufacturers").html(result).show();
                    TableAdvanced_Manufacturers();
                    //Metronic.init();
                }
            },
            error: function (result) {
                isSuccess = result;
            }

        }).done(function () {
        });



    }

    function TableAdvanced_Manufacturers() {

        if (!jQuery().dataTable) {
            return;
        }

        var table = $('#tblManufacturers');

        var oTable = table.dataTable({

            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "Show _MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },

            "columnDefs": [{
                "orderable": false, // false = sorting not applicale
                "targets": [3] //for the columns
            }],
            //"order": [
            //    [0, 'asc'] // default column sorting
            //],
            "lengthMenu": [
                [10, 25, 50, 100, -1], // value - change per page values here
                [10, 25, 50, 100, "All"] // display- change per page values here
            ],
            // set the initial value
            "pageLength": 10
        });


    }

</script>







@*<script type="text/javascript">
    $(document).ready(function() {
        $('#tblEnergyProfessionals').DataTable();
    });
    </script>*@


