
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



 
        <section class="bg-blue">
            <div class="container-fluid cont_change_prl">
                <div class="row">
                    <div class="col-md-5">
                        <div class="headingtxt">
                            <h1>Welcome to</h1>
                            <h2>SEC Calculator</h2>
                            <p>
                                Select the type of unit in the next
                                screen to calculate the SEC
                            </p>
                            <div class="proceedbtn">
                                <a href="@Url.Action("Proceed", "Calculator", null, Request.Url.Scheme)" class="btn btn-theme-colored">Proceed</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="tri-line-main">
                            <img src="images/triangle-line.png" class="">
                        </div>

                        <div class="forging">
                            <img src="images/forging.png">
                        </div>
                        <div class="foundry">
                            <img src="images/rolling.png">
                        </div>
                        <div class="rolling">
                            <img src="images/foundry.png">
                        </div>

                    </div>
                </div>
            </div>
        </section> 
  



