
@{
    ViewBag.Title = "Proceed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head> 
</head> 

<body class="" id="full_bd">
   
        <section class="bg-blue">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="proceedpage">
                            <div class="tri-line">
                                <img src="~/images/triangle-line.png" class="">
                            </div>

                            <div class="forging popup-trigger_rolling">
                                <img src="~/images/forging.png">
                                <div class="subline subline_rolling proceedbtn">
                                    <img src="~/images/rolling-subline.png">
                                    <a><p>Rolling</p></a>
                                </div>
                            </div>
                            <div class="foundry popup-trigger_foundry">
                                <img src="~/images/rolling.png">
                                <div class="subline-foundry proceedbtn">
                                    <img src="~/images/foundry-subline.png">
                                    <a><p>Foundry</p></a>

                                </div>
                            </div>
                            <div class="rolling popup-trigger_forging">
                                <div class="subline proceedbtn">
                                    <img src="~/images/forging-subline.png">
                                    <a><p>Forging</p></a>
                                </div>
                                <img src="~/images/foundry.png">
                            </div>

                        </div>
                    </div>

                    <!-- ---------------------- foundry popup start-------------------- -->
                    <div class="popup_foundry">
                        <div class="popup-container_foundry popup_bg_img">
                            <div class="slidepopup for_basic_foundry_slidepopup">
                                <div class="slide_img">
                                    <img src="~/images/foundry.png">
                                </div>
                                <div class="slide_text">
                                    <p>You have chosen Foundry. </p>
                                    <h3>Select the type of calculator to proceed.</h3>
                                </div>
                                <div class="slide_action_btn">
                                    <button type="button"  class="basic_advance_btn show_foundry_basic_div">Basic</button>
                                    <a href="@Url.Action("AdvancedFoundry", "Calculator", null, Request.Url.Scheme)" class="basic_advance_btn">Advanced</a>

                                </div>

                            </div>


                            <div class="foundry_basic_popup display_none">
                                <div class="basic_form">
                                    <h2 class="basic_cal_heading">Basic Calculator - Foundry</h2>
                                    <div class="basic_foundry_field_form">
                                        <div class="form_fields">
                                            <label>Type of casting</label>
                                            <select class="form_select_option">
                                                <option>Cast Iron (Gray)</option>
                                                <option>Cast Iron (Gray)</option>
                                                <option>Cast Iron (Gray)</option>
                                                <option>Cast Iron (Gray)</option>
                                            </select>

                                        </div>
                                        <div class="form_fields">
                                            <label>Type of process</label>
                                            <select class="form_select_option">
                                                <option>Green sand moulding</option>
                                                <option>Green sand moulding</option>
                                                <option>Green sand moulding</option>
                                                <option>Green sand moulding</option>
                                            </select>

                                        </div>
                                        <div class="form_fields">
                                            <label>Type of fuel</label>
                                            <select class="form_select_option">
                                                <option>Coal</option>
                                                <option>Petrol</option>
                                                <option>Coal</option>
                                                <option>Petrol</option>

                                            </select>

                                        </div>
                                        <div class="form_fields">
                                            <label>Electricity consumption  <span>kWh/month</span> </label>
                                            <input type="text" class="form_feilds_inputs" placeholder="Enter here">

                                        </div>
                                        <div class="form_fields">
                                            <label>Fuel consumption  <span>kg/lit/SCM per month</span> </label>
                                            <input type="text" class="form_feilds_inputs" placeholder="Enter here">

                                        </div>
                                        <div class="form_fields">
                                            <label>Plant installed capacity</label>
                                            <input type="text" class="form_feilds_inputs" placeholder="Enter here">
                                        </div>
                                        <div class="form_fields">
                                            <label>Plant actual production</label>
                                            <input type="text" class="form_feilds_inputs" placeholder="Enter here">
                                        </div>
                                        <div class="form_fields">
                                            <label>Major product</label>
                                            <input type="text" class="form_feilds_inputs" placeholder="Enter here">
                                        </div>
                                        <div class="cal_btn">
                                            <a href=@Url.Action("BasicFoundry", "Calculator") class="Cal_href_btn">Calculate</a>

                                        </div>


                                    </div>

                                </div>

                            </div>



                        </div>
                    </div>


                    <!-- ---------------------- foundry popup end-------------------- -->
                    <!-- ---------------------- forging popup start-------------------- -->
                    <div class="popup_forging">
                        <div class="popup-container_forging popup_bg_img">
                            <div class="slidepopup for_basic_forging_slidepopup">
                                <div class="slide_img">
                                    <img src="~/images/forging.png">
                                </div>
                                <div class="slide_text">
                                    <p>You have chosen Forging. </p>
                                    <h3>Select the type of calculator to proceed.</h3>
                                </div>
                                <div class="slide_action_btn">
                                    <button type="button" class="basic_advance_btn show_forging_basic_div">Basic</button>
                                    <a href="@Url.Action("AdvancedForging", "Calculator", null, Request.Url.Scheme)" class="basic_advance_btn">Advanced</a>

                                </div>

                            </div>

                            <div class="forging_basic_popup display_none">
                                <div class="basic_form">
                                    <h2 class="basic_cal_heading">Basic Calculator - Forging</h2>
                                    <div class="basic_foundry_field_form">

                                        <div class="form_fields">
                                            <label>Final Finished Product <span>(tpm)</span> </label>
                                            <input type="text" class="form_feilds_inputs" placeholder="Enter here">
                                        </div>
                                        <div class="form_fields">
                                            <h3 class="formfld_inner_heading">Total Monthly Energy Consumption</h3>
                                        </div>
                                        <div class="form_fields">
                                            <label>Type of Fuel</label>
                                            <div class="fuel_checkbox_forging">

                                                <div class="type_fuel_checkboxes">
                                                    <label class="checkbox-wrapper">
                                                        <input type="radio" class="checkbox-input" name="fuel_type_radio" />
                                                        <span class="checkbox-tile">
                                                            <span class="checkbox-icon">
                                                                <img src="~/images/Oil_barrel.png">
                                                            </span>
                                                            <span class="checkbox-label">FO</span>
                                                        </span>
                                                    </label>
                                                    <label class="checkbox-wrapper">
                                                        <input type="radio" class="checkbox-input" name="fuel_type_radio" />
                                                        <span class="checkbox-tile">
                                                            <span class="checkbox-icon">
                                                                <img src="~/images/Fuel.png">
                                                            </span>
                                                            <span class="checkbox-label">PNG</span>
                                                        </span>
                                                    </label>
                                                    <label class="checkbox-wrapper">
                                                        <input type="radio" class="checkbox-input" name="fuel_type_radio" />
                                                        <span class="checkbox-tile">
                                                            <span class="checkbox-icon">
                                                                <img src="~/images/Gas_cylinder.png">
                                                            </span>
                                                            <span class="checkbox-label">LPG</span>
                                                        </span>
                                                    </label>
                                                    <label class="checkbox-wrapper">
                                                        <input type="radio" class="checkbox-input" name="fuel_type_radio" />
                                                        <span class="checkbox-tile">
                                                            <span class="checkbox-icon">
                                                                <img src="~/images/Electricity.png">
                                                            </span>
                                                            <span class="checkbox-label">Electricity</span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form_fields">
                                            <label>GCV of FO (kcal/kg)</label>
                                            <div class="fuel_checkbox_forging forging_gcv_check">

                                                <div class="type_fuel_checkboxes">
                                                    <label class="checkbox-wrapper">
                                                        <input type="radio" class="checkbox-input" name="fuel_type_radio" />
                                                        <span class="checkbox-tile">
                                                            <span class="checkbox-icon check_gcv">9500</span>

                                                        </span>
                                                    </label>
                                                    <label class="checkbox-wrapper">
                                                        <input type="radio" class="checkbox-input" name="fuel_type_radio" />
                                                        <span class="checkbox-tile">
                                                            <span class="checkbox-icon check_gcv">10,000</span>
                                                        </span>
                                                    </label>
                                                    <label class="checkbox-wrapper">
                                                        <input type="radio" class="checkbox-input" name="fuel_type_radio" />
                                                        <span class="checkbox-tile">
                                                            <span class="checkbox-icon check_gcv">10,500</span>
                                                        </span>
                                                    </label>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form_fields">
                                            <label>Quantity of Fuel</label>
                                            <input type="text" class="form_feilds_inputs" placeholder="Enter here">
                                        </div>
                                        <div class="form_fields">
                                            <label>Unit</label>
                                            <div class="fuel_checkbox_forging forging_gcv_check">

                                                <div class="type_fuel_checkboxes unit_type-forging_div">
                                                    <label class="checkbox-wrapper">
                                                        <input type="radio" class="checkbox-input" name="fuel_type_radio" />
                                                        <span class="checkbox-tile">
                                                            <span class="checkbox-icon check_gcv">Tonne</span>

                                                        </span>
                                                    </label>
                                                    <label class="checkbox-wrapper">
                                                        <input type="radio" class="checkbox-input" name="fuel_type_radio" />
                                                        <span class="checkbox-tile">
                                                            <span class="checkbox-icon check_gcv">Litres</span>
                                                        </span>
                                                    </label>


                                                </div>
                                            </div>
                                        </div>



                                        <div class="cal_btn">
                                            <a href= @Url.Action("BasicForging", "Calculator") class="Cal_href_btn">Calculate</a>

                                        </div>


                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>
                    <!-- ---------------------- forging popup end-------------------- -->
                    <!-- ---------------------- rolling popup start-------------------- -->
                    <div class="popup_rolling">
                        <div class="popup-container_rolling popup_bg_img">
                            <div class="slidepopup for_basic_rolling_slidepopup">
                                <div class="slide_img">
                                    <img src="~/images/rolling.png">
                                </div>
                                <div class="slide_text">
                                    <p>You have chosen Rolling. </p>
                                    <h3>Select the type of calculator to proceed.</h3>
                                </div>
                                <div class="slide_action_btn">
                                    <button type="button" class="basic_advance_btn show_rolling_basic_div">Basic</button>
                                    <a href="@Url.Action("AdvancedRolling", "Calculator", null, Request.Url.Scheme)" class="basic_advance_btn">Advanced</a>
                                </div>

                            </div>

                            <div class="rolling_basic_popup display_none">
                                <div class="basic_form">
                                    <h2 class="basic_cal_heading">Basic Calculator - Rolling</h2>
                                    <div class="basic_foundry_field_form">
                                        <div class="form_fields">
                                            <label>Type of re-rolling</label>
                                            <select class="form_select_option">
                                                <option>Batch</option>
                                                <option>Batch</option>
                                                <option>Batch</option>
                                                <option>Batch</option>
                                            </select>

                                        </div>
                                        <div class="form_fields">
                                            <label>Type of re-heating furnace</label>
                                            <select class="form_select_option">
                                                <option>Batch</option>
                                                <option>Batch</option>
                                                <option>Batch</option>
                                                <option>Batch</option>
                                            </select>

                                        </div>
                                        <div class="form_fields">
                                            <label>Type of fuel</label>
                                            <select class="form_select_option">
                                                <option>FO</option>
                                                <option>FO</option>
                                                <option>FO</option>
                                                <option>FO</option>

                                            </select>

                                        </div>
                                        <div class="form_fields">
                                            <label>Electricity consumption</label>
                                            <input type="text" class="form_feilds_inputs" placeholder="Enter here">

                                        </div>
                                        <div class="form_fields">
                                            <label>Plant installed capacity</label>
                                            <input type="text" class="form_feilds_inputs" placeholder="Enter here">

                                        </div>
                                        <div class="form_fields">
                                            <label>Plant actual production</label>
                                            <input type="text" class="form_feilds_inputs" placeholder="Enter here">
                                        </div>

                                        <div class="form_fields">
                                            <label>Major product</label>
                                            <select class="form_select_option">
                                                <option>Multiple</option>
                                                <option>Multiple</option>
                                                <option>Multiple</option>
                                                <option>Multiple</option>

                                            </select>

                                        </div>
                                        <div class="form_fields">
                                            <label>Billets  <span>Additional input in case "single" option is selected</span></label>
                                            <input type="text" class="form_feilds_inputs" placeholder="Enter here">
                                        </div>
                                        <div class="cal_btn">
                                            <a href=@Url.Action("BasicRolling", "Calculator") class="Cal_href_btn">Calculate</a>

                                        </div>


                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>
                    <!-- ---------------------- rolling popup end-------------------- -->



                </div>


            </div>
        </section> 
     
    <a href="javascript:" id="back-to-top" style="display: inline;"><i class="fa fa-chevron-up"></i></a>

<script>

    jQuery(document).ready(function(JQuery){
  //open popup
  JQuery('.popup-trigger_foundry').on('click', function(event){
    event.preventDefault();
    JQuery('.popup_foundry').addClass('is-visible');
  });

  //close popup
  JQuery('.popup_foundry').on('click', function(event){
    if( JQuery(event.target).is('.popup_foundry-close') || JQuery(event.target).is('.popup_foundry') ) {
      event.preventDefault();
      JQuery(this).removeClass('is-visible');
    }
  });






  JQuery('.popup-trigger_forging').on('click', function(event){
    event.preventDefault();
    JQuery('.popup_forging').addClass('is-visible');
  });

  //close popup
  JQuery('.popup_forging').on('click', function(event){
    if( JQuery(event.target).is('.popup_forging-close') || JQuery(event.target).is('.popup_forging') ) {
      event.preventDefault();
      JQuery(this).removeClass('is-visible');
    }
  });



  JQuery('.popup-trigger_rolling').on('click', function(event){
    event.preventDefault();
    JQuery('.popup_rolling').addClass('is-visible');
  });

  //close popup
  JQuery('.popup_rolling').on('click', function(event){
    if( JQuery(event.target).is('.popup_rolling-close') || JQuery(event.target).is('.popup_rolling') ) {
      event.preventDefault();
      JQuery(this).removeClass('is-visible');
    }
  });
        JQuery(".show_foundry_basic_div").click(function () {
            JQuery(".foundry_basic_popup").show();
            JQuery(".for_basic_foundry_slidepopup").hide();

        });


        JQuery(".show_forging_basic_div").click(function () {
            JQuery(".forging_basic_popup").show();
            JQuery(".for_basic_forging_slidepopup").hide();

        });

        JQuery(".show_rolling_basic_div").click(function () {
            JQuery(".rolling_basic_popup").show();
            JQuery(".for_basic_rolling_slidepopup").hide();

        });




});



</script>