@model BEEKP.Models.VideoLibraryViewModel
@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-10" style="min-height:350px;">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-theme-colored">Multimedia Tutorials</h4>
            <hr />
            <div class="row">
                <div class="col-md-12 mb-15">
                    <div class="bg-gray pt-7 clearfix">
                        <div class="col-sm-3" id="vcluster">
                            <div class="form-group">
                                <label>Select Sector</label>
                                @Html.DropDownList("Sector", new SelectList(Model.ListSector, "sector_id", "sector_name", "--Select--"), new { @class = "form-control small-height-field", @id = "ddlSector", @tabindex = "1"@*, @onchange = "PopulateVideo()"*@ })
                            </div>
                        </div>
                       
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>&nbsp;</label><br />
                                <button type="button" onclick=PopulateVideo() class="btn btn-primary">Search Tutorials</button>
                                <input type="button" class="btn btn-default" value="Reset" onclick="window.location.href='@Url.Action("Video","Library")'" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="portlet light">
                @*<div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-green-sharp bold uppercase">MSME List</span>
                        </div>
                    </div>*@
                <div id="divVideos" class="datatable-field-height">
                    @Html.Partial("_VideoPartial", Model)
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->

</div>

@*<div class="container pt-10 pb-20">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-theme-colored">Video</h4>
            <hr />

            <div class="row">

         

               
            </div>
          
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->

</div>*@


<script>
    function PopulateVideo() {

       
        var sector_id = $("#ddlSector").val();
        $("#divVideos").html("");

        $.ajax({

            url: '/Library/GetVideosBySector',
            data: AddAntiForgeryToken({ _sector_id: sector_id }),
            async: false,
            type: 'POST',
            success: function (result) {

                if (result.Data == 'error') {
                    window.location.href = "/Error/GeneralError";
                }
                else {
                    $("#divVideos").html(result).show();
                }
            },
            error: function (result) {
                isSuccess = result;
            }

        }).done(function () {
        });



    }
</script>
