@{
    ViewBag.Title = "AboutProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container pt-10 pb-20">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <section class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="inner-content clearfix">
                                <div class="title_breadcrumb float-left">
                                    <h1>About SIDDHIEE</h1>
                                </div>
                                <div class="breadcrumb-menu float-right">
                                    <ul class="clearfix">
                                        <li><a href="/">About Us</a></li>
                                        <li class="active">About SIDDHIEE</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @*<h4 class="text-theme-colored">About SIDDHIEE</h4>*@
            <hr />
            <div class="row">
                <div class="col-md-12 text-justify">
                    <p>Simplified Digital Hands-on Information on Energy Efficiency in MSMEs (SIDHIEE) is a repository of policy focussed initiatives executed by BEE for MSME Sector, showcasing holistic database of BEE's Initiatives pursued to strengthening MSME Sectors. SIDHIEE is an effort to benefit stakeholders allied to MSMEs.</p>


                    <h5>This portal showcases,</h5><br>

                    <ol>
                        <li>1. End to end supports</li>
                        <li>2. Technology Demonstrations</li>
                        <li>3. Awareness of Energy Efficiency and Key Performance Indicators(KPIs)</li>
                        <li>4. Energy Management System in SME Sector</li>
                        <li>5. Guidance to Access to Finance</li>
                        <li>6. Research and Tools</li>
                        <li>7. Case studies on energy efficient practices</li>
                        <li>8. Details of Stakeholders (Manufacturing units, Technology Service Providers, Cluster Development Centres, and many more.</li>

                    </ol>



                </div>
            </div>
        </div>
    </div>
</div>