
@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}
<body class="gef4">
    <?php include( 'include/header1.php'); ?>
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>Activities</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="/GEF">GEF4</a></li>
                                <li class="active">Activities</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title inner-title title_left text-center">
                        <h1 class="mb-3">Project Activities</h1>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="activities-container">
                                <div class="activities-img">
                                    <div class="">
                                        <img src="images/activity/1.jpg" />
                                    </div>
                                </div>
                                <div class="activities-data">
                                    <h3>Energy Audits</h3>
                                    <p>Cluster leaders and consultants visits to the industries on a regular basis and promote adoption of these best operating practice and help industries not only saving energy but also improving productivity, quality and resource conservation ......</p>
                                    <div class="btn-part">
                                        <a href="/EnergyAudits" class="read-more">Read More <span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="activities-container">
                                <div class="activities-img">
                                    <div class="">
                                        <img src="images/activity/2.jpg" />
                                    </div>
                                </div>
                                <div class="activities-data">
                                    <h3>EMC and its Activities</h3>
                                    <p>The Bureau of Energy Efficiency (BEE), a statutory body under the Ministry of Power, Government of India in collaboration with United Nations Industrial Development Organization (UNIDO) is executing a Global Environment Facility (GEF) .....</p>
                                    <div class="btn-part">
                                        <a href="/emc" class="read-more">Read More <span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="activities-container">
                                <div class="activities-img">
                                    <div class="">
                                        <img src="images/activity/3.jpg" />
                                    </div>
                                </div>
                                <div class="activities-data">
                                    <h3>Capacity Building Training Programs for LSPs</h3>
                                    <p>Project has initiated the mapping of existing service providers in each cluster and identified many new technology providers. Organized 45 capacity building training and trained about 500 local service providers on various aspects on,.....</p>
                                    <div class="btn-part">
                                        <a href="/CapacityBuilding" class="read-more">Read More <span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="activities-container">
                                <div class="activities-img">
                                    <div class="">
                                        <img src="images/activity/4.jpg" />
                                    </div>
                                </div>
                                <div class="activities-data">
                                    <h3>In-house Hands-on Training Programs</h3>
                                    <p>Organized 12 cluster-specific 3-days residential capacity building training workshops at Ambedkar Institute of Productivity-National Productivity Council, Chennai. Trained more than 230 cluster level enterprise representatives on "Best Operating ......</p>
                                    <div class="btn-part">
                                        <a href="/inhouse" class="read-more">Read More <span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="activities-container">
                                <div class="activities-img">
                                    <div class="">
                                        <img src="images/activity/5.jpg" />
                                    </div>
                                </div>
                                <div class="activities-data">
                                    <h3>International Study tours/ Inter cluster visits</h3>
                                    <p>Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation......</p>
                                    <div class="btn-part">
                                        <a href="/InterCluster" class="read-more">Read More <span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="activities-container">
                                <div class="activities-img">
                                    <div class="">
                                        <img src="images/activity/6.jpg" />
                                    </div>
                                </div>
                                <div class="activities-data">
                                    <h3>Pilot demonstration projects</h3>
                                    <p>Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation......</p>
                                    <div class="btn-part">
                                        <a href="/pilotproject" class="read-more">Read More <span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="activities-container">
                                <div class="activities-img">
                                    <div class="">
                                        <img src="images/activities/7.jpg" />
                                    </div>
                                </div>
                                <div class="activities-data">
                                    <h3>Knowledge Dissemination Materials</h3>
                                    <p>The project has developed substantial knowledge materials in terms of case studies, success stories, best-operating practices, training manuals, vendor database etc. All these knowledge repositories are made readily available ......</p>
                                    <div class="btn-part">
                                        <a href="/KnowledgeMaterials" class="read-more">Read More <span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-12">
                            <div class="activities-container">
                                <div class="activities-img">
                                    <div class="">
                                        <img src="images/activities/2.jpg" />
                                    </div>
                                </div>
                                <div class="activities-data">
                                    <h3>Upscaling Activities</h3>
                                    <p>Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation......</p>
                                    <div class="btn-part">
                                        <a href="Upscaling" class="read-more">Read More <span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </section>










    <!--Newsletter Start-->
    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                </div>

            </div>
        </div>
    </div>
    <!--Newsletter End-->
    <?php include( 'include/footer1.php'); ?>
    <script src="js/all.js"></script>
    <script src="js/script.js"></script>
</body>


