
@{
    ViewBag.Title = "Bee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Bee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container pt-10 pb-20">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <section class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="inner-content clearfix">
                                <div class="title_breadcrumb float-left">
                                    <h1>BEE</h1>
                                </div>
                                <div class="breadcrumb-menu float-right">
                                    <ul class="clearfix">
                                        <li><a href="/">About Us</a></li>
                                        <li class="active">BEE</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @*<h4 class="text-theme-colored">BEE</h4>*@
            <hr />
            <div class="row">
                <div class="col-md-12 text-justify">

                    <p>
                        Bureau of Energy Efficiency (BEE) is a statutory body under the Ministry of Power, established under the provision of the Energy Conservation Act, 2001. The mission of Bureau of Energy Efficiency is to assist in developing policies and strategies with a thrust on self-regulation and market principles with the primary objective of reducing energy intensity of the Indian economy within the overall framework of the Energy Conservation Act, 2001. <br>
                        BEE is also the mission directorate of National Mission on Enhanced Energy Efficiency (NMEEE), which is one of the eight missions under the National Action Plan for Climate Change (NAPCC). Under NMEEE, BEE regulating one of the major flagship initiatives, Perform Achieve and Trade (PAT) mechanism for large industries.
                    </p>


                    <h5><b>Role of BEE includes</b></h5>

                    <p>
                        Initiate programmes in all economic sector, Notification of designated consumers, execute envisaged activities through designated agencies in the state and other organizations who has the ability to recognize, identify and utilize the existing resources and infrastructure, in performing the functions assigned to it under the Energy Conservation Act.
                    </p>
                    <p>The Energy Conservation Act provides for regulatory and promotional functions. Following are the schemes/initiatives developed and Implemented by BEE,</p>
                    <ul>
                        <li><i class="fa-li fas fa-check-square disfa"></i>&nbsp;Energy Conservation Building Code (ECBC) scheme
                        <li>
                        <li><i class="fa-li fas fa-check-square disfa"></i>&nbsp;Standards & Labeling (S&L) scheme
                        <li>
                        <li><i class="fa-li fas fa-check-square disfa"></i>&nbsp;Perform Achieve and Trade (PAT) scheme
                        <li>
                        <li><i class="fa-li fas fa-check-square disfa"></i>&nbsp;Small and Medium Enterprises (SME) scheme
                        <li>
                        <li><i class="fa-li fas fa-check-square disfa"></i>&nbsp;State Designated Agencies (SDA) scheme
                        <li>
                        <li><i class="fa-li fas fa-check-square disfa"></i>&nbsp;Demand Side Management (DSM) scheme
                        <li>
                    </ul>
                    <strong><a href="https://beeindia.gov.in/">&nbsp;Link of BEE Home Page </a></strong>

                </div>
            </div>
        </div>
    </div>
</div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



