
@{
    ViewBag.Title = "CaseStudies";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}
<body class="gef4">
    <?php include( 'include/header1.php'); ?>
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>Case Studies</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="/GEF">GEF4</a></li>
                                <li class="active">Case Studies</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-wrap pt-4 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 order-lg-2">


                    <ul class="list-group list-padding">


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/1.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Furnace Crucible Refractory lining optimization and De-slagger Addition
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/2.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Power Quality Improvement by Incorporating Harmonic Filter
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/3.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Methane Capture from Dairy Effluents and Used as a fuel
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/4.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Electricity Generation by Installing Back Pressure Turbine
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/5.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Variable Frequency Drive (VFD) for Refrigeration Compressor Motor
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/6.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of Fibre Reinforced Plates (FRP) Blades
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/7.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Reducing the Dead Weight of the kiln Car using Low Mass kiln Furniture
                        </li>


                        <hr>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS1.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Air booster implementation in compressed air system to achieve the required pressure
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS2.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installing 60 HP screw compressor with inbuild VFD in a foundry unit
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS2a.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installing 60 HP screw compressor with inbuild VFD in a foundry unit
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS3.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of VFD to the existing 100 HP compressor to avoid unloading in compressor
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS4.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installing timer for sand plant process in a foundry
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS5.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Reduced specific energy consumption by installing correct size (capacity) motors in a foundry
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS6.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Reduction in energy consumption of the motor by installing a Star Delta starter
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS7.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Reduced specific energy consumption by installing correct size/capacity motors in a forging unit
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS8.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of energy efficient LED lighting in the shop floor
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS9.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Reduced specific energy consumption by installing low capacity motors in a forging unit
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS10.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Methane capture from an anaerobic digestion of a dairy effluent and use it as fuel
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS11.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Reduced specific energy consumption by installing correct size/capacity motor in a forging unit
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS12.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Combine two drills to a common shaft and lower capacity motor
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS13.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Reduced specific energy consumption by installing correct size / capacity motor in forging unit
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS14.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of a new and efficient crucible in the brass melting induction furnace
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS15.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of a 300 kg 100 kW induction furnace for brass melting in a foundry
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS16.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installing new energy efficient horizontal multistage pump in a foundry
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS17.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installing IGBT (insulated gate bipolar transistor) controlled induction furnace in place of thyristor control furnace in a foundry
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS18.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installing IGBT (insulated gate bipolar transistor) controlled induction heater in place of LPG fired heater in a foundry unit
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS19.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installing new energy efficent pump with IE3 motor in a foundry
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS20.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Minimizing energy consumption of a dust collection system by reducing the fan speed by changing pulley instead of damper control
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS21.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Modifying the design of the blowing pipe in a cupola furnace to funnel shape
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS22.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Insulation of dewaxing tank to minimize heat losses in a foundry
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS23.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Switching off the main grid power supply to induction furnace transformer during no load condition
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS24.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Reduction in energy consumption by reducing the length of the spout in an induction furnace
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS25.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Reduction in energy consumption by removing the holding receiver and directly tapping the metal into the ladle in a coke fired induction furnace
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS26.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of electric grinders in place of pneumatic grinders to save energy in a foundry unit
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS31.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of Auto Power Factor Controller (APFC) panel to maintain unity power factor in a dairy plant
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS32.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installing a plate heat exchanger (PHE) to recover waste heat from a yogurt making process in a dairy unit
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS33.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of a soft starter to the existing refrigerator compressor in a dairy industry
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS34.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of VFD to the existing ghee process pump in a dairy industry
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS35.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of induced draft cooling tower in a dairy unit to reduce energy consumption
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS36.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installing bulk milk chillers with thermal storage andrapid chillingat the milk receiving and chilling centres in place of conventional chilling system
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS37.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of Auto Power Factor Controller (APFC) panel to maintain unity power factor in a foundry unit
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS38.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installing a condensate recovery system for a boiler in a dairy plant to minimize energy consumption
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS39.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Arresting compressed air leakages in the compressed air system
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS40.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installing a biomass fired steam boiler for Ghee plant
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS41.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of a concentrated solar thermal system for steam generation in a dairy unit
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS42.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Energy saving by delaying the start time in the induction furnace
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS43.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Energy conservation by modifying compressed air line system in a foundry
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS44.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installing relay timer to avoid idle running for shot blast machine in a foundry
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS45.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Reduction in rejection of castings by modifying the method of casting in a foundry
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS46.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Insulated top cover of the induction furnace to minimize the radiative heat losses in a foundry
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS47.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Energy saving in melting section my modifying the layout of melting section in a foundry
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS48.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installing a timer for shot blast machine in a foundry to maintain the cycle time
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS49.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of biomass gasifier for ladle preheating process
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS50.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of VFD to the existing compressor to avoid unloading (idle power consumption)
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS51.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Reducing the impurities in the scrap by shot blasting to save energy in a foundry
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS52.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Using waste heat from furnace to vaporise the LPG gas
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS53.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of VFD to the blower in sand cooling system
                        </li>



                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS54.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Reduce energy consumption by modifying the design for shell core making process in a foundry
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS55.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Reduce energy consumption by modifying the lining of ladle in a foundry
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS56.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installing 14,500 energy efficient ceiling fans for drying process in a ceramic cluster for energy saving
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS57.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Using low thermal mass (LTM) material for the kiln cars to reduce the energy consumption in a tunnel kiln
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS58.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Implementing high speed blunger technology in place of ball mill in a ceramic industry to save energy
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS59.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of a screw compressor with in-build VFD in ceramic glazing unit
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS60.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Using alumina grinding balls in the ball mill to reduce the grinding time to reduce the energy consumption
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS61.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of solar PV rooftop system to generate electricity in a ceramic unit
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS62.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installing 400 energy efficient ceiling fans for drying process in a ceramic unit for energy saving
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS63.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of VFD to the existing 250 HP ball mill used in powder grinding operation
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS64.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Minimizing energy consumption by installing a new energy efficient motor in a ball mill
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS65.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Energy saving by installing a new pipeline in a compressed air system
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS66.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Flat Plate Solar Collector for Boiler Feed Water Preheating
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS67.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of ammonia desuperheater to preheat boiler feed water
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS68.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Installation of transvector nozzles to minimize the compressed air consumption
                        </li>


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS69.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Resource monitoring and control with internet of things (IoT)
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="pdf/case-studies/CS70.pdf" target="_blank">Download</a><i class="fa fa-file-pdf-o"></i> </span>
                            Waste Heat Recovery from process effluent of a textile dyeing unit
                        </li>








                    </ul>
                </div>
            </div>
        </div>
    </section>


    <style>
    </style>


    <!--Newsletter Start-->

    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title">
                        <h3 class="text-white"><small>Stay in Loop</small><br> Join our Newsletter</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="news-info">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Your Email Address">
                                <div class="form_icon"><i class="fas fa-envelope"></i></div>
                            </div>
                            <input type="submit" class="sigup" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Newsletter End-->
    <?php include('include/footer1.php'); ?>

</body>

