
@{
    ViewBag.Title = "sector_detail";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link href="~/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/elements.css">
<link rel="stylesheet" href="~/webfonts/fonts/flaticon.css">
<link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
<link rel="icon" href="~/images/favicon.png" type="image/x-icon">
<style>
    .tab {
        overflow: hidden;
        border: 1px solid #19a6e0;
        background-color: #edfaff;
    }

        /* Style the buttons inside the tab */

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 20px;
        }



            /* Change background color of buttons on hover */

            .tab button:hover {
                background-color: #78aee3;
                color: white;
            }

            /* Create an active/current tablink class */

            .tab button.active {
                background-color: #009cdc;
                color: white;
            }



    /* Style the tab content */

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        margin-bottom: 50px;
    }

    .tabcontent {
        animation: fadeEffect 3s;
    }
</style>
<section class="breadcrumb-area">

    <div class="container">

        <div class="row">

            <div class="col-xl-12">

                <div class="inner-content clearfix">

                    <div class="title_breadcrumb float-left">

                        <h1>Sector Detail</h1>

                    </div>

                    <div class="breadcrumb-menu float-right">

                        <ul class="clearfix">

                            <li><a href="/GEF">GEF</a></li>

                            <li class="active">Sector Detail</li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<section class="gef_sections">

    <div class="container pt-4 pb-4 ">

        <div class="row">

            <div class="col-md-12 col-12">

                <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">

                    <!-- <div class="sub-title primary">MSME's</div> -->

                    <h2 class="title inner-title mb-20 mb-3">Ceramics</h2>

                </div>

                <div class="project_bg">

                    <div class="project_info">

                        <img src="/images/sectors/ceramics.png" style="margin-top: -60px; width:100%; max-width:250px;" alt="" class="img-thumbnail">

                        <p class="text-justify">
                            The United Nations Industrial Development Organization (UNIDO), in collaboration with the

                            Bureau of Energy Efficiency (BEE), a statutory body under the Ministry of Power, Government of India, is executing a Global Environment Facility (GEF) funded national project titled 'Promoting energy efficiency and renewable energy in selected MSME clusters in India'. The project aims to develop and promote a market environment for introducing energy efficiency (EE) and enhanced use of renewable energy (RE) technologies in process

                            applications in selected energy intensive industrial clusters, comprising micro, small and medium enterprises (MSMEs).
                        </p>

                        <div class="clearfix"></div>



                    </div>

                </div>

            </div>

        </div>

    </div>

</section>







<div class="about-wrap cluster-section bg-white pt-3 pb-3">

    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">

                    <h2 class="title inner-title mb-20 mb-3">Clusters </h2>

                </div>

            </div>

        </div>





        <div class="tab">

            <button class="tablinks" onclick="openCity(event, 'Thangadh')">Thangadh</button>

            <button class="tablinks" onclick="openCity(event, 'Morbi')">Morbi</button>

            <button class="tablinks" onclick="openCity(event, 'Khurja')">Khurja</button>

            <button class="tablinks" onclick="openCity(event, 'Himmatnagar')">Himmatnagar</button>

        </div>



        <div id="Thangadh" class="tabcontent">

            <h3 class="text-primary">Thangadh Ceramic Cluster profile</h3><br>

            <h4>Overview of Cluster </h4>



            <p class="text-justify">

                Thangadh is a large ceramic cluster located in Gujarat close to Rajkot. The cluster is engaged in the production of sanitary wares. The basic raw material, fire clay, is locally available. Most of the wall and floor tile units established earlier in the cluster have now closed down but the sanitary-ware and refractory units are flourishing



            </p>



            <h5 class="text-primary">Cluster Size and turnover</h5>

            <p class="text-justify">
                There are about 225 ceramic units operating in the cluster engaged in the production of sanitary- ware, and refractory. <br>



                The capacity-wise distribution of Thangarh ceramic units is shown in the table below. Some of the large units in the cluster are Anchor Sanitary wares, Deep Ceramic, Porous Tiles, Sunrise Pottery Works, Choice Sanitary Ware Industries, Top Anchor Industries, Choice Traders and Ariston Ceramic. The annual turnover of the cluster is about Rs 150 crores. The cluster provides direct employment to 15,000 people

            </p>

            <img src="/images/sectors/thangadh1.png" style=" width:700px; height: 350px; alt="" class="center">





            <h4 class="text-primary">Process flow</h4>

            <p class="text-justify">
                Manufacturing of ceramic item uses wide range of raw material combination to produce different shape, size and colour. It requires both electrical and thermal energy at different stages of the process to operate the ball mill, casting/moulding, kilns, cutting & finishing machines and utilities such as motors, pumps air compressor etc. Ceramic manufacturing process primarily consists of mould preparation, body material preparation, shaping, drying and firing.

            </p>

            <img src="/images/sectors/thangadh2.png" style=" width:800px; height: 380px; alt="" class="center">



            <h4 class="text-primary">Technology status and energy use</h4>

            <p class="text-justify">
                Kiln is widely used for production in different ceramic units. Natural Gas (NG) and charcoal are widely used as fuel in the kilns. With the availability of NG in the last few years, all most all the units have already switched over to NG firing

            </p>

            <img src="/images/sectors/thangadh3.png" style=" width:800px; height: 380px; alt="" class="center">



            <h5 class="text-primary"><u>GEF-UNIDO-BEE Project Impact in the cluster</u></h5>



            <p class="text-justify">
                <span style="font-weight: 700;">The project through it various measures has created a real impact on Energy Efficiency in the cluster. Some of the initiatives are as follows:</span> :

                <ul class="bullet_icons din">

                    <li>Capacity building workshops for enterprises and local service providers.</li>

                    <li>Energy measurement centres.</li>

                    <li>Detailed energy audits.</li>

                    <li>Identification of technology on Energy Efficiency.</li>

                    <li>Financial assistance for demonstration projects.</li>

                </ul>

            </p>



        </div>



        <div id="Morbi" class="tabcontent">

            <h3 class="text-primary">Morbi Ceramic Cluster profile</h3><br>

            <h4>Overview of Cluster </h4>



            <p class="text-justify">

                The heart of the Indian ceramic industry is at Morbi, about 250 km from Ahmedabad, in the Rajkot district of Gujarat. The main products are wall tiles, floor tiles, vitrified tiles, and sanitary ware. The cluster commands about 70% of the market share of these ceramic products in India. The ceramic industry’s location in Morbi is based on sound logistical reasons: the basic raw materials for making ceramic products—such as various types of clay, red and black soil, minerals such as calcite/ wollastonite, and frits and glazes—are readily available either locally or from neighbouring Rajasthan. There are about 700 industrial units operating in the cluster. The cluster produces 5.28 million tonnes per year (tpy) of ceramic products. Of this, tile units account for about 5.10 million tpy, and sanitary ware 0.18 million tpy. The production of roofing tiles is about 0.36 million tpy. The annual turnover of the cluster is estimated to be Rs.10000 corers. The cluster provides direct employment to about 80,000 people. About 50 new wall and vitrified tile units are coming up in the cluster.



            </p>



            <p class="text-justify">
                <span style="font-weight: 700;">There are five main industry associations active in Morbi cluster: </span> :

                <ul class="bullet_icons din">

                    <li>Gujarat Ceramic Floor Tiles Manufacturers’ Association;</li>

                    <li>Morbi Sanitary Wares Manufacturers Association;</li>

                    <li>Morbi Dhuva Glaze Tiles Association;</li>

                    <li>Vitrified Floor Tiles Association</li>

                    <li>Roofing Tiles Association</li>

                </ul>

            </p>





            <h4 class="text-primary">Technology status and energy use</h4>



            <p class="text-justify">
                The ceramic units use roller kilns for tile manufacturing and tunnel kilns for the production of sanitary ware. Natural gas (NG), charcoal, and lignite are used as fuel in the firing process. More than half of the thermal energy requirement is met through NG. Charcoal and lignite are mainly used in spray dryers. Energy cost comprises 30–35% of the total production cost. The specific energy consumption (SEC) of ceramic units varies widely with the type of product and processes used. The SEC of a vitrified tile unit ranges between 6.0 and 8.9 GJ/tonne; that of a wall/ floor tile unit varies between 4.8 and 8.8 GJ/tonne; while the corresponding range for a sanitary ware unit is 3.1–4.4 GJ/tonne. It may be noted that many of the small and medium units meet part of their raw material requirement from spray-dried mud manufacturing units operating in the cluster. The main energy consuming processes in tile and sanitary ware units, and the forms of energy used, are listed below:

            </p>

            <img src="/images/sectors/morbi1.png" style=" width:800px; height: 380px; alt="" class="center"><br><br>



            <p class="text-justify">
                Morbi is one of the 29 clusters covered under the BEE- SME program, which aims at accelerating the adoption of energy-efficient technology and practices in select clusters. It is also one of the clusters included under the UNIDO-GEF project. Morbi offers potential for various energy-saving options in both thermal and electrical areas. These would help in reducing the energy consumption of the cluster by about 150,000 tonnes of oil equivalent (toe) and CO2 reduction of 0.44 million tonnes.<br>

            </p>

            <img src="/images/images/sectors/morbi2.png" style=" width:800px; height: 380px; alt="" class="center">





            <h4 class="text-primary"><u>GEF-UNIDO-BEE Project Impact in the cluster</u></h4>



            <p class="text-justify">
                <span style="font-weight: 700;">The project through it various measures has created a real impact on Energy Efficiency in the cluster. Some of the initiatives are as follows:</span> :

                <ul class="bullet_icons din">

                    <li>Capacity building workshops for enterprises and local service providers.</li>

                    <li>Energy measurement centres.</li>

                    <li>Detailed energy audits.</li>

                    <li>Identification of technology on Energy Efficiency.</li>

                    <li>Financial assistance for demonstration projects.</li>

                </ul>

            </p>



        </div>



        <div id="Khurja" class="tabcontent">



            <h3 class="text-primary">Khurja Ceramic Cluster profile</h3><br>

            <h4>Overview of Cluster </h4>



            <p class="text-justify">

                Khurja is a small town in the Bulandshahr District of Western Uttar Pradesh. The Central Glass and Ceramic Research Institute, Kolkata, established its Khurja Centre in August1981, under an assurance for continuous financial support from the Government of Uttar Pradesh. This centre is functioning to cater to the needs of developing creaming and allied industries in the state, particularly to the Ceramic Industries in the Small Scale and Rural Sector. <br><br>



                Khurja having a 600-year-old tradition of pottery manufacturing has now become a centre of Ceramic industry, having more than 4946 units in the small-scale sector and one of the largest whiteware clusters in India.<br><br>



                The main items produced by independent pottery units in Khurja are crockery wares, art wares, electrical goods. Mostly whiteware is produced in Khurja, but there is also a small amount of high-fired terracotta being produced for export markets. Most pottery units in Khurja manufacture crockery (stoneware), HT/LT insulators and decorative wares (stoneware).<br><br>



                There are only a few specialized units that manufacture sanitary wares, bone china and chemical porcelain. Khurja’s pottery products are sold all over India and also exported. Within India, products are

                sold directly and also indirectly through middlemen, shopkeepers and large go down owners. In our survey, units ranged from those with 100% direct sales to the market to others who sold everything through traders.<br><br>



                There are about 23 export-oriented pottery units in Khurja. Export clients include countries such as the United Kingdom, USA, Australia, New Zealand, United Arab Emirates, etc. The major export items are ceramic artware, insulators and scientific porcelain. Clay, the most important material required for manufacturing, is generally obtained from Rajasthan and other parts of India.<br><br>



                The various types of kilns operational in Khurja are generally tunnel kilns for pottery ware and shuttle kilns for insulators. The energy efficiency of kilns is defined as the heat used or required to fire the ceramic product divided by the total heat supplied to the kiln. Tunnel Kilns mostly have manual control.

                The pottery units in the Khurja cluster were earlier using either coal or diesel as fuel for kilns. <br><br>



                These days they are replacing the conventional fuels with Natural Gas. Other electrical energy consuming equipment in pottery manufacturing units are ball mills, pumps and compressors, etc.<br><br>



                There are two active associations/research organizations in Khurja (KPMA & CGCRI) providing support to the ceramic units for improving the product quality and energy efficiency.
            </p>



            <h5 class="text-primary">Process Flow</h5>



            <p>
                Khurja has a 600-year-old tradition of pottery manufacturing and has by now become a major centre of the Indian Ceramic industry, with more than 494 units in the small-scale sector and one of the largest whiteware clusters in India.<br>



                Most pottery units in Khurja manufacture crockery (stoneware), HT/LT insulators and decorative wares (stoneware). There are only a few specialized units that manufacture sanitary wares, bone china and chemical porcelain.
            </p>



            <h6><span style="font-weight: 700;">The following figure indicates the value chain of ceramic manufacturing industry, from raw materials to final products (end use):</h6>



            <img src="/images/sectors/khurja.png" style=" width:1000px; height: 500px; alt="" class="center">





        </div>



        <div id="Himmatnagar" class="tabcontent">

            <h3>Himmatnagar</h3>

            <p>The United Nations Industrial Development Organization (UNIDO), in collaboration with the Bureau of Energy Efficiency (BEE), a statutory body under the Ministry of Power, Government of India, is executing a Global Environment Facility (GEF) funded national project titled 'Promoting energy efficiency and renewable energy in selected MSME clusters in India'. The project aims to develop and promote a market environment for introducing energy efficiency (EE) and enhanced use of renewable energy (RE) technologies in process applications in selected energy intensive industrial clusters, comprising micro, small and medium enterprises (MSMEs).</p>

        </div>



        <script>

            function openCity(evt, cityName) {

                var i, tabcontent, tablinks;

                tabcontent = document.getElementsByClassName("tabcontent");

                for (i = 0; i < tabcontent.length; i++) {

                    tabcontent[i].style.display = "none";

                }

                tablinks = document.getElementsByClassName("tablinks");

                for (i = 0; i < tablinks.length; i++) {

                    tablinks[i].className = tablinks[i].className.replace(" active", "");

                }

                document.getElementById(cityName).style.display = "block";

                evt.currentTarget.className += " active";

            }

        </script>

        <div class="row pb-4">

            <div class="col-lg-3 col-12">

                <!-- <div class="nav flex-column nav-pills cluster-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                        <a class="nav-link active" id="forging" data-toggle="pill" href="#forging-pill" role="tab" aria-controls="forging-pill" aria-selected="true">Forging</a>



                        <a class="nav-link" id="chemical" data-toggle="pill" href="#chemical-pill" role="tab" aria-controls="chemical-pill" aria-selected="false">Chemical</a>



                        <a class="nav-link" id="lime" data-toggle="pill" href="#lime-pill" role="tab" aria-controls="lime-pill" aria-selected="false">Lime kiln</a>



                        <a class="nav-link" id="foundry" data-toggle="pill" href="#foundry-pill" role="tab" aria-controls="foundry-pill" aria-selected="false">Foundry</a>



                        <a class="nav-link" id="mixed" data-toggle="pill" href="#mixed-pill" role="tab" aria-controls="mixed-pill" aria-selected="false">Mixed Industries</a>



                        <a class="nav-link" id="pharmaceutical" data-toggle="pill" href="#pharmaceutical-pill" role="tab" aria-controls="pharmaceutical-pill" aria-selected="false">Pharmaceutical</a>



                        <a class="nav-link" id="brick" data-toggle="pill" href="#brick-pill" role="tab" aria-controls="brick-pill" aria-selected="false">Brick Kiln</a>

                    </div>

                </div>

                <div class="col-lg-9 col-12">

                    <div class="tab-content cluster-tab-content" id="v-pills-tabContent">

                        <div class="tab-pane fade show active" id="forging-pill" role="tabpanel" aria-labelledby="forging">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quaerat ex cum laudantium facilis omnis minima doloremque tenetur nulla qui ipsam esse culpa numquam voluptate, alias eaque fugiat accusamus vero?Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem harum itaque tempora asperiores laboriosam, labore magni eaque consectetur! Velit eaque provident minima commodi in excepturi nihil incidunt officiis adipisci cumque totam, doloremque nobis facere, eos deleniti reprehenderit molestiae sed reiciendis eum. Accusamus quas vitae odio tempore facere consectetur itaque minus.</div>



                        <div class="tab-pane fade" id="chemical-pill" role="tabpanel" aria-labelledby="chemical">Chemical Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, omnis in. Amet natus deserunt asperiores voluptas, repellat temporibus nobis omnis iusto animi provident deleniti nemo ex unde, modi excepturi at perspiciatis odit possimus reiciendis accusantium aut doloribus ipsa, ad inventore.</div>



                        <div class="tab-pane fade" id="lime-pill" role="tabpanel" aria-labelledby="lime">Lime kiln Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo in commodi facilis dignissimos, soluta debitis. Debitis officia dolorum maiores id perspiciatis? Ad adipisci, obcaecati incidunt commodi, corrupti magnam deleniti cupiditate dolor ea quia aperiam ab consequatur? Voluptates dolor quisquam dolorem eos nihil molestias sequi sed! Dolore deleniti rem ipsam dolores?</div>



                        <div class="tab-pane fade" id="foundry-pill" role="tabpanel" aria-labelledby="foundry">Foundry Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>



                        <div class="tab-pane fade" id="mixed-pill" role="tabpanel" aria-labelledby="mixed">Mixed Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>



                        <div class="tab-pane fade" id="pharmaceutical-pill" role="tabpanel" aria-labelledby="pharmaceutical">Pharmaceutical Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>



                        <div class="tab-pane fade" id="brick-pill" role="tabpanel" aria-labelledby="brick">Brick Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>

                    </div>-->

            </div>

        </div>



        <div class="row">

            <div class="col-lg-12 col-12">

                <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">

                    <h2 class="title inner-title mb-20 mb-3">Videos </h2>

                </div>

                <div class="rs-slider sdg-slider">

                    <div class="rs-carousel nav-style2 owl-carousel" data-rewind="true" data-loop="false" data-items="3" data-margin="15" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="true" data-md-device-dots="false">

                        <div class="res-box">

                            <iframe width="100%" height="266" src="https://www.youtube.com/embed/0V9_tbbMADE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>

                        <div class="res-box">

                            <iframe width="100%" height="266" src="https://www.youtube.com/embed/L3LqBl8_mq8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>

                        <div class="res-box">

                            <iframe width="100%" height="266" src="https://www.youtube.com/embed/0V9_tbbMADE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>

                        <div class="res-box">

                            <iframe width="100%" height="266" src="https://www.youtube.com/embed/0V9_tbbMADE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>













<!--Newsletter Start-->

<div class="newsletter-wrap wow fadeInUp">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">



            </div>



        </div>

    </div>

</div>

<!--Newsletter End-->

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/all.js"></script>
<script src="~/js/script.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5-ed0P7eZL44UHUnOF_WB-BN3XaUk4zk&callback=initMap&sensor=false&region=IN"></script>
<script type="text/javascript">
    var markers = [{
        "title": 'Pune',
        "lat": '18.5196',
        "lng": '73.8553',
        "description": 'Pune is a mixed cluster in Maharastra <a href="abc.php">Read More</a>',
        "icon": 'https://lav.indevconsultancy.com/energy/d17/images/icons/mixed-industries.png'
    },
    {
        "title": 'Navi Mumbai',
        "lat": '18.990713',
        "lng": '73.116844',
        "description": 'Navi Mumbai is Foundry Cluster in Maharastra <a href="abc.php">Read More</a>',
        "icon": 'https://lav.indevconsultancy.com/energy/d17/images/icons/foundry.png'
    }
    ];
    window.onload = function () {
        LoadMap();
    }

    function LoadMap() {
        var mapOptions = {
            center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
            zoom: 4,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

        //Create and open InfoWindow.
        var infoWindow = new google.maps.InfoWindow();

        for (var i = 0; i < markers.length; i++) {
            var data = markers[i];
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title,
                icon: data.icon
            });

            //Attach click event to the marker.
            (function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                    infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
                    infoWindow.open(map, marker);
                });
            })(marker, data);
        }
    }
</script>
