
@{
    ViewBag.Title = "sector_detail";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link href="~/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/elements.css">
<link rel="stylesheet" href="~/webfonts/fonts/flaticon.css">
<link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
<link rel="icon" href="~/images/favicon.png" type="image/x-icon">
<style>
    .tab {
        overflow: hidden;
        border: 1px solid #19a6e0;
        background-color: #edfaff;
    }

        /* Style the buttons inside the tab */

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 20px;
        }



            /* Change background color of buttons on hover */

            .tab button:hover {
                background-color: #78aee3;
                color: white;
            }

            /* Create an active/current tablink class */

            .tab button.active {
                background-color: #009cdc;
                color: white;
            }



    /* Style the tab content */

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        margin-bottom: 50px;
    }

    .tabcontent {
        animation: fadeEffect 3s;
    }
</style>
<section class="breadcrumb-area">

    <div class="container">

        <div class="row">

            <div class="col-xl-12">

                <div class="inner-content clearfix">

                    <div class="title_breadcrumb float-left">

                        <h1>Sector Detail</h1>

                    </div>

                    <div class="breadcrumb-menu float-right">

                        <ul class="clearfix">

                            <li><a href="/GEF">GEF</a></li>

                            <li class="active">Sector Detail</li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>


<section class="gef_sections">

    <div class="container pt-4 pb-4 ">

        <div class="row">

            <div class="col-md-12 col-12">

                <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">

                    <!-- <div class="sub-title primary">MSME's</div> -->

                    <h2 class="title inner-title mb-20 mb-3">Dairy</h2>

                </div>

                <div class="project_bg">

                    <div class="project_info">

                        <img src="/images/sectors/ceramics.png" style="margin-top: -60px; width:100%; max-width:250px;" alt="" class="img-thumbnail">

                        <p class="text-justify">
                            The United Nations Industrial Development Organization (UNIDO), in collaboration with the

                            Bureau of Energy Efficiency (BEE), a statutory body under the Ministry of Power, Government of India, is executing a Global Environment Facility (GEF) funded national project titled 'Promoting energy efficiency and renewable energy in selected MSME clusters in India'. The project aims to develop and promote a market environment for introducing energy efficiency (EE) and enhanced use of renewable energy (RE) technologies in process

                            applications in selected energy intensive industrial clusters, comprising micro, small and medium enterprises (MSMEs).
                        </p>

                        <div class="clearfix"></div>



                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<div class="about-wrap cluster-section bg-white pt-3 pb-3">

    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">

                    <h2 class="title inner-title mb-20 mb-3">Clusters </h2>

                </div>

            </div>

        </div>





        <div class="tab">



            <button class="tablinks" onclick="openCity(event, 'Punjab')">Punjab</button>

            <button class="tablinks" onclick="openCity(event, 'Gujarat')">Gujarat</button>

            <button class="tablinks" onclick="openCity(event, 'Haryana')">Haryana</button>

            <button class="tablinks" onclick="openCity(event, 'Kerala')">Kerala</button>

            <button class="tablinks" onclick="openCity(event, 'Maharashtra')">Maharashtra</button>

            <button class="tablinks" onclick="openCity(event, 'Madhya Pradesh')">Madhya Pradesh</button>

            <button class="tablinks" onclick="openCity(event, 'Odisha')">Odisha</button>

            <button class="tablinks" onclick="openCity(event, 'Telangana')">Telangana</button>

            <button class="tablinks" onclick="openCity(event, 'Andhra Pradesh')">Andhra Pradesh</button>

            <button class="tablinks" onclick="openCity(event, 'Tamil Nadu')">Tamil Nadu</button>



        </div>



        <div id="Punjab" class="tabcontent">

            <h3>Punjab</h3>

            <p>London is the capital city of England.</p>

        </div>



        <div id="Gujarat" class="tabcontent">

            <h3 class="text-primary">Gujarat Dairy Cluster Profile</h3><br>

            <h5>Overview of Cluster </h5>



            <p class="text-justify">

                The Indian dairy industry traditionally comprised unorganized milk producers who were scattered in rural areas and depended on middlemen to sell their produce. On the eve of Independence, the rural milk producers in the state of Gujarat were motivated to organize themselves as cooperatives and thereby obtain control over production, processing and marketing of milk and milk products. This cooperative dairy movement was later institutionalized under an ambitious and innovative nation-wide project called ‘Operation Flood’, thanks to which India has become the largest milk producer in the world. According to the National Dairy Development Board (NDDB), India produced 176.35 million tonnes of milk in 2016–17. There are currently over 15 million milk producers across the country, organized into 144,500 dairy cooperative societies. The milk is processed in 184 District Co-operative Unions and marketed by 22 State Marketing Federations. <br><br>

                Gujarat is now the fourth largest milk producing state (contributing to about 8% of total production) in the country, the state produced 2.7 million tonnes of milk (source: NDDB). Almost all the districts in the state have milk processing units. Most of these units are identified as SMEs, and members of the Gujarat Cooperative Milk Marketing Federation (GCMMF), the sole agency for marketing the products manufactured by the different milk co-operative member societies in Gujarat under the brand name of ‘Amul’. According to GCMMF, Gujarat has 17 District Cooperative Milk Producers’ Unions and 17,025 village-level milk cooperative societies with 3.23 million members. The sales turnover in 2017–18 was about 30000 crore rupees

            </p>



            <h5 class="text-primary">Technology status and energy use </h5>



            <p class="text-justify">

                The basic raw material in the dairy industry is milk (from cows and/or buffalo). As fresh milk is highly perishable, it needs to be chilled to about 4° C and retained at this temperature so that it does not get spoiled during storage and transportation for further processing. There are two broad categories of milk processing units: (1) chilling centers; (2) dairies. <br><br>

                Chilling centers are located in remote villages to collect the fresh milk from various local cooperatives. The fresh milk is graded, weighed, chilled, sampled, loaded in tankers and dispatched to processing plants (dairies). Often, chilling centers may have bulk milk cooling tanks (BMCs), which are large storage tanks for chilling and holding the milk at a low temperature till such time as it can be transported to the dairies. <br><br>

                Dairies receive chilled milk from chilling centers and process it to make packaged milk for distribution, as well as to manufacture various products like butter, cheese, curd, ghee, paneer (cottage cheese), milk powders, ice cream, flavored milk, sweets, etc. In all cases, the first and most important step is pasteurization of the milk to destroy the microbes that would otherwise spoil it. Pasteurization is carried out by heating the milk rapidly to around 80 °C, and holding it at that temperature for about 15 seconds.

            </p>



            <h5 class="text-primary">Energy use </h5>





            <p class="text-justify">
                <span style="font-weight: 700;"> Milk processing in a dairy requires both heating and chilling. The major energy consuming equipment and machinery in a typical milk processing unit include:</span> :

                <ul class="bullet_icons din">

                    <li>Ammonia vapour compression systems (for chilling)</li>

                    <li>Boilers (for heating)</li>

                    <li>Other auxiliaries like pumps and electric motors</li>

                    <li>Dryers (milk powder units)</li>



                </ul>

            </p>





            <p>
                The major energy sources in milk processing units include electricity, natural gas, furnace oil, light diesel oil, castor oil, de-oiled cake and biomass fuels like wood and saw dust. The total annual energy consumption of dairy industries in Gujarat is about 9344 tonnes of oil equivalent (Table 1) of which about 16% is consumed by chilling centers and 84% by dairies. <br>

                The specific energy consumption (SEC) depends on the final product being manufactured by the concerned dairy unit. The SEC for chilling centers is estimated at 0.003 toe/t, and that of dairy units at between 0.084–0.097 toe/t.



            </p>

            <h6 class="text-primary"><i>Table I: Annual energy consumption in Gujarat dairy cluster</i></h6>

            <img src="/images/sectors/gujarat1.png" style=" width:900px; height: 400px; alt="" class="center">





            <div class="row">

                <div class="col-md-12 col-12">



                    <p class="text-justify" style=" width:40%; float:left;">
                        Various energy audit studies in dairy units (undertaken as a part of the BEE-SME program) in the state of Gujarat indicated a number of energy conservation measures that could be considered by the units through technology upgradation and adoption of better operating practices (Table 2). The total annual energy saving potential through adoption of these measures is estimated at 920 toe (about 10% of the total annual energy consumed by the cluster). An investment of about 89 million rupees is required for implementation of energy conservation measures. The simple payback period on the investments ranges from 5 months to 9 years.

                    </p>

                    <img src="/images/sectors/gujarat2.png" alt="" style=" width:50%; max-height:400px;max-width:800px;float:right;">



                </div>
            </div>



            <h5 class="text-primary"><u>GEF-UNIDO-BEE Project Impact in the cluster</u></h5>







            <p class="text-justify">
                <span style="font-weight: 700;">The project through it various measures has created a real impact on Energy Efficiency in the cluster. Some of the initiatives are as follows:</span> :

                <ul class="bullet_icons din">

                    <li>Capacity building workshops for enterprises and local service providers.</li>

                    <li>Energy measurement centres.</li>

                    <li>Detailed energy audits.</li>

                    <li>Identification of technology on Energy Efficiency.</li>

                    <li>Financial assistance for demonstration projects.</li>

                </ul>

            </p>



        </div>



        <div id="Haryana" class="tabcontent">

            <h3>Haryana</h3>

            <p>London is the capital city of England.</p>

        </div>



        <div id="Kerala" class="tabcontent">

            <h3 class="text-primary">Kerala Dairy Cluster Profile</h3><br>

            <h5>Overview of Cluster </h5>



            <p class="text-justify">

                The Indian dairy industry traditionally comprised unorganized milk producers who were scattered in rural areas and depended on middlemen to sell their produce. On the eve of Independence, the rural milk producers in the state of Gujarat were motivated to organize themselves as cooperatives and thereby obtain control over production, processing and marketing of milk and milk products. This cooperative dairy movement was later institutionalized under an ambitious and innovative nation-wide project called ‘Operation Flood’, thanks to which India has become the largest milk producer in the world. According to the National Dairy Development Board (NDDB), India produced 176.35 million tonnes of milk in 2016–17. There are currently over 15 million milk producers across the country, organized into 144,500 dairy cooperative societies. The milk is processed in 184 District Co-operative Unions and marketed by 22 State Marketing Federations.
            </p>







            <div class="row">

                <div class="col-md-12 col-12">



                    <p class="text-justify" style=" width:50%; float:left;">
                        The Kerala Co-operative Milk Marketing Federation (KCMMF), which is the apex body in this regard, was formed in 1980 as a state adjunct of the National Dairy Programme ‘Operation Flood’. It is a three-tiered organization. The primary societies are grouped under three Regional Co-operative Milk Producers’ Unions viz TRCMPU for Thiruvananthapuram region, ERCMPU for Ernakulam region and MRCMPU for Malabar region. The average daily milk procurement is 9.96 lakh liters from 3,206 village milk cooperative societies, 3 member unions covering 14 districts, and 9.24 lakh milk producer members.  There are 14 dairies under the membership of KCMMF which are scattered across Kerala.

                    </p>

                    <img src="/images/sectors/kerala.png" alt="" style=" width:50%;margin-top: -20px; max-width: 480px;max-height: 380px; float:right;">

                </div>
            </div>



            <h5 class="text-primary">Technology status and energy use </h5>



            <p class="text-justify">

                The basic raw material in the dairy industry is milk (from cows and/or buffalo). As fresh milk is highly perishable, it needs to be chilled to about 4° C and retained at this temperature so that it does not get spoiled during storage and transportation for further processing. There are two broad categories of milk processing units: (1) chilling centers; (2) dairies. <br><br>

                Chilling centers are located in remote villages to collect the fresh milk from various local cooperatives. The fresh milk is graded, weighed, chilled, sampled, loaded in tankers and dispatched to processing plants (dairies). Often, chilling centers may have bulk milk cooling tanks (BMCs), which are large storage tanks for chilling and holding the milk at a low temperature till such time as it can be transported to the dairies. <br><br>

                Dairies receive chilled milk from chilling centers and process it to make packaged milk for distribution, as well as to manufacture various products like butter, cheese, curd, ghee, paneer (cottage cheese), milk powders, ice cream, flavored milk, sweets, etc. In all cases, the first and most important step is pasteurization of the milk to destroy the microbes that would otherwise spoil it. Pasteurization is carried out by heating the milk rapidly to around 80 °C, and holding it at that temperature for about 15 seconds.

            </p>



            <h5 class="text-primary">Energy use </h5>



            <p class="text-justify">
                <span style="font-weight: 700;"> Milk processing in a dairy requires both heating and chilling. The major energy consuming equipment and machinery in a typical milk processing unit include:</span> :

                <ul class="bullet_icons din">

                    <li>Ammonia vapour compression systems (for chilling)</li>

                    <li>Boilers (for heating)</li>

                    <li>Other auxiliaries like pumps and electric motors</li>

                    <li>Dryers (milk powder units)</li>



                </ul>

            </p>





            <img src="/images/sectors/kerala2.png" alt="" class="center">



            <h5 class="text-primary"><u>GEF-UNIDO-BEE Project Impact in the cluster</u></h5>





            <p class="text-justify">
                <span style="font-weight: 700;">The project through it various measures has created a real impact on Energy Efficiency in the cluster. Some of the initiatives are as follows:</span> :

                <ul class="bullet_icons din">

                    <li>Capacity building workshops for enterprises and local service providers.</li>

                    <li>Energy measurement centres.</li>

                    <li>Detailed energy audits.</li>

                    <li>Identification of technology on Energy Efficiency.</li>

                    <li>Financial assistance for demonstration projects.</li>

                </ul>

            </p>

        </div>



        <div id="Maharashtra" class="tabcontent">

            <h3>Maharashtra</h3>

            <p>London is the capital city of England.</p>

        </div>



        <div id="Madhya Pradesh" class="tabcontent">

            <h3>Madhya Pradesh</h3>

            <p>London is the capital city of England.</p>

        </div>



        <div id="Odisha" class="tabcontent">

            <h3>Odisha</h3>

            <p>London is the capital city of England.</p>

        </div>



        <div id="Telangana" class="tabcontent">

            <h3>Telangana</h3>

            <p>London is the capital city of England.</p>

        </div>



        <div id="Andhra Pradesh" class="tabcontent">

            <h3>Andhra Pradesh</h3>

            <p>London is the capital city of England.</p>

        </div>



        <div id="Tamil Nadu" class="tabcontent">

            <h3>Tamil Nadu</h3>

            <p>London is the capital city of England.</p>

        </div>







        <script>

            function openCity(evt, cityName) {

                var i, tabcontent, tablinks;

                tabcontent = document.getElementsByClassName("tabcontent");

                for (i = 0; i < tabcontent.length; i++) {

                    tabcontent[i].style.display = "none";

                }

                tablinks = document.getElementsByClassName("tablinks");

                for (i = 0; i < tablinks.length; i++) {

                    tablinks[i].className = tablinks[i].className.replace(" active", "");

                }

                document.getElementById(cityName).style.display = "block";

                evt.currentTarget.className += " active";

            }

        </script>

        <div class="row pb-4">

            <div class="col-lg-3 col-12">

                <!--  <div class="nav flex-column nav-pills cluster-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                        <a class="nav-link active" id="forging" data-toggle="pill" href="#forging-pill" role="tab" aria-controls="forging-pill" aria-selected="true">Forging</a>



                        <a class="nav-link" id="chemical" data-toggle="pill" href="#chemical-pill" role="tab" aria-controls="chemical-pill" aria-selected="false">Chemical</a>



                        <a class="nav-link" id="lime" data-toggle="pill" href="#lime-pill" role="tab" aria-controls="lime-pill" aria-selected="false">Lime kiln</a>



                        <a class="nav-link" id="foundry" data-toggle="pill" href="#foundry-pill" role="tab" aria-controls="foundry-pill" aria-selected="false">Foundry</a>



                        <a class="nav-link" id="mixed" data-toggle="pill" href="#mixed-pill" role="tab" aria-controls="mixed-pill" aria-selected="false">Mixed Industries</a>



                        <a class="nav-link" id="pharmaceutical" data-toggle="pill" href="#pharmaceutical-pill" role="tab" aria-controls="pharmaceutical-pill" aria-selected="false">Pharmaceutical</a>



                        <a class="nav-link" id="brick" data-toggle="pill" href="#brick-pill" role="tab" aria-controls="brick-pill" aria-selected="false">Brick Kiln</a>

                    </div>

                </div>

                <div class="col-lg-9 col-12">

                    <div class="tab-content cluster-tab-content" id="v-pills-tabContent">

                        <div class="tab-pane fade show active" id="forging-pill" role="tabpanel" aria-labelledby="forging">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quaerat ex cum laudantium facilis omnis minima doloremque tenetur nulla qui ipsam esse culpa numquam voluptate, alias eaque fugiat accusamus vero?Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem harum itaque tempora asperiores laboriosam, labore magni eaque consectetur! Velit eaque provident minima commodi in excepturi nihil incidunt officiis adipisci cumque totam, doloremque nobis facere, eos deleniti reprehenderit molestiae sed reiciendis eum. Accusamus quas vitae odio tempore facere consectetur itaque minus.</div>



                        <div class="tab-pane fade" id="chemical-pill" role="tabpanel" aria-labelledby="chemical">Chemical Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, omnis in. Amet natus deserunt asperiores voluptas, repellat temporibus nobis omnis iusto animi provident deleniti nemo ex unde, modi excepturi at perspiciatis odit possimus reiciendis accusantium aut doloribus ipsa, ad inventore.</div>



                        <div class="tab-pane fade" id="lime-pill" role="tabpanel" aria-labelledby="lime">Lime kiln Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo in commodi facilis dignissimos, soluta debitis. Debitis officia dolorum maiores id perspiciatis? Ad adipisci, obcaecati incidunt commodi, corrupti magnam deleniti cupiditate dolor ea quia aperiam ab consequatur? Voluptates dolor quisquam dolorem eos nihil molestias sequi sed! Dolore deleniti rem ipsam dolores?</div>



                        <div class="tab-pane fade" id="foundry-pill" role="tabpanel" aria-labelledby="foundry">Foundry Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>



                        <div class="tab-pane fade" id="mixed-pill" role="tabpanel" aria-labelledby="mixed">Mixed Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>



                        <div class="tab-pane fade" id="pharmaceutical-pill" role="tabpanel" aria-labelledby="pharmaceutical">Pharmaceutical Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>



                        <div class="tab-pane fade" id="brick-pill" role="tabpanel" aria-labelledby="brick">Brick Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>

                    </div>-->

            </div>

        </div>



        <div class="row">

            <div class="col-lg-12 col-12">

                <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">

                    <h2 class="title inner-title mb-20 mb-3">Videos </h2>

                </div>

                <div class="rs-slider sdg-slider">

                    <div class="rs-carousel nav-style2 owl-carousel" data-rewind="true" data-loop="false" data-items="3" data-margin="15" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="true" data-md-device-dots="false">

                        <div class="res-box">

                            <iframe width="100%" height="266" src="https://www.youtube.com/embed/0V9_tbbMADE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>

                        <div class="res-box">

                            <iframe width="100%" height="266" src="https://www.youtube.com/embed/L3LqBl8_mq8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>

                        <div class="res-box">

                            <iframe width="100%" height="266" src="https://www.youtube.com/embed/0V9_tbbMADE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>

                        <div class="res-box">

                            <iframe width="100%" height="266" src="https://www.youtube.com/embed/0V9_tbbMADE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>







<!--Newsletter Start-->

<div class="newsletter-wrap wow fadeInUp">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">



            </div>



        </div>

    </div>

</div>

<!--Newsletter End-->

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/all.js"></script>
<script src="~/js/script.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5-ed0P7eZL44UHUnOF_WB-BN3XaUk4zk&callback=initMap&sensor=false&region=IN"></script>
<script type="text/javascript">
    var markers = [{
        "title": 'Pune',
        "lat": '18.5196',
        "lng": '73.8553',
        "description": 'Pune is a mixed cluster in Maharastra <a href="abc.php">Read More</a>',
        "icon": 'https://lav.indevconsultancy.com/energy/d17/images/icons/mixed-industries.png'
    },
    {
        "title": 'Navi Mumbai',
        "lat": '18.990713',
        "lng": '73.116844',
        "description": 'Navi Mumbai is Foundry Cluster in Maharastra <a href="abc.php">Read More</a>',
        "icon": 'https://lav.indevconsultancy.com/energy/d17/images/icons/foundry.png'
    }
    ];
    window.onload = function () {
        LoadMap();
    }

    function LoadMap() {
        var mapOptions = {
            center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
            zoom: 4,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

        //Create and open InfoWindow.
        var infoWindow = new google.maps.InfoWindow();

        for (var i = 0; i < markers.length; i++) {
            var data = markers[i];
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title,
                icon: data.icon
            });

            //Attach click event to the marker.
            (function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                    infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
                    infoWindow.open(map, marker);
                });
            })(marker, data);
        }
    }
</script>

