
@{
    ViewBag.Title = "Dc_msme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix">
                    <div class="title_breadcrumb float-left">
                        <h1>DC MSMEs</h1>
                    </div>
                    <div class="breadcrumb-menu float-right">
                        <ul class="clearfix">
                            <li><a href="/">AboutUs</a></li>
                            <li class="active">DC MSMEs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-wrap pt-4 pb-5">
        <div class="container">
        <div class="row">
                <div class="col-md-12 text-justify">
                    <p>The Micro, Small and Medium Enterprises- Development Organisation (MSME-DO) is headed by the Additional Secretary & Development Commissioner (MSME). The Office of the Development Commissioner (Micro, Small & Medium Enterprises) assists the Ministry in formulating, co-ordinating, implementing and monitoring different policies and programmes for the promotion and development of MSMEs in the country.</p>

                    <p>In addition, it provides a comprehensive range of common facilities, technology support services, marketing assistance, etc. through its network of 32 Micro, Small and Medium Enterprises -Development Institutes (MSME-Dls);  27 Branch MSME-Dls;  4 MSME Testing Centres (MSME-TCs) and 7 MSME-Testing Stations (MSME-TSs).  The Office of  DC (MSME) also operates a network of 18 Techonology Centres which are autonomous bodies registered as Societies under the Societies Act.</p>



                       <h5 style="color:#297b37;"><b>Vision</b></h5>

                        <p>To unlock the potential of India’s MSMEs sector in the endeavour for becoming the growth engine for the economy with the vision of reaching $5 tn and generating mass employment and becoming dominant player of Atmanirbhar Bharat</p>

                          <h5 style="color:#297b37;"><b>Mission</b></h5>

                         <p>Office of the Development Commissioner (MSME) supports the MSME sector in the endeavours of formalization, access to knowledge services, improving competitiveness, reducing imports, availability of skilled manpower, access to latest technology and marketing.</p>


                          <h5 style="color:#297b37;"><b>Functions</b></h5>
                          <p><b>The main services rendered by DC (MSME) office are: </b></p>

 <ol  style="margin-left: 3rem;">
                        <li><b>1.</b>Advising in policy formulation for the promotion and development of MSMEs.</li>
                        <li><b>2.</b>Providing techno-economic and managerial consultancy, common facilities and extension services to MSMEs.</li>
                        <li><b>3.</b>Providing facilities for technology upgradation, modernization, quality improvement and infrastructure.</li>
                        
                        <li><b>4.</b>Developing Human Resources through training and skill upgradation.</li>
                        <li><b>5.</b>Facilitating cluster development as a vehicle for MSME Ecosystem development.</li>
                        <li><b>6.</b>Providing economic information services.</li>
                        <li><b>7.</b>Maintaining a close liaison with the Central Ministries, NITI Aayog, State Governments, Financial Institutions and other Organizations concerned with development of MSMEs.</li>
                        
                        <li><b>8.</b>Evolving and coordinating Policies and Programs for development of MSMEs as ancillaries to large industries including CPSUs.</li>
                       
                       <li><b>9.</b>Enhancing trade competitiveness to ensure increase in share of export basket.</li>
                        <li><b>10.</b>Increasing access to credit. </li>
                      
                       
                       

                    </ol>
                       
                  <b><h5 style="color:#297b37;">Links:</h5></b>

                    
                    <a href="http://dcmsme.gov.in/">  http://dcmsme.gov.in/</a>


                   

                </div>
            </div>
            

        </div>
    </section>
    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title">
                        <h3 class="text-white"><small>Stay in Loop</small><br> Join our Newsletter</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="news-info">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Your Email Address">
                                <div class="form_icon"><i class="fas fa-envelope"></i></div>
                            </div>
                            <input type="submit" class="sigup" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Newsletter End-->



    <?php include('include/footer.php'); ?>
    <script src="js/all.js"></script>
    <script src="js/script.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5-ed0P7eZL44UHUnOF_WB-BN3XaUk4zk&callback=initMap&sensor=false&region=IN"></script>
    <script type="text/javascript">
        var markers = [{
                "title": 'Pune',
                "lat": '18.5196',
                "lng": '73.8553',
                "description": 'Pune is a mixed cluster in Maharastra <a href="abc.php">Read More</a>',
                "icon": 'https://lav.indevconsultancy.com/energy/d17/images/icons/mixed-industries.png'
            },
            {
                "title": 'Navi Mumbai',
                "lat": '18.990713',
                "lng": '73.116844',
                "description": 'Navi Mumbai is Foundry Cluster in Maharastra <a href="abc.php">Read More</a>',
                "icon": 'https://lav.indevconsultancy.com/energy/d17/images/icons/foundry.png'
            }
        ];
        window.onload = function() {
            LoadMap();
        }

        function LoadMap() {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 6,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

            //Create and open InfoWindow.
            var infoWindow = new google.maps.InfoWindow();

            for (var i = 0; i < markers.length; i++) {
                var data = markers[i];
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.title,
                    icon: data.icon
                });

                //Attach click event to the marker.
                (function(marker, data) {
                    google.maps.event.addListener(marker, "click", function(e) {
                        //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                        infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
        }
    </script>

    <script>
        (function($) {
            // $('.accordion > a').addClass('active').next().slideDown();
            $('.accordion > a:eq(0) a').addClass('active').next().slideDown();


            $('.accordion a').click(function(j) {
                // var dropDown = $(this).closest('a').find('a');

                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                } else {
                    $(this).closest('.accordion').find('a.active').removeClass('active');
                    $(this).addClass('active');
                }
                dropDown.stop(false, true).slideToggle();
                j.preventDefault();
            });
        })(jQuery);
    </script>
</body>