
@{
    ViewBag.Title = "EMC";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}
<style>

    .counter h4 {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        margin: 0;
    }

    body.gef4 .counter .counter-value {
        font-size: 30px;
        line-height: 50px;
        margin-right: 10px;
    }


    .rs-carousel.nav-style2 .owl-nav .owl-prev, .rs-carousel.nav-style2 .owl-nav .owl-next {
        display: none;
    }

    body.gef4 .owl-carousel.owl-loaded {
        display: block;
        margin-top: -40px;
    }

    .video-slider-carousel .owl-nav {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: -25px;
        right: 0;
    }

    .video-box {
        border: 1px solid #4990e1;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 7px;
        background: #fff;
        min-height: 330px;
    }

    .sld-item .readmore a {
        font-size: 11px;
        color: #fff;
        padding: 5px 19px;
        border-radius: 61px;
        float: right;
        margin-top: 20px;
    }
</style>

<body class="gef4">
    <?php include( 'include/header1.php'); ?>
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>EMC and its Activities</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="/GEF">GEF4</a></li>
                                <li class="active">EMC and its Activities</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="about-wrap pt-4 pb-5 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 order-lg-2">
                    <div class="tag_point">
                        <!--<h5>Quick Links</h5>-->
                        <ul>
                            <li><a href="#s1"> Energy Audits</a></li>
                            <li><a href="#s1"> EMC and its Activities</a></li>
                            <li><a href="#s2"> Capacity Building Training Programs</a></li>
                            <li><a href="#s3"> In- House Training programs</a></li>
                            <li><a href="#s4"> International Study tours/ Inter cluster visits</a></li>
                            <li><a href="#s5"> Pilot Demonstration Projects</a></li>
                            <li><a href="#s6"> Knowledge Dissemination Materials</a></li>
                            <li><a href="#s2"> Upscaling activities</a></li>

                        </ul>
                    </div>




                    <div class="title title_center text-center">
                        <h1 style="color:#297b37; margin-top: 20px;">Photos</h1>
                    </div>
                    <div class="video-box">

                        <div class="video-slider-carousel strnix-carousel owl-theme owl-carousel" data-options='{"rewind": true,"autoplayHoverPause":true, "loop": false, "margin": 30, "autoheight":true, "lazyload":true, "nav": true, "dots": false, "autoplay": true, "autoplayTimeout": 9000, "smartSpeed": 1500, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" }, "800":{ "items" : "1" }, "1024":{ "items" : "1" }}}' id="campaign">



                            <div class="sld-item">
                                <div class="video-item">
                                    <div class="video-thumb">
                                        <div class="gallery-img">
                                            <a href="images/emc/2.jpg" class="image-popup"><img src="images/emc/3.jpg" style="width:auto; height: 250px;float:left;padding:0px;"></a>
                                        </div>
                                        <div class="readmore mb-0"><a href="gallery.php">View More</a></div>
                                    </div>


                                </div>
                            </div>

                            <div class="sld-item">
                                <div class="video-item">
                                    <div class="video-thumb">
                                        <div class="gallery-img">
                                            <a href="images/emc/2.jpg" class="image-popup"><img src="images/emc/4.jpg" style="width:auto; height: 250px;float:left;padding:0px;"></a>
                                        </div>
                                        <div class="readmore mb-0"><a href="gallery.php">View More</a></div>
                                    </div>


                                </div>
                            </div>


                            <div class="sld-item">
                                <div class="video-item">
                                    <div class="video-thumb">
                                        <div class="gallery-img">
                                            <a href="images/emc/2.jpg" class="image-popup"><img src="images/emc/2.jpg" style="width:auto; height: 250px;float:left;padding:0px;"></a>
                                        </div>
                                        <div class="readmore mb-0"><a href="gallery.php">View More</a></div>
                                    </div>


                                </div>
                            </div>







                        </div>



                    </div>

                </div>

                <div class="col-lg-9 col-12 order-lg-1">
                    <div class="about_inner">
                        <img src="images/activity/2.jpg" alt="">
                        <h3>EMC and its Activities</h3>
                        <p class="text-justify">The Bureau of Energy Efficiency (BEE), a statutory body under the Ministry of Power, Government of India in collaboration with United Nations Industrial Development Organization (UNIDO) is executing a Global Environment Facility (GEF) funded national project titled ‘Promoting energy efficiency and renewable energy in selected MSME clusters in India’. The Project has established twelve Cluster Level Energy Management Centers (EMC) in the following 12 MSME clusters: 1) Brass (Jamnagar); 2) Ceramics (Khurja, Thangadh and Morbi); 3) Dairy (Gujarat, Sikkim and Kerala); 4) Foundry (Belgaum, Coimbatore and Indore); 5) Hand Tools (Jalandhar and Nagaur). The main objective of the EMC’s is to increase the ability of local industry associations to provideassistance on improving energy efficiency levels in MSME units in their respective clusters.</p>
                        <p class="text-justify">The EMC’s are equipped with various portable energy auditing instruments, reference materials and best operating manuals.These instruments are available free of cost to the MSME units in each of these clusters. Thelist of energy auditing instruments providedforeach EMC are as below:</p>

                        <div class="col-md-12">
                            <img src="images/emc.png" style="width:100%; max-width:1200px;" alt="" class="float-none">

                            <p class="text-justify">
                                The energy management centers are for the benefit of local MSME units to carryout energy audits (i.e., performance assessment of furnaces, boilers, compressed air system, motors, pumps, lighting and many other energy consuming equipment).<br>
                                The project has also organized various skill development training programs for employees of MSME units on handling of energy audit instruments, identification of energy conservation measures, report writing and also to carryout detailed energy audits.
                            </p>

                            <h4>Functioning of EMC:</h4><br>

                            <ul class="bullet_icons din">
                                <li>Cluster leader in each cluster is responsible for the EMC activities on day-to-day basis</li>
                                <li>Cluster leaders’ approach MSME units for walk through audits for identifying preliminary energy efficiency measures.</li>
                                <li>Based on the interest of the MSME units, detailed Energy Audits are carried out.</li>
                                <li> Detailed Project reports are prepared for the potential energy saving measures in the respective units.</li>
                                <li>Cluster leaders in collaboration withLocal Service Providers will facilitate theimplementation of energy efficient technologies.</li>
                                <li>Case studies are prepared on successful implemented technologies for further replication within the cluster.</li>
                                <li>A study has been initiated for the Sustainability and financial viability of the EMC’s. </li>
                            </ul>
                        </div>




                        <div class="statics-section mb-5 mt-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                                            <!-- <div class="sub-title primary">MSME's</div> -->
                                            <p class="text-justify"><strong>Following are the benefits achieved by the project till now:</strong></p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="rs-carousel nav-style2 owl-carousel mt-0" data-rewind="true" data-loop="false" data-items="2" data-margin="15" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="4" data-md-device-nav="false" data-md-device-dots="false">


                                            <div class="ct-box">
                                                <div class="stat-hov stat-hov2">
                                                    <div class="counter">
                                                        <div class="count-num">
                                                            <span class="counter-value">345</span>  <span class="sm-texts">No. of MSME units </span>
                                                        </div>
                                                        <h3>benefitted</h3>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="ct-box">
                                                <div class="stat-hov stat-hov3">
                                                    <div class="counter ">

                                                        <div class="count-num">
                                                            <span class="counter-value"> 603 </span>  <span class="sm-texts">EE & RE Projects </span>
                                                        </div>
                                                        <h3>Implemented</h3>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="ct-box">
                                                <div class="stat-hov stat-hov8">
                                                    <div class="counter">

                                                        <div class="count-num">
                                                            <span class="counter-value">10850</span>
                                                            <span class="sm-texts">Energy Savings achieved</span>
                                                        </div>
                                                        <h3> (MTOE/year)</h3>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="ct-box">
                                                <div class="stat-hov stat-hov7">
                                                    <div class="counter ">

                                                        <div class="count-num">
                                                            <span class="counter-value">62868</span>  <span class="sm-texts">CO2 Emissions Reduction </span>
                                                        </div>
                                                        <h3>(Tonnes/ Year)</h3>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="ct-box">
                                                <div class="stat-hov stat-hov5">
                                                    <div class="counter">

                                                        <div class="count-num">
                                                            <span class="counter-value">58.58</span>  <span class="sm-texts">Monetary Savings Achieved</span>
                                                        </div>
                                                        <h3>(Crores INR/year) </h3>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="ct-box">
                                                <div class="stat-hov stat-hov6">
                                                    <div class="counter">

                                                        <div class="count-num">
                                                            <span class="counter-value">89.76</span>  <span class="sm-texts">Co-financing on EE & RE Investments </span>
                                                        </div>
                                                        <h3>(Crores INR)</h3>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="ct-box">
                                                <div class="stat-hov stat-hov4">
                                                    <div class="counter">

                                                        <div class="count-num">
                                                            <span class="counter-value">65</span>
                                                            <span class="sm-texts">Technologies identified</span>
                                                        </div>
                                                        <h4>Some replicated multiple times</h4>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>











                    </div>
                </div>

            </div>
    </section>








    <!--Newsletter Start-->
    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                </div>

            </div>
        </div>
    </div>
    <!--Newsletter End-->
    <?php include( 'include/footer1.php'); ?>
    <script src="js/all.js"></script>
    <script src="js/script.js"></script>
</body>


