@{
    ViewBag.Title = "BEE_SME_Programme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.report-container .report-thumb a {
    background: #4990e1;
    display: block;
    position: relative;
    padding: 4px 10px;
    color: #fff;
    border-radius: 0;
    font-size: .9rem;
    text-decoration: none;
    text-align: center;
    margin-top:20px;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #297b37;
    background-color: #9ae3a6ed;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 35px;
    transition: 0.3s;
    font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #1da054d1;
    color: white;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color:#262a8adb;
  color: white;

}

/* Style the tab content */
.tabcontent {
  width:100%;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-bottom: 50px;
}

.tabcontent {
  animation: fadeEffect 3s; 
}

.button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.button.accordion.active:after {
    content: "\2212";
}
.accordion{
    background-color: #a1e5ac52;
    color: #297b37;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    font-weight: 700;
}
.active, .accordion:hover {
    background-color: #339f4575;
}
.panel{
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
 .fa-check-square:before {
        content: "\f14a";
        margin-left: 4rem;
    }
</style>

<body>
    <?php include('include/header.php'); ?>


    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>About GEF</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="index.php">Home</a></li>
                                <li class="active">About GEF</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container pt-4 pb-5">
            <div class="row">
                <div class="col-md-12 text-justify">

                    <p>The GEF is the largest multilateral trust fund focused on enabling developing countries to invest in nature, and supports the implementation of major international environmental conventions including on biodiversity, climate change, chemicals, and desertification. It brings together 184 member governments in addition to civil society, international organization, and private sector partners. Through its Small Grants Programme, the GEF has provided support to more than 25,000 civil society and community initiatives in 135 countries.</p><br>


                  



                    <strong><h5 style="color:#297b37;">Link to GEF Home Page</h5></strong>

                   
                    <a href="https://www.thegef.org/ ">https://www.thegef.org/</a>


                   </div>
                </div>
            </div>
        </div>
    </section>




    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title">
                        <h3 class="text-white"><small>Stay in Loop</small><br> Join our Newsletter</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="news-info">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Your Email Address">
                                <div class="form_icon"><i class="fas fa-envelope"></i></div>
                            </div>
                            <input type="submit" class="sigup" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Newsletter End-->



    <?php include('include/footer.php'); ?>
    <script src="js/all.js"></script>
    <script src="js/script.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5-ed0P7eZL44UHUnOF_WB-BN3XaUk4zk&callback=initMap&sensor=false&region=IN"></script>
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
</body>