
@{
    ViewBag.Title = "SmallIndustriesDevelopmentBankOfIndia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-10 pb-20">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-theme-colored">Small Industries Development Bank of India</h4>
            <hr />
            <div class="row">
                <div class="col-md-9 text-justify">
                    <p>SIDBI was established on April 2, 1990. The Charter establishing it, The Small Industries Development Bank of India Act, 1989 envisaged SIDBI to be &ldquo;the principal financial institution for the promotion, financing and development of industry in the small scale sector and to co-ordinate the functions of the institutions engaged in the promotion and financing or developing industry in the small scale sector and for matters connected therewith or incidental thereto. More information can be obtained from <a href="http://www.sidbi.in">www.sidbi.in</a>.</p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
                <div class="col-md-3">
                    <img src="../images/PartnerAgency_SIDBI.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
