
@{
    ViewBag.Title = "subsidyscheme";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}

<body class="gef4">
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>Subsidy Scheme</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="/GEF">Home</a></li>
                                <li class="active">Subsidy Scheme</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="about-wrap pt-4 pb-5 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 order-lg-3 mt-4">
                    <table class="table table-hover loan-scheme">
                        <tbody>
                            <tr>
                                <td>World Bank project: Partial Risk Sharing Facility for Energy Efficiency (PRSF)</td>
                                <td id="small-sec">
                                    <a href="https://sidhiee.beeindia.gov.in/FinancingScheme/Detail?sfinancing_scheme_id=D27iYUKy1uUSRpPP%2FaQ9kw%3D%3D&viewtype=subsidy"><button class="btn-success form-control">Download</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>TEQUP Scheme of MoMSME by the Office of the Development Commissioner (Micro, Small and Medium Enterprises), Ministry of Micro, Small and Medium Enterprises</td>
                                <td id="small-sec">
                                    <a href="https://sidhiee.beeindia.gov.in/FinancingScheme/Detail?sfinancing_scheme_id=jbTQvzt6k9o4pTdV7ejGUg%3D%3D&viewtype=subsidy"><button class="btn-success form-control">Download</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Performance Linked Grant (PLG) Scheme by SIDBI for Implementation of Energy Efficiency Measures</td>
                                <td id="small-sec">
                                    <a href="https://sidhiee.beeindia.gov.in/FinancingScheme/Detail?sfinancing_scheme_id=ffJUflbzgW8HWSvcxGu6gg%3D%3D&viewtype=subsidy"><button class="btn-success form-control">Download</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Energy Audit Subsidy Scheme by Gujarat Energy Development Agency (GEDA)</td>
                                <td id="small-sec">
                                    <a href="https://sidhiee.beeindia.gov.in/FinancingScheme/Detail?sfinancing_scheme_id=%2FQ45lj4FpqNYPJVvkGkc5Q%3D%3D&viewtype=subsidy"><button class="btn-success form-control">Download</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Credit Linked Capital Subsidy Scheme (CLCSS) for Technology Up-gradation of Small Scale Industries (SSI)</td>
                                <td id="small-sec">
                                    <a href="https://sidhiee.beeindia.gov.in/FinancingScheme/Detail?sfinancing_scheme_id=R2tgFAzkzPztuP9m1okcbQ%3D%3D&viewtype=subsidy"><button class="btn-success form-control">Download</button></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>








    <!--Newsletter Start-->
    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                </div>

            </div>
        </div>
    </div>
    <!--Newsletter End-->
</body>
