
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}

    <style>
        .video-box.inner-view .video-thumb a {
            background: rgba(0,0,0,0);
        }

        .video-box .video-thumb a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.2);
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }

            .video-box .video-thumb a i {
                width: 60px;
                height: 60px;
                background: #ed303b;
                color: #fff;
                padding: 4px;
                border-radius: 50%;
                font-size: 18px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                transform: scale(1);
                transition: all .3s ease-in-out;
            }

        .video-box.inner-view .video-data {
            display: flex;
            flex-direction: column;
            min-height: 38px;
            justify-content: center;
            background: #297e46eb;
            padding: 0 15px;
        }

        .video-box.inner-view .sld-item .video-data h6, .video-box.inner-view .sld-item .video-data p {
            margin-bottom: 0;
            margin-top: 0;
            color: #fff;
        }

        .pb-4, {
            padding-bottom: 1.5rem !important;
        }

        .mt-10 {
            margin-top: 30px;
        }
    </style>
<body class="gef4">
    <?php include( 'include/header1.php'); ?>
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>Videos</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="/GEF">GEF4</a></li>
                                <li class="active">Videos</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-4 mt-10">
        <div class="container">
            <div class="row">

                <div class="row video-box inner-view">
                    <div class="col-md-3">
                        <div class="sld-item">
                            <div class="video-item">
                                <div class="video-thumb">
                                    <img src="videos/1.jpg">
                                    <a href="videos/1.mp4" class="popup-youtube">
                                        <i class="fa fa-play"></i>
                                    </a>
                                </div>
                                <div class="video-data">
                                    <h6>UNIDO EMC- English</h6>

                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-3">
                        <div class="sld-item">
                            <div class="video-item">
                                <div class="video-thumb">
                                    <img src="videos/2.jpg">
                                    <a href="videos/2.mp4" class="popup-youtube">
                                        <i class="fa fa-play"></i>
                                    </a>
                                </div>
                                <div class="video-data">
                                    <h6>UNIDO EMC- Hindi</h6>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="sld-item">
                            <div class="video-item">
                                <div class="video-thumb">
                                    <img src="videos/3.jpg">
                                    <a href="videos/3.mp4" class="popup-youtube">
                                        <i class="fa fa-play"></i>
                                    </a>
                                </div>
                                <div class="video-data">
                                    <h6>UNIDO Promoting MSME- English</h6>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="sld-item">
                            <div class="video-item">
                                <div class="video-thumb">
                                    <img src="videos/4.jpg">
                                    <a href="videos/4.mp4" class="popup-youtube">
                                        <i class="fa fa-play"></i>
                                    </a>
                                </div>
                                <div class="video-data">
                                    <h6>UNIDO Promoting MSME- Hindi</h6>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        </div>

    </section>




    <!--Newsletter Start-->

    <div class="newsletter-wrap wow fadeInUp">

    </div>

    <!--Newsletter End-->
    <?php include('include/footer1.php'); ?>

</body>


