@{
    ViewBag.Title = "BEE_SME_Programme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
.report-container .report-thumb a {
    background: #4990e1;
    display: block;
    position: relative;
    padding: 4px 10px;
    color: #fff;
    border-radius: 0;
    font-size: .9rem;
    text-decoration: none;
    text-align: center;
    margin-top:20px;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #297b37;
    background-color: #9ae3a6ed;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 35px;
    transition: 0.3s;
    font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #1da054d1;
    color: white;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color:#262a8adb;
  color: white;

}

/* Style the tab content */
.tabcontent {
  width:100%;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-bottom: 50px;
}

.tabcontent {
  animation: fadeEffect 3s; 
}
.button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.button.accordion.active:after {
    content: "\2212";
}
.accordion{
    background-color: #a1e5ac52;
    color: #297b37;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    font-weight: 700;
}
.active, .accordion:hover {
    background-color: #339f4575;
}
.panel{
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
</style>

<body>
    <?php include('include/header.php'); ?>


    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>BEE-SME Programme</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="index.php">Home</a></li>
                                <li class="active">BEE-SME Programme</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container pt-4 pb-5">
        <div class="row">
                <div class="col-md-12 text-justify">

                    <p>
                        Indian SME sector consumes energy equivalent to about 50 million tons of oil equivalent annually, which is about 20 to 25% of the energy consumption by large industries. SMEs in India are existing in form of clusters which are spread across the length and breadth of the country, and are involved in producing textiles, bricks, hand tools, metal castings and forging and pumps. The projected energy consumption in SMEs by 2017 is expected to increase to 68.2 mtoe with a projected annual growth rate of 6.0 percent. National program on Energy Efficiency and technology up gradation of SMEs (BEE-SME) scheme.<br>
                        In its endeavour to accelerate uptake of Energy Efficiency in SME sector, BEE initiated a program specifically to improve the energy performance of this sector in the year 2009. This program is fully funded by Government of India. In the XI Plan i.e. from FY 2007-2012, BEE conducted a number of activities starting with a Situation analysis in selected 35 SME clusters out of which 25 SMEs clusters (12 Sector Type) were undertaken for further interventions. Comprehensive energy audit and technology gap assessment was completed in 25 SMEs clusters.
                    </p>


                    <strong><h5>Links:</h5></strong>

                    <a href="https://beeindia.gov.in/content/small-medium-scale-enterprises-sme">Small Medium Scale Enterprises </a><br>

                    <a href="https://beeindia.gov.in/content/energy-efficiency-smes
            https://beeindia.gov.in/sites/default/files/ctools/12.pdf">1.XI and XII Plan</a><br>

                    <a href=" https://beeindia.gov.in/sites/default/files/Annexure%201.pdf
             https://beeindia.gov.in/sites/default/files/ctools/BEE%20SME%20SCHEME.pdf">2.SME Programme</a><br>

                    <a href="https://beeindia.gov.in/content/gef-unido-bee-project">3.GEF supported Programmes</a><br>

                    <a href="https://beeindia.gov.in/content/japan">4.Indo-Japan Partnership</a><br>

                    <a href="#">5.Way Forward 2021-26</a><br>

                    <a href="https://beeindia.gov.in/content/e3-scheme-brick-sector" style="margin-left:20px;">a.  Brick Mission</a><br>
                    <a href="https://beeindia.gov.in/sites/default/files/Brick%20Sector%20Market%20Transformation%20Blueprint_BEE%281%29.pdf
       https://beeindia.gov.in/sites/default/files/E3%20Certification%20Scheme_30%20July%202020_0.pdf"></a>
                    <a href="https://beeindia.gov.in/content/sme" style="margin-left:20px;">b.Schemes for SMEs</a><br>
                    <a href="https://beeindia.gov.in/content/small-medium-scale-enterprises-sme"></a><br>
               




                 <div class="col-md-12">
                            <div class="title title_center text-center">
                              <h1 style="color:#297b37;">Sectors</h1> 
                            </div>
                      




            <div class="tab" id="tab">

  <button class="tablinks " onclick="openCity(event, 'Brass')">Brass</button>
  <button class="tablinks" onclick="openCity(event, 'Ceramics')">Ceramics</button>
  <button class="tablinks" onclick="openCity(event, 'Dairy')">Dairy</button>
  <button class="tablinks" onclick="openCity(event, 'Foundry')">Foundry</button>
  <button class="tablinks" onclick="openCity(event, 'Hand Tools')">Hand Tools</button>
  </div>




<div id="Brass" class="tabcontent" id="tabcontent">

<section class="pb-4">
    <div class="container">
      <div class="row">
        
         <div class="col-md-12">
 <h4 style="color:#38448f; font-weight: 600; margin-top: 10px">Clusters</h4>


      <div class="col-md-12">
        <button class="accordion">Bhubaneshwar</button>
                    <div class="panel">
                        <section class="pb-4">

<div class="col-lg-12 col-12">
           <div class="row report-box">

            <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Bhubaneshwar brass cluster/1.pdf" >DPR_on_Common_Facility_Melting_and<br>_Re-Heating_Furnace_250kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                              <a href="pdf/Bhubaneshwar brass cluster/2.pdf" >DPR_on_Common_Facility_Melting_and<br>_Re-Heating_Furnace_500kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Bhubaneshwar brass cluster/3.pdf" >DPR_on_Common_Facility_<br>Mordern_Unit_250kg</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                                  <a href="pdf/Bhubaneshwar brass cluster/4.pdf" >DPR_on_common_facility_rice_husk<br>_based_Mordern_Unit_(250kg)</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Bhubaneshwar brass cluster/5.pdf" >DPR_on_Common_Facility_Rice_<br>Husk_Gasification_2500kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                              <a href="pdf/Bhubaneshwar brass cluster/6.pdf" >DPR_on_Common_Facility_Rice_<br>Husk_Gasification_5000kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                                 <a href="pdf/Bhubaneshwar brass cluster/7.pdf" >DPR_on_energy_efficient_<br>melting_furncae_(30kg)</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              <a href="pdf/Bhubaneshwar brass cluster/8.pdf" >DPR_on_energy_efficient_<br>melting_furncae_(60kg)</a>
                            </div>
                        </div>
                      </div>
                </div> 


                 <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              <a href="pdf/Bhubaneshwar brass cluster/9.pdf" >DPR_on_Energy_Efficient_<br>Melting_Furncae_100kg</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              <a href="pdf/Bhubaneshwar brass cluster/10.pdf" >DPR_on_Energy_Efficient_<br>Re-Heating_Furnace_30kg</a>
                        </div>
                      </div>
                </div> 
                </div>

                <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                            <a href="pdf/Bhubaneshwar brass cluster/11.pdf" >DPR_on_Energy_Efficient_<br>Re-Heating_Furnace_60kg</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                              <a href="pdf/Bhubaneshwar brass cluster/12.pdf" >DPR_on_Energy_Efficient_<br>Re-Heating_Furnace_100kg</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                                 <a href="pdf/Bhubaneshwar brass cluster/13.pdf" >DPR_on_Rice_Husk_<br>Gasification_30kg</a>
                            </div>
                        </div>
                      </div>
                </div>


                 <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Bhubaneshwar brass cluster/14.pdf" >DPR_on_Rice_Husk_<br>Gasification_60kg</a>
                            </div>
                        </div>
                      </div>
                </div>

             

                 <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                                 <a href="pdf/Bhubaneshwar brass cluster/15.pdf" >DPR_on_Rice_Husk_<br>Gasification_100kg</a>
                            </div>
                        </div>
                      </div>
                </div>


</div></div></section></div></div>

      <div class="col-md-12">
        <button class="accordion">Jamnagar</button>
                    <div class="panel">
                <section class="pb-4">       
   <div class="col-lg-12 col-12">
           <div class="row report-box">

             <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Jamnagar brass cluster/1.pdf" >DPR_Energy_Efficient_Gas_Fired_<br>Rotoberatory_Furnace_250 kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                            <a href="pdf/Jamnagar brass cluster/2.pdf" >DPR_on_Energy_Efficient_Gas<br>_Fired_Pit_Furnace_200 kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                              <a href="pdf/Jamnagar brass cluster/3.pdf" >DPR_on_Energy_Efficient_Gas_<br>Fired_Pit_Furnace_300_kg</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Jamnagar brass cluster/4.pdf" >DPR_on_Energy_Efficient_Gas_<br>Fired_Pit_Furnace_350_kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Jamnagar brass cluster/5.pdf" >DPR_on_Energy_Efficient_Gas_Fired<br>_Reheating_Furnace_750_Kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Jamnagar brass cluster/6.pdf" >DPR_on_Energy_Efficient_Gas_<br>Fired_Reheating_Furnace_1200_Kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                              <a href="pdf/Jamnagar brass cluster/7.pdf" >DPR_on_Energy_Efficient_Gas_<br>Fired_Reheating_Furnace_2000_Kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                            <a href="pdf/Jamnagar brass cluster/8.pdf" >DPR_on_Energy_Efficient_Gas_<br>Fired_Rotoberatory_Furnace_500_kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                 <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              <a href="pdf/Jamnagar brass cluster/9.pdf" >DPR_on_Energy_Efficient_Gas_<br>Fired_Rotoberatory_Furnace_750_kg</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              <a href="pdf/Jamnagar brass cluster/10.pdf" >DPR_on_Energy_Efficient_<br>Oil_Fired_Pit_Furnace_150_kg</a>
                        </div>
                      </div>
                </div> 
                </div>

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                            <a href="pdf/Jamnagar brass cluster/11.pdf" >DPR_on_Energy_Efficient_Oil<br>_Fired_Pit_Furnace_300_kg</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                            <a href="pdf/Jamnagar brass cluster/12.pdf" >DPR_on_Energy_Efficient_Oil_<br>Fired_Pit_Furnace_400_kg</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Jamnagar brass cluster/13.pdf" >Fired_Pit_<br>Furnace_400_kg</a>
                            </div>
                        </div>
                      </div>
                </div>


                 <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Jamnagar brass cluster/14.pdf" >DPR_on_Energy_Efficient_Oil_<br>Fired_Reheating_Furnace_2000_Kg</a>
                            </div>
                        </div>
                      </div>
                </div>

                 <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Jamnagar brass cluster/15.pdf" >Jamnagar_Brass_<br>Winrock.1-44</a>
                            </div>
                        </div>
                      </div>
                </div>

                 <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Jamnagar brass cluster/16.pdf" >Jamnagar_Brass_<br>Winrock.45</a>
                            </div>
                        </div>
                      </div>
                </div>

</div></div></section></div></div>



      <div class="col-md-12">
        <button class="accordion">Jagadhri</button>
                    <div class="panel">
                       

<div class="col-lg-12 col-12">
           <div class="row report-box">

               <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Jamnagar brass cluster/1.pdf" >Jagadhri_Brass_and<br>_Aluminium_Cluster</a>
                            </div>
                        </div>
                      </div>
                </div> 



</div></div></div></div>

 </div></div></div></section></div>






<div id="Ceramics" class="tabcontent" id="tabcontent" >

<section class= "pt-4 pb-4">
    <div class="container">
      <div class="row">
         <div class="col-md-12">
        
        <h4 style="color:#38448f; font-weight: 600; margin-top: 10px">Clusters</h4> 
      <div class="col-md-12">
        <button class="accordion">Morbi</button>
                    <div class="panel">
                       
                       
<div class="col-lg-12 col-12">
           <div class="row report-box">

            <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Morbi_Ceramic_Cluster.pdf" >Morbi_Ceramic_Cluster</a>
                            </div>
                        </div>
                      </div>
                </div>



</div></div></div></div>

         </div></div></div></section></div>






<div id="Dairy" class="tabcontent" id="tabcontent">

<section class="pt-4 pb-4">
    <div class="container">
      <div class="row">
         <div class="col-md-12">
 <h4 style="color:#38448f; font-weight: 600; margin-top: 10px">Clusters</h4> 

           <div class="col-md-12">
        <button class="accordion">Assam</button>
                    <div class="panel">
                       </div></div>

                         
                        <div class="col-md-12">
        <button class="accordion">Gujarat</button>
                    <div class="panel">
           <section class="pb-4">
                       <div class="col-lg-12 col-12">
           <div class="row report-box">
                <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Cluster Manual_Gujarat_Dairy_ SME Cluster.1-44.compressed.pdf" >Cluster Manual_Gujarat_Dairy_ SME Cluster</a>
                            </div>
                        </div>
                      </div>
                </div> 




                   <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Cluster Manual_Gujarat_Dairy_ SME Cluster.44-88.compressed.pdf" >Cluster Manual_Gujarat_Dairy_ SME Cluster</a>
                            </div>
                        </div>
                      </div>
                </div> 

                 <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Cluster Manual_Gujarat_Dairy_ SME Cluster.89-105.pdf" >Cluster Manual_Gujarat_Dairy_ SME Cluster</a>
                            </div>
                        </div>
                      </div>
                </div> 

                 <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Gujarat_Dairy.pdf" >Gujarat_Dairy</a>
                            </div>
                        </div>
                      </div>
                </div> 
                    </div></div></section></div></div>

                        <div class="col-md-12">
        <button class="accordion">Haryana</button>
                    <div class="panel">
                       </div></div>


                        <div class="col-md-12">
        <button class="accordion">Maharashtra</button>
                    <div class="panel">
                       </div></div>
                          

                          <section class="pb-4">
                        <div class="col-md-12">
        <button class="accordion">Punjab</button>
                    <div class="panel">
               
                       <div class="col-lg-12 col-12">
           <div class="row report-box">



            <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/PunjabDairyClusterBrief.pdf" >Punjab Dairy Cluster Brief</a>
                            </div>
                        </div>
                      </div>
                </div> 


                    </div></div></div></div></section>
                     

                       

         </div></div></div></section></div>


<div id="Foundry" class="tabcontent" id="tabcontent">

<section class="pt-4 pb-4">
    <div class="container">
      <div class="row">
        
         <div class="col-md-12">
 <h4 style="color:#38448f; font-weight: 600; margin-top: 10px">Clusters</h4> 
        <div class="col-md-12">
        <button class="accordion">Agra</button>
                    <div class="panel">
                       </div></div>


                        <div class="col-md-12">
        <button class="accordion">Batala</button>
                    <div class="panel">
                       </div></div>

                       <div class="col-md-12">
        <button class="accordion">Jalandhar</button>
                    <div class="panel">
                       </div></div>


                        <div class="col-md-12">
        <button class="accordion">Howrah</button>
                    <div class="panel">
                       </div></div>

                       <div class="col-md-12">
        <button class="accordion">Ludhiana</button>
                    <div class="panel">
                       </div></div>


                        <div class="col-md-12">
        <button class="accordion">Rajkot</button>
                    <div class="panel">
                       </div></div>


                        <div class="col-md-12">
        <button class="accordion">Shimoga</button>
                    <div class="panel">
                       </div></div>
      

         </div></div></div></section></div>


<div id="Hand Tools" class="tabcontent" id="tabcontent" >

<section class="pb-4">
    <div class="container">
      <div class="row">
        
         <div class="col-md-12">
         </div></div></div></section></div>





                   </div>
                </div>
            </div>
        </div>
    </section>




























    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title">
                        <h3 class="text-white"><small>Stay in Loop</small><br> Join our Newsletter</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="news-info">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Your Email Address">
                                <div class="form_icon"><i class="fas fa-envelope"></i></div>
                            </div>
                            <input type="submit" class="sigup" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!--Newsletter End-->



    <?php include('include/footer.php'); ?>
    <script src="js/all.js"></script>
    <script src="js/script.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5-ed0P7eZL44UHUnOF_WB-BN3XaUk4zk&callback=initMap&sensor=false&region=IN"></script>
       
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>


<script>

var acc = document.getElementsByClassName("accordion");

var i;
for (i = 0; i < acc.length; i++) {

  acc[i].addEventListener("click", function() {

    this.classList.toggle("active");

    var panel = this.nextElementSibling;

    if (panel.style.display === "block") {

      panel.style.display = "none";

    } else {

      panel.style.display = "block";

    }

  });

}

</script>


</body>
