@{
    ViewBag.Title = "BEE_SME_Programme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>Indo-German Energy Programme (IGEN)</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="index.php">Home</a></li>
                                <li class="active">Indo-German Energy Programme (IGEN)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<style>
    .fa-check-square:before {
        content: "\f14a";
        margin-left: 4rem;
    }
    </style>
    <section>
        <div class="container pt-4 pb-5">
            <div class="row">
                <div class="col-md-12 text-justify">

                 <p>  <b>1.  Indo German Energy Forum (IGEF): </b>The Indo-German Energy Forum (IGEF) was established in April, 2006 between Government of the Federal Republic of Germany and Republic of India to intensify the Indo-German Co-operation to promote dialogue and cooperation with involvement of public and private sector in the areas of energy security, energy efficiency, renewable energy, investment in energy projects and collaborative R&D. While the IGEF is a high-level policy dialogue between India and Germany, the IGEF Support Office is incorporated in the structure of the Indo-German Energy Programme (IGEN). Under the Indo-German Energy Forum there are 4 sub-groups. Sub-group 1 is efficiency enhancement in fossil fuel-based power plants, Sub-group 2 is renewable energy , Sub-group 3 is demand side energy efficiency and low carbon growth strategies and Sub group 4 is on "Green Energy Corridors" which focuses on large scale grid integration of renewable energy sources. In the sub-group 3, the Indian Ministry of Power (MOP) and the German Federal Ministry of Economic Affairs and Energy (BMWi), together with the Federal  Ministry for the Environment,  Nature Conservation, Buildings and Nuclear Safety (BMUB) are working together to put in place a positive environment for enhancing energy efficiency in their respective countries. This is achieved by facilitating a constructive dialogue between decision-makers in government and the private sector in both countries. The conditions for integrating renewable energy into the grid and usage of energy efficiently, improved and PAT II cycle has more designated consumers.</p>
<p>As on date, eight IGEF Sub Group-3 meetings have been held with the last meeting was held 4th October, 2018. The Indian side was co-chaired by Shri Abhay Bakre - Director General, Bureau of Energy Efficiency while German side was co-chaired by Dr. Georg Maue, Deputy Head of Division, General issues of energy efficiency Federal Ministry for Economics and Energy (BMWi), Government of Germany. The meeting was attended by representatives of Bureau of Energy Efficiency (BEE), Embassy of Germany, KfW and GIZ.</p>


<p><b>The activities undertaken through the Sub Group 3 are as below:</b></p>

<ul style="margin-left: 3rem;">
                        <li><i class="fa-li fas fa-check-square disfa"></i>In the residential buildings sector, Fraunhofer institute and TERI jointly developed an energy performance assessment tool which calculates energy saving potential for various energy efficiency measures in the residential buildings in India.</li>
                        <li><i class="fa-li fas fa-check-square disfa"></i>For developing an international internet-based knowledge platform for energy efficiency in various fields, the German side established a platform i.e. big EE which means "Bridging the Information Gap on Energy Efficiency.</li>
                        <li><i class="fa-li fas fa-check-square disfa"></i>Report launched on ‘Demand Analysis for Cooling by Sector in India in 2027’. The report highlights that the country's cooling energy demand will rise to 2.2 times the existing level by 2027 and interventions can help cut it down by 17 per cent in the next decade It explores India's cooling demand in buildings, mobile air-conditioning, refrigeration, cold-chain and process cooling in industries, and identifies key technological, operational and market interventions for the largest energy and carbon savings in cooling</li>
                        <li><i class="fa-li fas fa-check-square disfa"></i>Report launched on ‘Energy Efficiency Potential in India’ which underlined the potential of saving energy and greenhouse gas emissions, through energy efficiency measures</li>


                    </ul> 



                     <p>  <b>2. Indo German Energy Programme (IGEN) :</b>The Indo-German Technical Co-operation in the field of Energy Conservation has been going on since 1995, when the Indo-German Energy Efficiency project, was launched in May 1995, by the Energy Management Centre, a predecessor organization of the Bureau of Energy Efficiency (BEE), through Tata Energy Research Institute, Bangalore. The project was completed in September 2000. With the enactment of the Energy Conservation Act 2001 and establishment of Bureau of Energy Efficiency with effect from 1st March 2002, the cooperation in the field of energy conservation continued under the project "Indo-German Energy Programme (IGEN) with the objective to support policies and programmes of the Energy Conservation Act.</p>


<p><b>The GIZ has considered providing TA support for the following activities:</b></p>

<ul style="margin-left: 3rem;">
                        <li><i class="fa-li fas fa-check-square disfa"></i>BEE and GIZ under the framework of IGEN has signed supplementary agreement (w.r.t to the existing Implementation agreement between BEE and GIZ under IGEN) to collaborate in the residential buildings sector.</li>
                        <li><i class="fa-li fas fa-check-square disfa"></i>An online tool - ECO-NIWAS has been jointly developed by BEE and GIZ to guide the public in incorporating energy efficiency elements in their homes, such as building materials, its design features and appliances.</li>
                        <li><i class="fa-li fas fa-check-square disfa"></i>RThe support from the German side has been instrumental in successful completion of PAT cycle – I and the partnership has been continued by taking up subsequent cycles of PAT through expansion of coverage by inclusion of new sectors as well as enhancing industries covered under the existing sectors of PAT. Also, in order to penetrate energy efficiency in the residential buildings sector, BEE and GIZ have been working together for formulating energy efficiency building codes for the multi-storey residential buildings.</li>
                        <li><i class="fa-li fas fa-check-square disfa"></i>Support to BEE towards conducting annual National Painting Competition and National Energy Conservation Awards through GIZ.</li>
                        <li><i class="fa-li fas fa-check-square disfa"></i>Technical Assistance towards development of National Energy Efficiency Standards for New Large Residential Buildings.</li>
                        <li><i class="fa-li fas fa-check-square disfa"></i>Support to incorporate provisions regarding mandatory introduction of Energy Efficiency Standards in New Multi-Storey Residential Building.</li>
 </ul> 

                     <b><h5 style="color:#297b37;">Links:</h5></b>

                    
                    <a href="https://beeindia.gov.in/content/germany">https://beeindia.gov.in/content/germany</a>
                </div>
            </div>
        </div>
    </section>

    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title">
                        <h3 class="text-white"><small>Stay in Loop</small><br> Join our Newsletter</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="news-info">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Your Email Address">
                                <div class="form_icon"><i class="fas fa-envelope"></i></div>
                            </div>
                            <input type="submit" class="sigup" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Newsletter End-->



    <?php include('include/footer.php'); ?>
    <script src="js/all.js"></script>
    <script src="js/script.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5-ed0P7eZL44UHUnOF_WB-BN3XaUk4zk&callback=initMap&sensor=false&region=IN"></script>
    <script type="text/javascript">
        var markers = [{
                "title": 'Pune',
                "lat": '18.5196',
                "lng": '73.8553',
                "description": 'Pune is a mixed cluster in Maharastra <a href="abc.php">Read More</a>',
                "icon": 'https://lav.indevconsultancy.com/energy/d17/images/icons/mixed-industries.png'
            },
            {
                "title": 'Navi Mumbai',
                "lat": '18.990713',
                "lng": '73.116844',
                "description": 'Navi Mumbai is Foundry Cluster in Maharastra <a href="abc.php">Read More</a>',
                "icon": 'https://lav.indevconsultancy.com/energy/d17/images/icons/foundry.png'
            }
        ];
        window.onload = function() {
            LoadMap();
        }

        function LoadMap() {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 6,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

            //Create and open InfoWindow.
            var infoWindow = new google.maps.InfoWindow();

            for (var i = 0; i < markers.length; i++) {
                var data = markers[i];
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.title,
                    icon: data.icon
                });

                //Attach click event to the marker.
                (function(marker, data) {
                    google.maps.event.addListener(marker, "click", function(e) {
                        //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                        infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
        }
    </script>

    <script>
        (function($) {
            // $('.accordion > a').addClass('active').next().slideDown();
            $('.accordion > a:eq(0) a').addClass('active').next().slideDown();


            $('.accordion a').click(function(j) {
                // var dropDown = $(this).closest('a').find('a');

                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                } else {
                    $(this).closest('.accordion').find('a.active').removeClass('active');
                    $(this).addClass('active');
                }
                dropDown.stop(false, true).slideToggle();
                j.preventDefault();
            });
        })(jQuery);
    </script>
</body>
