@{
    ViewBag.Title = "BEE_SME_Programme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-10 pb-20">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <section class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="inner-content clearfix">
                                <div class="title_breadcrumb float-left">
                                    <h1>Japan-India Energy Dialogue</h1>
                                </div>
                                <div class="breadcrumb-menu float-right">
                                    <ul class="clearfix">
                                        <li><a href="/">Programmes</a></li>
                                        <li class="active">Japan-India Energy Dialogue</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @*<h4 class="text-theme-colored">Japan-India Energy Dialogue</h4>*@
            <hr />
            <div class="row">
                <div class="col-md-12 text-justify">

                    <p class="text-justify">
                        As an outcome of the visit of the Prime Minister of India to Japan in December, 2006, a High Level Indo – Japan Energy Dialogue Co-chaired by Dy. Chairman Planning Commission and Minister of METI to promote cooperation in energy sector in a comprehensive manner. Energy Efficiency is a key component of the Dialogue, BEE and Energy Conservation Centre for Japan (ECCJ) are implementing agencies from two countries. Several working groups with chairs from Japanese and Indian side have been constitute to take the dialogue forward.</p>

                        <p class="text-justify">Under the aegis of Indo-Japan Energy Dialogue, meeting of Energy Efficiency Working Group was held on 2nd September, 2013 under the chairmanship of Joint Secretary (EC), Ministry of Power. The purpose of the meeting was to identify the key areas of cooperation for Energy Efficiency and Conservation between two countries.<br>
Under Indo-Japan Energy Dialogue the meeting of Working Group on Energy Efficiency (EEWG) was held on 31stMay 2017 at Bureau of Energy Efficiency.This EEWG meeting was held under the chairmanship of Shri AbhayBhakre, Director General, Bureau of Energy Efficiency in which the members from Japanese side Mr. Katsushi Takehiro, Director and Mr. AtsuhiroTsuno, Assistant Director, Energy Conservation and Renewable Energy Dept. of Minister of Economy, Trade and Industry(METI) were present. Othermembers from ECCJ, PCRA and TERI were participated in meeting. During the meeting, discussions were held on the cooperation project on Energy Conservation Guidelines and Energy Management Manual, Capacity Building of Energy Manager & Energy Auditor, Waste Heat Recovery, Heat Pump in Buildings, Best practice guide in the foundries sector etc. India’s effort towards Energy Efficiency especially with BEE’s PAT scheme was appreciated by METI. The outcomes of this meeting will strengthen the cooperation of Japan & India on Energy Efficiency and also help for future Energy Dialogue.

                    </p>


                    <h6><b>Links:</b></h6>

                    <ul>
                        <li><i class="fa-li fas fa-check-square disfa"></i>&nbsp;  <a href="https://beeindia.gov.in/photo-gallery/energy-efficiency-working-group-meeting-under-indo-japan-energy-dialogue">Photographs</a></li>
                        <li><i class="fa-li fas fa-check-square disfa"></i>&nbsp;  <a href="https://beeindia.gov.in/content/japan">https://beeindia.gov.in/content/japan</a></li>


                    </ul>

                   

                   
                </div>
            </div>
        </div>
    </div>
    </section>

