@{
    ViewBag.Title = "BEE_SME_Programme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .fa-check-square:before {
        content: "\f14a";
        margin-left: 4rem;
    }
    .report-container .report-thumb a {
    background: #4990e1;
    display: block;
    position: relative;
    padding: 4px 10px;
    color: #fff;
    border-radius: 0;
    font-size: .9rem;
    text-decoration: none;
    text-align: center;
    margin-top:20px;
}
    </style>

     <section class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="inner-content clearfix">
                                <div class="title_breadcrumb float-left">
                                    <h1>Brick Mission</h1>
                                </div>
                                <div class="breadcrumb-menu float-right">
                                    <ul class="clearfix">
                                        <li><a href="/">Programmes</a></li>
                                        <li class="active">Brick Mission</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    <section>
        <div class="container pt-4 pb-5">
        <div class="row">
                <div class="col-md-12 text-justify">

                    <p>
                        Bureau of Energy Efficiency invites Expression of Interest (EOI) from fired clay brick manufacturers to register under the "Energy Efficient Enterprise (E3)” certificate scheme. <br>
The BEE is proposing a market transformation strategy under which brick manufacturers who adopt energy-efficient manufacturing shall be awarded a “Energy Efficient Enterprise (E3)” certificate with a scheme logo. The scheme is currently being piloted and carries no certification fee by the BEE. BEE shall popularise the E3 scheme and its logo amongst brick customers with the intent that they understand the benefits of procuring from E3 certified manufacturers. The adoption of E3 certificate shall be wholly voluntary by Industry.<br><br>

<b>E3 Scheme:</b> "Energy Efficient Enterprise (E3)” scheme is a voluntary certification awarded by the BEE, intended to recognize clay brick manufacturers with energy use below defined thresholds. The E3 certification, pushes for ‘Atma-Nirbhar Bharat’ and is expected to trigger technological transition in brick manufacturing and encourage product innovation, yielding economic, social and environmental benefits. <br><br>
<b>Certification process:</b> Interested manufacturing units should apply through Proforma A. The information submitted through Proforma A shall be assessed by the BEE for eligibility as defined under the E3 scheme. Only Eligible applicants shall be informed of subsequent certification requirements.<br><br>
<b>A scheme to generate customer demand:</b> The BEE shall popularise the scheme logo amongst customers through targeted media outreach. E3 certified manufacturers making use of the E3 logo for marketing purposes shall be easily recognizable from other manufacturers. In time, the E3 certificate may also enable access to other capacity building initiatives by the BEE or other stakeholders.<br><br>
<b>Certification validity:</b> The E3 Certification is valid for 3 years subject to annual verification by a third party. The third party shall be appointed by the manufacturing unit and the cost borne by them.

                    </p>



                      <b><h5 style="color:#297b37;">Links:</h5></b>

                     <a href="https://beeindia.gov.in/content/e3-scheme-brick-sector">https://beeindia.gov.in/content/e3-scheme-brick-sector</a><br><br>

             

                              <h5 style="color:#000;">Mission/ Scheme Document:</h5> 
                            

               

           <div class="row report-box">


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf\brick mission/1.pdf" >Instructions_Proforma-A_E3 Scheme</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                              <a href="pdf\brick mission/2.pdf" >Proforma A_E3 Scheme </a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf\brick mission/3.pdf" >SEC Calculation Tool_Proforma A</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                                  <a href="pdf\brick mission/4.pdf" >Proforma A_E3 Scheme_0</a>
                            </div>
                        </div>
                      </div>
                </div> 


        


              


                 
                </div>
                    


                </div>
            </div>
        </div>
    </section>

    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title">
                        <h3 class="text-white"><small>Stay in Loop</small><br> Join our Newsletter</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="news-info">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Your Email Address">
                                <div class="form_icon"><i class="fas fa-envelope"></i></div>
                            </div>
                            <input type="submit" class="sigup" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Newsletter End-->



    <?php include('include/footer.php'); ?>
    <script src="js/all.js"></script>
    <script src="js/script.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5-ed0P7eZL44UHUnOF_WB-BN3XaUk4zk&callback=initMap&sensor=false&region=IN"></script>
    <script type="text/javascript">
        var markers = [{
                "title": 'Pune',
                "lat": '18.5196',
                "lng": '73.8553',
                "description": 'Pune is a mixed cluster in Maharastra <a href="abc.php">Read More</a>',
                "icon": 'https://lav.indevconsultancy.com/energy/d17/images/icons/mixed-industries.png'
            },
            {
                "title": 'Navi Mumbai',
                "lat": '18.990713',
                "lng": '73.116844',
                "description": 'Navi Mumbai is Foundry Cluster in Maharastra <a href="abc.php">Read More</a>',
                "icon": 'https://lav.indevconsultancy.com/energy/d17/images/icons/foundry.png'
            }
        ];
        window.onload = function() {
            LoadMap();
        }

        function LoadMap() {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 6,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

            //Create and open InfoWindow.
            var infoWindow = new google.maps.InfoWindow();

            for (var i = 0; i < markers.length; i++) {
                var data = markers[i];
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.title,
                    icon: data.icon
                });

                //Attach click event to the marker.
                (function(marker, data) {
                    google.maps.event.addListener(marker, "click", function(e) {
                        //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                        infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
        }
    </script>

    <script>
        (function($) {
            // $('.accordion > a').addClass('active').next().slideDown();
            $('.accordion > a:eq(0) a').addClass('active').next().slideDown();


            $('.accordion a').click(function(j) {
                // var dropDown = $(this).closest('a').find('a');

                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                } else {
                    $(this).closest('.accordion').find('a.active').removeClass('active');
                    $(this).addClass('active');
                }
                dropDown.stop(false, true).slideToggle();
                j.preventDefault();
            });
        })(jQuery);
    </script>
</body>