@charset "utf-8";

.no-margin-top {
    margin-top: 0 !important;
}

.margin-top-bottom {
    margin-top: 10px;
    margin-bottom: 100px;
}

.bg-white {
    background-color: #fff !important;
}

.bg-gray {
    background-color: #f1f0f0 !important;
}

.blue-color {
    background-color: #424692 !important;
}

.green-color {
    background-color: #46a45a !important;
}

ul.list.angle-double-right li:before {
    margin-right: 10px;
}

.min-height-400 {
    min-height: 400px;
}

.min-height-270{
    min-height:290px;
}

/* All color change as bee logo color Start */
.text-theme-color-2, .work-gallery .gallery-bottom-part .title {
    color: #46a45a !important;
}

.portfolio-filter a.active, .portfolio-filter a:hover {
    border-left: 3px solid #46a45a !important;
}

.team-block .team-thumb .styled-icons a:hover, .work-gallery .gallery-thumb .styled-icons a:hover, .work-gallery:hover .gallery-bottom-part, .line-bottom-theme-colored-2:after, .panel-group .panel-title a.active::after {
    background: #46a45a !important;
}

.panel-group .panel-title a.active::after {
    background-color: #46a45a !important;
}

.icon-box.icon-rounded-bordered i, .widget .line-bottom:after, .widget .line-bottom:after, .pager.theme-colored a {
    border: 1px solid #46a45a !important;
}
/* All color change as bee logo color End */

.pt-7 {
    padding-top: 7px;
}

.pt-0 {
    padding-top: 0px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-15 {
    padding-top: 15px !important;
}

.margin-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

/* Input Height */
.inputbox-height {
    height: 35px !important;
}

.inputbox-height-30 {
    height: 30px !important;
}

.text-align-center {
    text-align: center !important;
}

a {
    color: #1F386B;
    background-color: inherit;
}

    a:focus, a:hover {
        color: #23527c;
        background-color: inherit;
    }

hr {
    border-color: #dddddd;
    margin-bottom: 15px;
    margin-top: 15px;
}

.odd-bg-color {
    background-color: #d5e2e8;
}

.word-break-content td {
    word-break: break-all;
}

form {
    margin-bottom: 0;
}

.bg-blue-inner-header:before {
    background-color: #1e82d3 !important;
}

.small-height-field {
    height: 30px !important;
}

.form-control {
    padding: 3px 12px 6px;
}

form label {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
}

.required-red {
    color: red;
}

.width-100 {
    width: 100px !important;
}

.width-150 {
    width: 150px !important;
}

.width-200 {
    width: 200px !important;
}

.width-70 {
    width: 70px !important;
}

/* Scroll Start */
.scroller {
    padding-right: 12px;
}

.sidebar-left {
    background-color: #e4e3e3;
    padding: 15px;
}
/* Scroll End */

/* Button Start */
.btn {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.newsletter-form .newsletter-button {
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}
/* Button End */

/* Table Small Padding Start */
.table-small-padding th, .table-small-padding td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.table-Valign-middle th, .table-Valign-middle td {
    vertical-align: middle !important;
}
/* Table Small Padding End */

/* Data Table Style Start */
.datatable-field-height select.input-inline {
    height: 30px !important;
}

.datatable-field-height input.input-inline {
    height: 30px !important;
}

.datatable-field-height .dataTables_length label {
    display: inline-block;
}

    .datatable-field-height .dataTables_length label .input-inline {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }

.datatable-field-height .dataTables_filter label .input-inline {
    display: inline-block;
    margin-left: 5px;
}
/* Data Table Style End */

/* CSS Document */
/*.bg-Green-Light {
  background-color: #e0e8d4 !important;
}*/

/* Header Top Start */
.header-top.bg-theme-color-2 {
    background: #46a45a !important;
}

.header-top-left li {
    vertical-align: top;
}

.search-section-top {
    margin-bottom: 0;
}

    .search-section-top input[type="text"] {
        width: 200px;
        height: 30px;
    }

    .search-section-top .input-group-btn {
        float: left;
    }

        .search-section-top .input-group-btn button {
            padding-top: 5px;
            padding-bottom: 5px;
        }

.header-nav .header-nav-wrapper .menuzord {
    background: #f1f0f0;
}

/* Nav Start */
.menuzord-menu ul.dropdown, .menuzord-menu ul.dropdown li ul.dropdown {
    background: #e4e3e3;
}
/* Nav End */

/* Logo Start */
.menuzord-brand {
    margin-top: 13px;
    margin-right: 10px;
}
.menuzord-brand img {
    max-height: 50px;
}
/*.logo-outer{ width: 44%; }*/
.logo-tagline {
    margin-top: 28px;
    font-size: 24px;
    line-height: 25px;
    display: inline-block;
    font-weight: 700;
    color: #19aeda;
    margin-left: 10px;
}

    .logo-tagline span {
        display: block;
    }
/* Logo Start */
/* Header Top End */

/* Slider bottom Box Start */
.slider-bottom-box .lead {
    font-size: 14px;
}
/* Slider bottom Box End */

.menu-body-custom ul li a {
    color: #fff;
}

/* Projects Achievements Start */
.layer-overlay::before {
    background-color: rgba(17, 17, 17, 0.8);
}

.layer-overlay.overlay-dark-8::before {
    background-color: rgba(17, 17, 17, 0.2);
}
/* Projects Achievements End */

/* Project Components Start */
.project-components-item .project-components-item-image {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    min-height: 200px;
    /*min-height:278px;*/
}

.project-components-item .project-components-item-image-150{
   min-height: 150px; 
}

.project-components-item .components-item-image-outer {
    position: relative;
    overflow: hidden;
}

    .project-components-item .components-item-image-outer .components-item-image-overley {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #000;
        color: #fff;
        opacity: 0;
        filter: alpha(opacity=0); /* For IE8 and earlier */
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .project-components-item .components-item-image-outer .components-item-image-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: left;
        vertical-align: middle;
        z-index: 2;
        background-color: inherit;
        color: #fff;
        padding: 15px;
        opacity: 0;
        filter: alpha(opacity=0); /* For IE8 and earlier */
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .project-components-item .components-item-image-outer:hover .components-item-image-overley, .project-components-item .components-item-image-outer:hover .components-item-image-content {
        opacity: 0.7;
        filter: alpha(opacity=70); /* For IE8 and earlier */
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        /*transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;*/
    }

    .project-components-item .components-item-image-outer:hover .components-item-image-content {
        opacity: 1;
        filter: alpha(opacity=1); /* For IE8 and earlier */
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        /*transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;*/
    }

.program-com-section-custom ul {
    list-style: outside;
}

    .program-com-section-custom ul li {
        list-style-type: disc;
        font-size: 14px;
        line-height: 17px;
        padding: 0 0 0 2px;
        margin: 0 0 10px 16px;
    }

        .program-com-section-custom ul li a {
            color: #666666;
            background-color: inherit;
        }

            .program-com-section-custom ul li a:hover {
                color: #1F386B;
                background-color: inherit;
            }

.project-components-item-table{
    display:table;
     width:100%;
}
.project-components-item-table-cell{
    display:table-cell;
    vertical-align:middle;
    text-align:center !important;
}
.project-components-item-table-cell a{
    color:#fff;
}
.project-components-item-table-cell a:hover{
    color:#fff;
}
/* Project Components End */

/* Photo Gallery Start */
.section-title {
    margin-bottom: 10px;
}

/* Photo Gallery End */

/* Video Gallery Start */
.video-section-custom .work-gallery .gallery-bottom-part {
    background-color: #e8e4e4;
}
/* Video Gallery End */

/* isotopes Start */
.isotope-outer .video-icon-gallery {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #1F386B;
    color: #fff;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    display: table;
    margin: -15px 0 0 -15px;
}

    .isotope-outer .video-icon-gallery i {
        color: #fff;
        display: table-cell;
        vertical-align: middle;
    }
/* isotopes End */

/* Upcoming Event Start */
.upcoming-event-item .entry-header .upcoming-item-image {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    min-height: 200px;
}
/*.upcoming-item-content{ display:flex; display:-webkit-flex; min-height:300px; }
.upcoming-item-content-sub{ -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;  }*/
.upcoming-item-content {
    display: table;
    width: 100%;
    min-height: 200px;
}

.upcoming-item-content-sub {
    display: table-cell;
    height: 100%;
    position: relative;
}

    .upcoming-item-content-sub .event-content h5 {
        min-height: 44px;
    }

    .upcoming-item-content-sub .readmore-btn-event {
        position: absolute;
        bottom: 0;
    }

.pp_pic_holder .pp_content_container .pp_expand {
    display: none !important;
}
/* Upcoming Event End */

/* Recent Event Start */
.recent-event-item .thumb .recent-item-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    /*min-height:153px;*/
    min-height: 177px;
}
/* Recent Event End */

/* Event Date Start */
.event-date-time {
    color: #1F386B !important;
    font-style: italic;
}
/* Event Date End */

/* Event & RSS feeds Start */
.event-data-time-location {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
}

.event-feeds-section .event-section .product {
    margin-bottom: 10px;
}

.event-feeds-section .event-section .product {
    padding-bottom: 10px;
    min-height: 300px;
}

    .event-feeds-section .event-section .product .product-details {
        padding-left: 10px;
        padding-right: 10px;
    }

        .event-feeds-section .event-section .product .product-details .product-title {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .event-feeds-section .event-section .product .product-details p {
            margin-bottom: 5px;
        }

.rss-feeds-section .feed-item-title {
    font-size: 12px;
}

.rss-feeds-section .feed-item-desc {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    font-size: 12px;
    clear: both;
    content: "";
    display: table;
}

.rss-feeds-section:last-child .feed-item-desc {
    /*padding-bottom:0;*/
    /*margin-bottom:0;*/
}

.rss-feeds-section .rss2html-note {
    display: none;
}
/* Event & RSS feeds End */

/* Accordion Start */
.panel-group .panel-title a.active {
    color: #fff !important;
}

.panel-group .panel-content {
    text-align: justify;
}
/* Accordion End */

/* Gallery Isotope Start */
.gallery-isotope-custom .gallery-item .thumb img {
    max-height: 176px;
}

.gallery-isotope-custom .gallery-hm-btn {
    position: absolute;
    right: 15px;
    top: 0;
}
/* Gallery Isotope End */

/* Event Details Page Start */
.event-details-section .single-service .event-details-img {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    /*min-height:153px;*/
    min-height: 250px;
}

.event-details-section .single-service p {
    text-align: justify;
}
/* Event Details Page End */

/* Nav Start */
.nav-custom.menu-right {
    float: right;
}

.nav-custom > ul > li {
    padding: 24px 0;
    display: inline-block;
    float: left;
}

.main-nav > li > a {
    padding: 26px 16px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #888;
    outline: 0;
    line-height: 1.42857143;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.main-nav > li > a {
    font-size: 13px;
    color: #333333;
    padding: 8px 16px;
    border-radius: 30px;
}

.main-nav li ul.dropdown li .indicator {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 15px;
}

.main-nav li .indicator {
    margin-left: 3px;
}

.menuzord .main-nav > li.active > a, .menuzord .main-nav > li:hover > a, .menuzord .main-nav ul.dropdown li:hover > a {
    background: #1F386B;
    color: #fff;
}

.main-nav ul.dropdown {
    top: 83px;
}

.main-nav ul.dropdown {
    border: 1px solid #eee;
}

    .main-nav ul.dropdown, .main-nav ul.dropdown li ul.dropdown {
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        z-index: 99;
        min-width: 180px;
        white-space: nowrap;
        background: #fff;
    }

        .main-nav ul.dropdown li ul.dropdown {
            left: 100%;
        }

        .main-nav ul.dropdown li ul.dropdown {
            top: 0;
        }

        .main-nav ul.dropdown, .main-nav ul.dropdown li ul.dropdown {
            background: #e4e3e3;
        }

            .main-nav ul.dropdown li {
                clear: both;
                width: 100%;
                border: 0 none;
                font-size: 12px;
                position: relative;
            }

            .main-nav ul.dropdown li {
                margin: 0;
            }

                .main-nav ul.dropdown li a {
                    width: 100%;
                    background: none;
                    padding: 10px 25px 10px 22px;
                    color: #888;
                    text-decoration: none;
                    display: inline-block;
                    float: left;
                    clear: both;
                    position: relative;
                    outline: 0;
                    -o-transition: padding .2s linear;
                    -moz-transition: padding .2s linear;
                    -webkit-transition: padding .2s linear;
                    transition: padding .2s linear;
                }

                .main-nav ul.dropdown li a {
                    color: #666666;
                    font-size: 12px;
                    font-weight: 600;
                    padding: 7px 25px 7px 22px;
                }

.nav-custom > .main-nav > li:hover > ul.dropdown {
    display: block;
}

.nav-custom > .main-nav > li > ul.dropdown > li:hover > ul.dropdown {
    display: block;
}

.nav-custom > .main-nav > li:last-child > ul.dropdown {
    right: 0;
}
/* Nav End */

/* New List Style Start */
.list-padding li {
    padding-top: 20px;
    padding-bottom: 20px;
}

.badge-custom {
    background-color: #47a45b;
    color: #fff;
    padding: 5px 7px;
}

    .badge-custom a {
        color: #fff;
        /*margin:10px 0 10px 10px;*/
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: top;
        line-height: 15px;
    }

    .badge-custom i {
        font-size: 15px;
        line-height: 15px;
    }
/* New List Style End */

/* Footer Start */
.footer .project-partners-section .media-post img {
    width: 55px;
}
/* Footer End */

/* login page Start */
.login-heading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(30, 56, 107);
    padding: 15px;
    text-align: center;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    color: #fff;
}

    .login-heading h2 {
        padding: 0;
        margin: 0;
        font-size: 15px;
        line-height: 19px;
        color: #fff;
    }

.divider.login-bg .container {
    padding-top: 35px;
    padding-bottom: 35px;
}

.noboxshadow {
    -webkit-box-shadow: inherit !important;
    -moz-box-shadow: inherit !important;
    box-shadow: inherit !important;
}

.login-bg { /*background-color:#fff !important;*/
    background: rgb(70,164,90);
    background: linear-gradient(180deg, rgba(70,164,90,1) 0%, rgba(70,164,90,1) 35%, rgba(255,255,255,1) 100%);
}

.login-inn-bg {
    background-color: rgb(236, 236, 236);
    border: 1px solid #7b7b7b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: #0b1d0f 0px 0px 20px;
    -moz-box-shadow: #0b1d0f 0px 0px 20px;
    box-shadow: #0b1d0f 0px 0px 20px;
}

.login-inn {
    padding: 60px 0 15px 0;
}

    .login-inn hr {
        border-color: #848484;
    }

    .login-inn .text-align-center p {
        font-size: 12px;
    }

.login-inn-bg .btn-sm {
    font-size: 14px;
}
/* login page End */

/* Sitemap Start */
.sitemap-outer .sitemap-list li {
    padding-left: 0;
    font-size: 12px;
}
/*.sitemap-outer .sitemap-list ul{ padding-left:15px; font-size:12px; }*/
.sitemap-outer .sitemap-list ul.circle li:before {
    content: "\f1db";
    font-family: fontawesome;
    font-size: 12px;
}
/* Sitemap End */

/* Solical Section Start */
.social-outer {
    background-color: /*#222222*/ #5e6d8e;
    color: inherit;
    position: absolute;
    right: 0;
    top: 435px;
    padding: 5px 9px 5px 9px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    z-index: 9999;
}

    .social-outer ul li {
        float: none;
        display: inherit;
    }

        .social-outer ul li a {
            margin-right: 0;
            margin-bottom: 6px;
            margin-top: 6px;
        }

    .social-outer .styled-icons.icon-dark a {
        font-size: 16px;
        height: 32px;
        line-height: 32px;
        width: 32px;
    }

.media-floater {
    left: 0;
    right: inherit;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

    .media-floater .styled-icons.icon-dark a {
        height: 50px;
        line-height: 47px;
        width: 50px;
        margin-bottom: 4px;
        margin-top: 4px;
    }

/* Lavel 2 Start */
.social-outer-other {
    position: absolute;
    right: 0;
    top: 435px;
    z-index: 9999;
}

    .social-outer-other ul li {
        float: none;
        background-color: #cbddf3;
        display: block;
        /*width:45px;
    height:43px;*/
        margin: 0 0 3px 0;
        padding: 3px;
        position: relative;
        -webkit-border-radius: 20px 0 0 20px;
        -moz-border-radius: 20px 0 0 20px;
        border-radius: 20px 0 0 20px;
        -o-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.50s ease-in-out;
        cursor: pointer;
    }

        .social-outer-other ul li .social-text {
            position: absolute;
            left: 48px;
            top: 3px;
            line-height: 30px;
            color: #292929;
            font-size: 14px;
        }

        .social-outer-other ul li a {
            margin: 0;
            -webkit-border-radius: 40px;
            -moz-border-radius: 40px;
            border-radius: 40px;
            float: none;
        }

    .social-outer-other .styled-icons.icon-dark a {
        font-size: 15px;
        height: 30px;
        line-height: 30px;
        width: 30px;
    }

    /*.social-outer-other ul li:hover .social-text{ display:block; visibility:visible; }*/
    .social-outer-other ul li:hover {
        margin-left: -90px;
    }

.styled-icons.icon-dark a:hover {
    color: #fff;
}

/* Media Outer Start */
.media-outer-other {
    position: absolute;
    top: 435px;
    z-index: 9999;
    left: 0;
}

    .media-outer-other ul li {
        float: none;
        background-color: #cbddf3;
        display: inherit;
        width: 45px;
        height: 43px;
        margin: 0 0 3px 0;
        padding: 3px;
        position: absolute;
        -webkit-border-radius: 0 20px 20px 0;
        -moz-border-radius: 0 20px 20px 0;
        border-radius: 0 20px 20px 0;
        -o-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
    }

        .media-outer-other ul li .social-text {
            position: absolute;
            right: 48px;
            top: 3px;
            line-height: 30px;
            color: #292929;
            font-size: 14px;
            line-height: 37px;
            display: block;
            width: 109px;
            text-align: right;
        }

        .media-outer-other ul li a img {
            margin: 0;
            -webkit-border-radius: 40px;
            -moz-border-radius: 40px;
            border-radius: 40px;
            float: none;
            display: block;
        }

        .media-outer-other ul li a {
            margin: 0;
            /*-webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;*/
            /*float:none;
    display:block;*/
            display: block;
            width: 38px;
            float: right;
            background-color: transparent;
        }

        .media-outer-other ul li.media-01 {
            left: 0;
            top: 0;
        }

        .media-outer-other ul li.media-02 {
            left: 0;
            top: 46px;
        }

        .media-outer-other ul li.media-03 {
            left: 0;
            top: 92px;
        }

            .media-outer-other ul li.media-01:hover, .media-outer-other ul li.media-02:hover, .media-outer-other ul li.media-03:hover { /*padding:0 0 0 190px;*/
                width: 130px;
            }

/*.media-outer-other ul li.media-01 span.media-01-01{ display:block; }*/
/*.media-outer-other ul li.media-01:hover{ border:1px solid #000; position:absolute;  }*/
/*.media-outer-other ul li.media-01:hover a, .media-outer-other ul li.media-02:hover a, .media-outer-other ul li.media-03:hover a{    
    margin-left: -42px;
    position: relative;
    margin-top: 3px; }*/
/* Media Outer End */
/* Lavel 2 End */
/* Solical Section End */

/* Full Width Content Section Start */
.full-width-content-hm {
    background-color: #222222;
}

    .full-width-content-hm .container p {
        color: #fff;
    }

    .full-width-content-hm .container h3 {
        color: #fff;
    }

    .full-width-content-hm .container h3 a{
        color:#fff;
    }

/* Assessment Icon Start */
.assessment-cogs-icon {
    display: block;
    text-align: center;
}

    .assessment-cogs-icon i {
        font-size: 48px;
        color: #01b6f0;
    }

.assessment-bar-icon {
    display: block;
    text-align: center;
}

    .assessment-bar-icon i {
        font-size: 48px;
        color: #d2e043;
    }
/* Assessment Icon End */
/* Full Width Content Section End */

/* Digital Library Page Start */
/*.digital-item-outer{  
    position:relative;
    overflow:hidden;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    min-height: 200px;
}
.digital-item-content{
    position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;        
        z-index: 2;
        font-size:20px;
        background-color:inherit;
        color: #fff;
        font-weight:600;
        padding: 15px;
        display:table;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
}
.digital-item-content span{
    display:table-cell;
    vertical-align: middle;
   }
.digital-item-content:hover{
    background-color: #1F386B;
    color: #fff;
}*/
/* Digital Library Page End */

