@model BEEKP.Models.HomeViewModel

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="~/js/all.js"></script>
<script src="~/js/script.js"></script>
<script src="~/Scripts/jquery-ui-1.13.0.js"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="~/js/jquery-plugin-collection.js"></script>
<!--Newsletter Start-->
<div class="newsletter-wrap wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="title">
                    <h3 class="text-white"><small class="news_sm">Stay in Loop</small><br> Join our Newsletter</h3>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="news-info">
                    <form>
                        @using (Html.BeginForm("Subscription", "Home", FormMethod.Post, new { @id = "frmSubscription" }))
                        {

                            @Html.AntiForgeryToken()

                            <div class="input-group">
                                <input type="email" name="EMAIL" class="form-control" placeholder="Your Email Address" data-height="37px" id="idEMAIL">
                                <div class="form_icon"><i class="fas fa-envelope"></i></div>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-colored btn-theme-colored m-0 bt1" onclick="Subscriptionpost()"><i class="fas fa-paper-plane text-white"></i></button>
                                </span>
                            </div>
                        }
                        @* @using (Html.BeginForm("Subscription", "Home", FormMethod.Post, new { @id = "frmSubscription", @name = "frmSubscription" }))
                            {
                                @Html.AntiForgeryToken()


                                <label class="display-block" for="mce-EMAIL"></label>
                                <div class="input-group">
                                    <input type="email" value="" name="EMAIL" placeholder="Your Email" class="form-control inputbox-height-30" data-height="37px" id="idEMAIL">

                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-colored btn-theme-colored m-0" onclick="Subscriptionpost()"><i class="fas fa-paper-plane text-white"></i></button>
                                    </span>
                                </div>

                            }*@
                    </form>
                    @*@using (Html.BeginForm("Subscription", "Home", FormMethod.Post, new { @id = "frmSubscription", @name = "frmSubscription" }))
                        {
                            @Html.AntiForgeryToken()


                            <label class="display-block" for="mce-EMAIL"></label>
                            <div class="input-group">
                                <input type="email" value="" name="EMAIL" placeholder="Your Email" class="form-control inputbox-height-30" data-height="37px" id="idEMAIL">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-colored btn-theme-colored m-0" onclick="Subscriptionpost()"><i class="fa fa-paper-plane-o text-white"></i></button>
                                </span>
                            </div>

                        }*@

                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS | jquery plugin collection for this theme -->
<script src="~/js/jquery-plugin-collection.js"></script>
<script>
    $(document).ready(function () {

    });
    AddAntiForgeryToken = function (data) {
        data = $('#frmSubscription input[name=__RequestVerificationToken]').val();
        return data;
    };
    function Subscriptionpost() {
        var email_val = $("#idEMAIL").val();
        //$("#divEnergyTechnologies").html("");
        $.ajax({

            url: 'Home/Subscription/',
            cache: false,
            //headers: { '__RequestVerificationToken': token },
            //contentType: 'application/json; charset=utf-8',
            data: AddAntiForgeryToken({ _email_val: email_val }),
            async: false,
            type: 'POST',
            success: function (result) {
                console.log(result);
                if (result["MessageId"] > 0) {
                    $('#idEMAIL').val('');
                    alert(result["Message"]);
                }
                else {
                    alert(result["Message"]);
                }
            },
            error: function (result) {
                isSuccess = result;

            }

        }).done(function () {
        });
    }
</script>
<!--Newsletter End-->
@*<script>
        $(document).ready(function () {

        });
        AddAntiForgeryToken = function (data) {
            data = $('#frmSubscription input[name=__RequestVerificationToken]').val();
            return data;
        };
        function Subscriptionpost() {
            var email_val = $("#idEMAIL").val();
            $.ajax({

                url: '/Home/Subscription',
                data: AddAntiForgeryToken({ _email_val: email_val }),
                async: false,
                type: 'POST',
                success: function (result) {
                    if (result["MessageId"] > 0) {
                        $('#idEMAIL').val('');
                        alert(result["Message"]);
                    }
                    else {
                        alert(result["Message"]);
                    }
                },
                error: function (result) {
                    isSuccess = result;

                }

            }).done(function () {
            });
        }
    </script>*@
