
@{
    ViewBag.Title = "Dairy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
   .img-fluid {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #19a6e0;
    background-color: #edfaff;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 8px;
    transition: 0.3s;
    font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #78aee3;
    color: white;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #009cdc;
  color: white;

}

/* Style the tab content */
.tabcontent {
  width:75%;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-bottom: 50px;
}

.tabcontent {
  animation: fadeEffect 3s; 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.report-container .report-thumb a {
    background: #4990e1;
    display: block;
    position: relative;
    padding: 4px 10px;
    color: #fff;
    border-radius: 0;
    font-size: .9rem;
    text-decoration: none;
    text-align: center;
    margin-top:20px;
}

</style>
<body>
    <?php include('include/header.php'); ?>


    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>Dairy Cluster Profile</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="index.php">Home</a></li>
                                <li class="active">Dairy Cluster Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="pt-4">
    <div class="container">
      <div class="row">

                  <div class="col-lg-12 text-center">
                            <div class="title title_center text-center">
                              <h1 style="color:#297b37;">Gujarat dairy cluster</h1> 
                            </div>
                        </div>

               

                <div class="col-lg-12 col-12">
           <div class="row report-box">


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Gujarat dairy cluster/1.pdf" >DPR_on_De-Super_Heater<br>_System_100_TR.pdf</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                              <a href="pdf/Gujarat dairy cluster/2.pdf" >DPR_on_De-Super_Heater<br>_System_210_TR.pdf</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Gujarat dairy cluster/3.pdf" >DPR_on_Effulent_Methane_<br>Capture_500_CUBM.pdf</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                                  <a href="pdf/Gujarat dairy cluster/4.pdf" >DPR_on_Effulent_Methane_<br>Capture_1000_CUBM.pdf</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Gujarat dairy cluster/5.pdf" >DPR_on_Energy_Efficient<br>_Motor_30kW.pdf</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                              <a href="pdf/Gujarat dairy cluster/6.pdf" >DPR_on_Energy_Efficient_<br>Motor_55kW.pdf</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                                 <a href="pdf/Gujarat dairy cluster/7.pdf" >DPR_on_Energy_Efficient<br>_Motor_75kW.pdf</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              <a href="pdf/Gujarat dairy cluster/8.pdf" >DPR_on_Energy_Efficient_Thermal<br>_Storage_System_65_TRH.pdf</a>
                            </div>
                        </div>
                      </div>
                </div> 


                 <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              <a href="pdf/Gujarat dairy cluster/9.pdf" >DPR_on_Energy_Efficient_Thermal<br>_Storage_System_300_TRH.pdf</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              <a href="pdf/Gujarat dairy cluster/10.pdf" >DPR_on_Energy_Efficient_Thermal_<br>Storage_System_420_TRH.pdf</a>
                        </div>
                      </div>
                </div> 
                </div>

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                            <a href="pdf/Gujarat dairy cluster/11.pdf" >DPR_on_Soft_Starter<br>_for_Motor_30kW.pdf</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                              <a href="pdf/Gujarat dairy cluster/12.pdf" >DPR_on_Soft_Starter_<br>for_Motor_75kW.pdf</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                                 <a href="pdf/Gujarat dairy cluster/13.pdf" >DPR_on_Solar_Water_Heating<br>_System_5000_LPD.pdf</a>
                            </div>
                        </div>
                      </div>
                </div>


                 <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Gujarat dairy cluster/14.pdf" >DPR_on_Solar_Water_Heating<br>_System_7000_LPD.pdf</a>
                            </div>
                        </div>
                      </div>
                </div>

             

              

</div>
</div></div></section>






<section class="pt-4">
    <div class="container">
      <div class="row">
    


                 <div class="col-md-12">
                            <div class="title title_center text-center">
                              <h1 style="color:#297b37;">Clusters</h1> 
                            </div>
                      




            <div class="tab" id="tab">

  <button class="tablinks " onclick="openCity(event, 'Gujarat')">Gujarat</button>
  <button class="tablinks" onclick="openCity(event, 'Haryana')">Haryana</button>
  <button class="tablinks" onclick="openCity(event, 'Kerala')">Kerala</button>
   <button class="tablinks" onclick="openCity(event, 'Madhya Pradesh')">Madhya Pradesh</button>
  <button class="tablinks" onclick="openCity(event, 'Maharashtra')">Maharashtra</button>
  <button class="tablinks" onclick="openCity(event, 'Odisha')">Odisha</button>
  <button class="tablinks " onclick="openCity(event, 'Sikkim')">Sikkim</button>
  <button class="tablinks" onclick="openCity(event, 'Punjab')">Punjab</button>
  <button class="tablinks" onclick="openCity(event, 'Tamil Nadu')">Tamil Nadu</button>
  <button class="tablinks" onclick="openCity(event, 'Assam')">Assam</button>
  <button class="tablinks" onclick="openCity(event, 'Haryana')">Haryana</button>
  <button class="tablinks" onclick="openCity(event, 'Anand')">Anand</button>
  <button class="tablinks" onclick="openCity(event, 'Andem, West Sikkim')">Andem, West Sikkim</button>
  <button class="tablinks" onclick="openCity(event, 'Buldhana')">Buldhana</button>
  <button class="tablinks" onclick="openCity(event, 'Dindigul')">Dindigul</button>
  <button class="tablinks" onclick="openCity(event, 'Hardoi')">Hardoi</button>
  <button class="tablinks" onclick="openCity(event, 'Karnal')">Karnal</button>
  <button class="tablinks" onclick="openCity(event, 'Malerkotla')">Malerkotla</button>
  <button class="tablinks" onclick="openCity(event, 'Vill. Gorukhuti, Darrang')">Vill. Gorukhuti, Darrang</button>

 
</div>



<div id="Gujarat" class="tabcontent" id="tabcontent">

<section class="pb-4">
    <div class="container">
      <div class="row">
        
          <div class="col-lg-12 col-12">
           <div class="row report-box">



           <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Cluster Manual_Gujarat_Dairy_ SME Cluster.1-44.compressed.pdf" >Cluster Manual_Gujarat_Dairy_ SME Cluster</a>
                            </div>
                        </div>
                      </div>
                </div> 




                   <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Cluster Manual_Gujarat_Dairy_ SME Cluster.44-88.compressed.pdf" >Cluster Manual_Gujarat_Dairy_ SME Cluster</a>
                            </div>
                        </div>
                      </div>
                </div> 

                 <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Cluster Manual_Gujarat_Dairy_ SME Cluster.89-105.pdf" >Cluster Manual_Gujarat_Dairy_ SME Cluster</a>
                            </div>
                        </div>
                      </div>
                </div> 

                 <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Gujarat_Dairy.pdf" >Gujarat_Dairy</a>
                            </div>
                        </div>
                      </div>
                </div> 



                
</div></div></div></div></section></div>


<div id="Punjab" class="tabcontent" id="tabcontent">

<section class="pb-4">
    <div class="container">
      <div class="row">
        
          <div class="col-lg-12 col-12">
           <div class="row report-box">



           <div class="col-md-4">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/PunjabDairyClusterBrief.pdf" >Punjab Dairy Cluster Brief</a>
                            </div>
                        </div>
                      </div>
                </div> 





                
</div></div></div></div></section></div>



</div></div></div></section>





 <section class="gef_sections">
   <div class="container pt-4 pb-4 ">
    <div class="container">
      <div class="row">
    


    </div></div></div></section>




    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title">
                        <h3 class="text-white"><small>Stay in Loop</small><br> Join our Newsletter</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="news-info">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Your Email Address">
                                <div class="form_icon"><i class="fas fa-envelope"></i></div>
                            </div>
                            <input type="submit" class="sigup" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Newsletter End-->



    
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>





 <?php include( 'include/footer1.php'); ?>
  <script src="js/all.js"></script>
  <script src="js/script.js"></script>
</body>

