@{
    Layout = null;
}

<div ng-app="MyApp" ng-controller="MyController">

    <select ng-model="searchState" ng-options="c.Value as c.Text for c in States" ng-change="OnStateChange()">
        <option value="">-- Select State --</option>
    </select>
    <select ng-model="searchCluster" ng-options="c.Value as c.Text for c in Names" ng-change="OnClusterChange()">
        <option value="">-- Select Cluster --</option>
    </select>
    <select ng-model="searchSector" ng-options="c.Value as c.Text for c in Sectors" ng-change="OnSectorChange()">
        <option value="">-- Select Sector--</option>
    </select>
    <hr />
    <div id="dvMap" style="width: 100%; height: 600px !important">
    </div>
</div>
@*<div ng-app="Stat" ng-controller="StateController">
        <label>Cluster Name</label>
        <select ng-model="searchTerm" ng-options="c.Value as c.Text for c in Names" ng-change="Search()">
            <option value="">-- Select Name --</option>
        </select>

        <hr />
        <div id="dvMapp" style="width: 100%; height: 600px !important">
        </div>
    </div>*@
@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>*@
<script src="~/Scripts/angular.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js" integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5-ed0P7eZL44UHUnOF_WB-BN3XaUk4zk&callback=initMap&sensor=false&region=IN"></script>
<script type="text/javascript">
    var app = angular.module('MyApp', [])
    app.controller('MyController', function ($scope, $http) {
        GetMaps();
        //GetMap('');
        //$http({
        //    method: 'Get',
        //    url: '/Home/GetPlaceNames/'
        //}).success(function (response) {
        //    $scope.Names = response;
        //});
        $http({
            method: 'Get',
            url: '/Home/GetStateNames/'
        }).success(function (response) {
            $scope.States = response;
        });
        function GetClusterByState(stateName) {
            $http({
                method: 'Get',
                url: '/Home/GetPlaceNames?stateName=' + stateName
            }).success(function (response) {
                $scope.Names = response;
            });
        }
        $http({
            method: 'Get',
            url: '/Home/GetSectorNames/'
        }).success(function (response) {
            $scope.Sectors = response;
            GetMaps();
        });
        $scope.OnSectorChange = function () {
            GetMaps();
        }
        $scope.OnStateChange = function () {
            $scope.searchSector = null;
            $scope.searchCluster = null;
            GetMaps();
            GetClusterByState($scope.searchState);
        }

        $scope.OnClusterChange = function () {
            var searchState = $scope.searchState;
            GetMaps($scope.searchCluster);
        }
        function GetMaps() {
            $http({
                method: 'POST',
                url: '/Home/GetMapLatLng',
                params: {
                    state: ($scope.searchState === "undefind" ? '' : $scope.searchState),
                    cluster: ($scope.searchCluster === "undefind" ? '' : $scope.searchCluster),
                    sector: ($scope.searchSector === "undefind" ? '' : $scope.searchSector)
                }
            }).then(function (response) {
                if (response.data.length > 0) {
                    $scope.Markers = response.data;
                    $scope.MapOptions = {
                        center: new google.maps.LatLng($scope.Markers[0].lat, $scope.Markers[0].lng),
                        zoom: 7,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    $scope.InfoWindow = new google.maps.InfoWindow();
                    $scope.Latlngbounds = new google.maps.LatLngBounds();
                    $scope.Map = new google.maps.Map(document.getElementById("dvMap"), $scope.MapOptions);

                    for (var i = 0; i < $scope.Markers.length; i++) {
                        var data = $scope.Markers[i];
                        var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                        var marker = new google.maps.Marker({
                            position: myLatlng,
                            map: $scope.Map,
                            title: data.title,
                            icon: { url: data.icn, scaledSize: new google.maps.Size(30, 30) }
                        });

                        (function (marker, data) {
                            google.maps.event.addListener(marker, "click", function (e) {
                                $scope.InfoWindow.setContent("<div style = 'width:250px;min-height:40px'>" + data.description + "</div>");
                                $scope.InfoWindow.open($scope.Map, marker);
                            });
                        })(marker, data);

                        $scope.Latlngbounds.extend(marker.position);
                    }

                    $scope.Map.setCenter($scope.Latlngbounds.getCenter());
                    $scope.Map.fitBounds($scope.Latlngbounds);
                } else {
                    $scope.Markers = [];
                    $scope.InfoWindow = new google.maps.InfoWindow();
                    $scope.Latlngbounds = new google.maps.LatLngBounds();
                    
                    $scope.Map = new google.maps.Map(document.getElementById("dvMap"), $scope.MapOptions);
                    var marker = new google.maps.Marker({
                        map: $scope.Map,
                        zoom:4
                    });
                }
                
            });
        }
        function GetMap(location) {
            $http({
                method: 'POST',
                url: '/Home/GetLocations',
                params: { location: location }
            }).then(function (response) {
                $scope.Markers = response.data;
                $scope.MapOptions = {
                    center: new google.maps.LatLng($scope.Markers[0].lat, $scope.Markers[0].lng),
                    zoom: 8,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                $scope.InfoWindow = new google.maps.InfoWindow();
                $scope.Latlngbounds = new google.maps.LatLngBounds();
                $scope.Map = new google.maps.Map(document.getElementById("dvMap"), $scope.MapOptions);

                for (var i = 0; i < $scope.Markers.length; i++) {
                    var data = $scope.Markers[i];
                    var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                    var marker = new google.maps.Marker({
                        position: myLatlng,
                        map: $scope.Map,
                        title: data.title,
                        icon: { url: data.icn, scaledSize: new google.maps.Size(20, 20) }
                    });

                    (function (marker, data) {
                        google.maps.event.addListener(marker, "click", function (e) {
                            $scope.InfoWindow.setContent("<div style = 'width:250px;min-height:40px'>" + data.description + "</div>");
                            $scope.InfoWindow.open($scope.Map, marker);
                        });
                    })(marker, data);

                    $scope.Latlngbounds.extend(marker.position);
                }

                $scope.Map.setCenter($scope.Latlngbounds.getCenter());
                $scope.Map.fitBounds($scope.Latlngbounds);
            });
        }
    });

        //$('select').niceSelect('distroy');


</script>
@*<script type="text/javascript">
        var app = angular.module('Stat', [])
        app.controller('StateController', function ($scope, $http) {
            GetMap('');
            $http({
                method: 'Get',
                url: '/Home/GetStateNames/'
            }).success(function (response) {
                $scope.Names = response;
            });

            $scope.Search = function () {
                GetMap($scope.searchTerm);
            }

            function GetMap(location) {
                $http({
                    method: 'POST',
                    url: '/Home/GetStates',
                    params: { states: state }
                }).then(function (response) {
                    $scope.Markers = response.data;
                    $scope.MapOptions = {
                        center: new google.maps.LatLng($scope.Markers[0].lat, $scope.Markers[0].lng),
                        zoom: 8,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    $scope.InfoWindow = new google.maps.InfoWindow();
                    $scope.Latlngbounds = new google.maps.LatLngBounds();
                    $scope.Map = new google.maps.Map(document.getElementById("dvMap"), $scope.MapOptions);

                    for (var i = 0; i < $scope.Markers.length; i++) {
                        var data = $scope.Markers[i];
                        var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                        var marker = new google.maps.Marker({
                            position: myLatlng,
                            map: $scope.Map,
                            title: data.title
                        });

                        (function (marker, data) {
                            google.maps.event.addListener(marker, "click", function (e) {
                                $scope.InfoWindow.setContent("<div style = 'width:250px;min-height:40px'>" + data.description + "</div>");
                                $scope.InfoWindow.open($scope.Map, marker);
                            });
                        })(marker, data);

                        $scope.Latlngbounds.extend(marker.position);
                    }

                    $scope.Map.setCenter($scope.Latlngbounds.getCenter());
                    $scope.Map.fitBounds($scope.Latlngbounds);
                });
            }
        });
    </script>*@

@*<div id="dvMap" style="width: 100% !important; height:600px !important">
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css.map" />
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js.map"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5-ed0P7eZL44UHUnOF_WB-BN3XaUk4zk&callback=initMap&sensor=false&region=IN"></script>*@

@*<script type="text/javascript">
            var markers = @Html.Raw(ViewBag.Markers);
            window.onload = function () {
                var mapOptions = {
                    center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                    zoom: 8,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var infoWindow = new google.maps.InfoWindow();
                var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
                for (i = 0; i < markers.length; i++) {
                    var data = markers[i]
                    var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                    var marker = new google.maps.Marker({
                        position: myLatlng,
                        map: map,
                        title: data.title
                    });
                    (function (marker, data) {
                        google.maps.event.addListener(marker, "click", function (e) {
                            infoWindow.setContent(data.description);
                            infoWindow.open(map, marker);
                        });
                    })(marker, data);
                }
            }
    </script>*@
