
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container pt-10 pb-10">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
        <h4 class="text-theme-colored">Policy</h4>
        <hr />
            <div class="text-justify">
            <p>Thanks for visiting Financing Energy Efficiency at MSMEs, and reviewing our privacy policy.</p>
            <p>We collect no personal information, like names or addresses, when you visit our website. If you chose to provide that information to us, it is only used to fulfil your request for information.</p>
            <p>We do collect some technical information when you visit to make your visit seamless. The section below explains how we handle and collect technical information when you visit our website.</p>
            <p>
                <strong>Information collected and stored automatically</strong> <br />
                When you browse, read pages, or download information on this website, we automatically gather and store certain technical information about your visit. This information never identifies who you are. This website records user visit and logs the following information for statistical purposes:
            </p>
            <ul class="list angle-double-right">
                <li>IP address from which user accesses the website;</li>
                <li>The type of browser and operating system used to access the website;</li>
                <li>The date and time user accessed the website;</li>
                <li>The pages user has accessed and the documents download;</li>
                <li>If user reaches this website from another website, the address of that referring website.</li>
            </ul>
            <p>
                This information is used only to help Bureau of Energy Efficiency make the website more user-friendly. Bureau of Energy Efficiency never tracks or records information about individuals and their visits. Bureau of Energy Efficiency makes no attempt to link this information with the identity of individuals visiting the website unless an attempt to damage the site has been detected.
            </p>
            <p>
                <strong>Cookies</strong><br />
                When you visit some websites, they may download small pieces of software on your computer/browsing device known as cookies. Some cookies collect personal information to recognise your computer in the future. We only use non-persistent cookies or "per-session cookies". Per-session cookies serve technical purposes, like providing seamless navigation through this website. These cookies do not collect personal information on users and they are deleted as soon as you leave our website. The cookies do not permanently record data and they are not stored in memory and are only available during an active browser session. Again, once you close your browser, the cookie disappears.
            </p>
            <p>
                <strong>If you send is personal information:</strong><br />
                We do not collect personal information for any purpose other than to respond to you (for example, to respond to your questions or provide subscriptions you have chosen). If you choose to provide us with personal information &ndash; like filling out a Contact Us form, with an e-mail address or postal address, and submitting it to us through the website - we use that information to respond to your message, and to help you get the information you've requested. We only share the information you give us with another Government agency if your question relates to that agency, or as otherwise required by law.
            </p>
            <p>
                Our website never collects information or creates individual profiles for commercial marketing. While you must provide an e-mail address for a localised response to any incoming questions or comments to us, we recommend that you do NOT include any other personal information.
            </p>
            <p>
                <strong>Site Security:</strong><br />
                For site security purpose and to ensure that this service remains available to all users, this Government computer system employs commercial software programs to monitor network traffic to identify unauthorised attempts to upload or change information, or otherwise cause damage.
            </p>
            <p>
                Except for authorised law enforcement investigations, no other attempts are made to identify individual users to their usage habits. Raw data logs are used for no other purposes and are scheduled for regular deletion.&nbsp;
            </p>
            <p>
                Unauthorised attempts to upload information or change information on this service are strictly prohibited and may be punishable under the Indian IT Act.
            </p>

        <h4>Hyperlinking Policy</h4>
        <p>
            "We do not object to you linking directly to the information that is hosted on our site and no prior permission is required for the same. However, we would like you to inform us about any links provided to our site so that you can be inform us about any links provided to our site so that you can be informed of any changes or updations therein. Also, we do not permit our pages to be loaded into frames on you site. Our webpage must load into a newly opened browser of the user."
        </p>
        <h4>Terms and Conditions</h4>
        <p>"This website is designed, developed and maintained by Bureau of Energy Efficiency, Ministry of Power, Government of India.</p>
            <p>Though all efforts have been made to ensure the accuracy and currency of the content on this website, the same should not be constructed as a statement of law or used for any legal purposes. In case of any ambiguity or doubts, users are advised to verify/check with the Department(s) and/or other source(s), and to obtain appropriate professional advice. Under no circumstances will this Bureau of Energy Efficiency be liable for any expense, loss or damage including, without limitation, indirect or consequential loss or damage, or any expense, loss or damage whatsoever arising from use, or loss of use, of data, arising out of or in connection with the use of this website.</p>
            <p>These terms and conditions shall be governed by the constructed in accordance with the Indian Laws. Any dispute arising under these terms and conditions shall be subject to the jurisdiction of the courts of India.</p>
            <p>The information posted in this website could include hypertext links or pointers to information created and maintained by non-Government/private organisations. Bureau of Energy Efficiency is providing these links and pointers solely for your information and convenience. When you select a link to an outside website, you are leaving the Bureau of Energy Efficiency website and are subject to the privacy and security policies of the owners/sponsors of the outside website.</p>
            <p>Bureau of Energy Efficiency, does not guarantee the availability of such linked pages at all times."</p>
        <h4>Copyright Policy</h4>
        <p>Material featured on this site may be reproduced free of charge in any format or media without requiring specific permission. This is subject to the material being reproduced accurately and not being used in a derogatory manner or in a misleading context. Where the material is being published or issued to others, the source must be prominently acknowledged. However, the permission to reproduce this material does not extend to any material on this site, which is explicitly identified as being the copyright of a third party. Authorisation to reproduce such material must be obtained from the copyright holders concerned.</p>
        <h4>Disclaimer</h4>
        <p>"All efforts have been made to make the information shown as accurate as possible. The Bureau of Energy Efficiency (BEE) will not be responsible for any loss to any person caused by inaccuracy in the information available on this website. Any discrepancy found may be brought to the notice of BEE."</p>
    </div>
        </div>
    </div>
</div>