@{
    ViewBag.Title = "500 Internal server error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("HttpError500", "Error", FormMethod.Post, new { @id = "frmHttpError500", @name = "frmHttpError500", enctype = "multipart/form-data", autocomplete = "off" }))
{

    @*<div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>need to update</h1>
            </div>
            <!-- END PAGE TITLE -->

        </div>
    </div>*@
        <!-- END PAGE HEAD -->
        <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <h3 class="page-title">500 Internal server error</h3>

                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <div class="row">
                    <div class="col-md-12 page-404">

                        <div class="details">
                            <h3>Oops! Something went wrong</h3>
                            <p>
                                We are fixing it! Please come back in a while.<br />

                            </p>

                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
            <!-- END PAGE CONTENT-->

        </div>
    </div>
}
@*@Scripts.Render("~/bundles/area/js/global")*@