
    <table id="tblAnnouncementsActive" class="table table-striped table-hover table-bordered">

        <thead>
            <tr>
                <th>
                    Announcements Title
                </th>
                <th>
                    Announcements Date
                </th>
                <th>
                    Announcements Short Description
                </th>
                <th align="center" valign="middle">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

