@model BEEKP.Models.FeedbackViewModel
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Feedback", "UsefulLink", FormMethod.Post, new { @id = "frmFeedbackHome", @name = "frmFeedbackHome" }))
{ 
<div class="container pt-10 pb-20">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-theme-colored">Feedback &nbsp;<small class="small-font-cuatom">Fields marked with asterisk (<span class="text-danger"> * </span>) are mandatory to fill in </small></h4>
            <hr />
            <form id="contact_form" name="contact_form" class="" action="" method="post">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                                <div class="form-group clearfix">
                                    <label for="form_name" class="col-md-4">Name <span class="text-danger">*</span></label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.FeedBack.name_user, new { @class = "form-control required inputbox-height", @id = "name_user", @Placeholder = "Name" })
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="col-md-4">Email <span class="text-danger">*</span></label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.FeedBack.email_id, new { @class = "form-control required inputbox-height", @id = "email_id", @Placeholder = "Email" })
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="col-md-4">Contact No <span class="text-danger">*</span></label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.FeedBack.contact_no, new { @class = "form-control required inputbox-height", @id = "contact_no", @maxlength="10", @Placeholder = "Contact No", @onkeypress = "return isNumberKey(event)" })
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="col-md-4">Suggestions/Feedback <span class="text-danger">*</span></label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.FeedBack.feedback_message, new { @class = "form-control required", @id = "contact_no", @Placeholder = "FeedBack", @rows = "4" })
                                    </div>
                                </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-sm btn-theme-colored text-uppercase mt-10 mb-sm-30 border-left-theme-color-2-4px" data-loading-text="Please wait...">Submit</button>
                                <button type="reset" class="btn btn-sm btn-theme-colored text-uppercase mt-10 mb-sm-30 border-left-theme-color-2-4px">Cancel</button>
                            </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/AppJS/FeedBackHome/FeedBack_Home_Manage.js"></script>
