@model List<BEEKP.Areas.Admin.Models.News>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix">
                    <div class="title_breadcrumb float-left">
                        <h1>News/Media</h1>
                    </div>
                    <div class="breadcrumb-menu float-right">
                        <ul class="clearfix">
                            <li><a href="/">Home</a></li>
                            <li class="active">News/Media</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="news_list pt-4 pb-4">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row mb-3 d-flex align-items-center justify-content-start">
                <div class="col-lg-4 p-0">
                    <div class="news_thumb">
                        <img src="~/images/news/@item.news_image_name" class="img-fluid" alt="">
                        <div class="read_more">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="news_desc">
                        <div class="news_heading">
                            <h3><a href="#"> @item.news_title</a></h3>
                        </div>
                        <div class="news_meta">
                            <ul>
                                <li>@item.news_date</li>
                                <li>category: News</li>
                            </ul>
                        </div>
                        <div class="news_para">
                            <p>@Html.Raw(item.news_full_description)</p>
                        </div>
                    </div>
                </div>
            </div>
        }
       
    </div>
</section>
@*<div class="container">
    <div class="row">
        <div class="col-lg-12 col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item selected"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>*@
<!--Newsletter Start-->
<div class="newsletter-wrap wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="title">
                    <h3 class="text-white"><small>Stay in Loop</small><br> Join our Newsletter</h3>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="news-info">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" placeholder="Your Email Address">
                            <div class="form_icon"><i class="fas fa-envelope"></i></div>
                        </div>
                        <input type="submit" class="sigup" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Newsletter End-->
