
@{
    ViewBag.Title = "HelpDesk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-10">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            @*<h4 class="text-theme-colored">Help Desk</h4>*@            
                <img src="~/images/bg.png" style="height:400px; margin:0 auto; display:block;">           
        </div>
    </div>
</div>