
    <table id="tblListEnergyTechnologyInactive" class="table table-striped table-hover table-bordered">

        <thead>
            <tr>
                <th>
                    Category Measures Name
                </th>
                <th>
                    EE Measures
                </th>
                <th>
                    Cluster
                </th>
                <th align="center" valign="middle">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
