@{
    ViewBag.Title = "404 Page not found";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm("HttpError404", "Error", FormMethod.Post, new { @id = "frmHttpError404", @name = "frmHttpError404", enctype = "multipart/form-data", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <div class="page-content-wrapper">
        <div class="page-content">
            <h3 class="page-title">404 Page not found </h3>
         
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12 page-404">

                    <div class="details">
                        <h3>Oops! You're lost.</h3>
                        <p>
                            We can not find the page you're looking for.<br />

                        </p>

                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
}

@Scripts.Render("~/bundles/area/js/global")
