@{
    ViewBag.Title = "403 Forbidden";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("HttpError403", "Error", FormMethod.Post, new { @id = "frmHttpError403", @name = "frmHttpError403", enctype = "multipart/form-data", autocomplete = "off" }))
{
    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>need to update</h1>
            </div>
            <!-- END PAGE TITLE -->

        </div>
    </div>
        <!-- END PAGE HEAD -->
        <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <h3 class="page-title">403 Forbidden</h3>

                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <div class="row">
                    <div class="col-md-12 page-404">

                        <div class="details">
                            <h3>Oops! You don't have permission</h3>
                            <p>
                                Accessing the page or resource you were trying to reach is absolutely forbidden for some reason.<br />
                            </p>

                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
            <!-- END PAGE CONTENT-->

        </div>
    </div>
}

@Scripts.Render("~/bundles/area/js/global")
