@model BEEKP.Models.KnowledgeBankModel
@{
    ViewBag.Title = "Brick Production Technology";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*-------------Datatable CSS------------------*@
<link href="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet" />

@*-------------Datatable JS------------------*@

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/assets/global/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>



<div class="container pt-10">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">

                <div id="divmanufacturers" class="datatable-field-height">
                    <h4 class="text-theme-colored">Training Manual</h4>
                    <table id="tblbrickprodectiontechnology" class="table table-striped table-hover table-bordered table-small-padding table-Valign-middle">

                        <thead>
                            <tr>
                                <th>
                                    Sl. No.
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    View
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @for (Int32 j = 0; j < Model.ListKnowledgeBank.Count; j++)
                            {
                                Int32 Slno = j + 1;
                                <tr>
                                    <td>
                                        @Slno
                                    </td>
                                    <td>
                                        @Model.ListKnowledgeBank[j].knowledge_bank_name
                                    </td>
                                    <td>
                                        <a href="~/documents/Knowledge_Bank/@Model.ListKnowledgeBank[j].file_name" target="_blank">
                                            @Model.ListKnowledgeBank[j].file_name
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>



                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->

</div>
<script>

    $(document).ready(function () {

        TableAdvanced_Training_BrickProductionTechnology();

    });



    function TableAdvanced_Training_BrickProductionTechnology() {

        if (!jQuery().dataTable) {
            return;
        }

        var table = $('#tblbrickprodectiontechnology');

        var oTable = table.dataTable({

            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "Show _MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },

            //"columnDefs": [{
            //    "orderable": false, // false = sorting not applicale
            //    "targets": [6] //for the columns
            //}],
            //"order": [
            //    [0, 'asc'] // default column sorting
            //],
            "lengthMenu": [
                [5, 10, 25, -1], // value - change per page values here
                [5, 10, 25, "All"] // display- change per page values here
            ],
            // set the initial value
            "pageLength": 5
        });


    }

</script>

