@model BEEKP.Models.KnowledgeBankModel
@{
    ViewBag.Title = "Reports and Presentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*-------------Datatable CSS------------------*@
<link href="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet" />

@*-------------Datatable JS------------------*@

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/assets/global/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>



<div class="container pt-10 min-height-400">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="portlet light">

                <div id="divmanufacturers" class="datatable-field-height">
                    <section class="breadcrumb-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="inner-content clearfix">
                                        <div class="title_breadcrumb float-left">
                                            <h1>Reports and Presentations</h1>
                                        </div>
                                        <div class="breadcrumb-menu float-right">
                                            <ul class="clearfix">
                                                <li><a href="/">Resources</a></li>
                                                <li class="active">Reports and Presentations</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    @*<h4 class="text-theme-colored">Reports and Presentations</h4>*@
                    <hr />
                    <ul class="list-group list-padding">
                        @for (Int32 j = 0; j < Model.ListKnowledgeBank.Count; j++)
                        {
                            if (j % 2 == 0)
                            {
                                <li class="list-group-item odd-bg-color">
                                    @if (Model.ListKnowledgeBank[j].file_name != null && Model.ListKnowledgeBank[j].file_name != "")
                                    {
                                        <span class="badge badge-custom"><a href="~/documents/Knowledge_Bank/@Model.ListKnowledgeBank[j].file_name" target="_blank">Preview</a><i class="fa fa-file-pdf-o"></i> </span>
                                    }
                                    @Model.ListKnowledgeBank[j].knowledge_bank_name
                                </li>
                            }
                            else
                            {
                                <li class="list-group-item ">
                                    @if (Model.ListKnowledgeBank[j].file_name != null && Model.ListKnowledgeBank[j].file_name != "")
                                    {
                                        <span class="badge badge-custom"><a href="~/documents/Knowledge_Bank/@Model.ListKnowledgeBank[j].file_name" target="_blank">Preview</a><i class="fa fa-file-pdf-o"></i> </span>
                                    }
                                    @Model.ListKnowledgeBank[j].knowledge_bank_name
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->

</div>

