
@{
    ViewBag.Title = "SAMEEEKSHA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .fa-check-square:before {
        content: "\f14a";
        margin-left: 4rem;
    }
    </style>
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix">
                    <div class="title_breadcrumb float-left">
                        <h1>SAMEEEKSHA</h1>
                    </div>
                    <div class="breadcrumb-menu float-right">
                        <ul class="clearfix">
                            <li><a href="/">Resources</a></li>
                            <li class="active">SAMEEEKSHA</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-wrap pt-4 pb-5">
        <div class="container">
        <div class="row">
                <div class="col-md-12 text-justify">
                    <p>SAMEEEKSHA is a collaborative platform aimed at pooling the knowledge and synergizing the efforts of various organizations and institutions – Indian and international, public and private – that are working towards the common goal of facilitating the development of the SME sector in India through the promotion and adoption of clean, energy efficient technologies and practices. SAMEEEKSHA provides a unique forum where industry may interface with technology development specialists, R&D institutions, government bodies, training institutes, funding agencies and academia so as to facilitate this process.</p>
<p>SAMEEEKSHA envisages a robust and competitive small and medium enterprise (SME) sector built on strong foundations of knowledge and capabilities in the development, application and promotion of energy efficient and environment friendly technologies. </p>
<p>SAMEEEKSHA facilitates sharing of knowledge, capabilities and resources of different specialized agencies and institutions so as to maximize their effectiveness in bringing about the adoption of sustainable energy efficient technologies and practices in the Indian SME sector.

</p>


 <h4>Role of SAMEEEKSHA:</h4>

      <ul  style="margin-left: 1rem;">
                        <li><i class="fa-li fas fa-check-square disfa"></i>It is a platform for pooling the knowledge and experiences of various organizations that are engaged with the Indian SME sector.</li><br>

                        <li><i class="fa-li fas fa-check-square disfa"></i>It enables like-minded organizations to coordinate and increase the impact of their activities in different areas in the SME sector.</li>

                <ol  style="margin-left: 1rem;">
                        <li><b>1.</b>It is a clearing house for knowledge and information on the SME sector, including various state and non-state stakeholders and their interventions in/ interactions with the sector.<li><br>
                        <li><b>2.</b>It provides a forum where representatives of small-scale industry may interface with policy-makers, funding and development agencies, R&D institutions, academia, and others, in order to:</li>
                        <br>
                        </ol>

                         <ol  style="margin-left: 1rem;">
                        <li><b>a.</b>Elaborate on the needs of a small-scale industrial sector/cluster in regard to improving energy efficiency, reducing fuel costs, exploring alternate energy sources, and so on.
                <li><b>b.</b>Point to possible options for exploring, developing, and introducing energy-efficient technologies and practices in the concerned industrial sector/cluster.</li>
                        <br>
                         <li><b>c.</b> Facilitate the formulation of project proposals and implementation of projects aimed at introducing and promoting energy-efficient technologies and practices.<li>
                       


                    </ol>
                      


                    </ul>


 <b>Links:</b> <b><a href="https://powermin.gov.in/ ">http://www.sameeeksha.org/index.php</a></b><br>

                    



                </div>
            </div>
           
        </div>
    </section>
