@model BEEKP.Class.ErrorMessage
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("GeneralError", "Error", FormMethod.Post, new { @id = "frmGeneralError", @name = "frmGeneralError", enctype = "multipart/form-data", autocomplete = "off" }))
{
   

    @*<div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>need to update</h1>
            </div>
            <!-- END PAGE TITLE -->

        </div>
    </div>*@
        <!-- END PAGE HEAD -->
        <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12 page-404">

                    <div class="details">
                        @* <h3>Oops! An internal error occurred during operation</h3>*@
                        <img src="~/assets/admin/layout3/img/alert_msg.png" />
                        <p>
                            @*Error Id : @Model.ErrorId
                        <br />*@
                            Error Description : @Model.ErrorMessages
                            <br />
                            Error Type : @Model.ErrorType
                            @*  We can not find the page you're looking for.*@<br />

                        </p>

                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->

        </div>
    </div>
}

@*@Scripts.Render("~/bundles/area/js/global")*@