@model List<BEEKP.Areas.Admin.Models.Announcement>
@{
    ViewBag.Title = "Announcement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix">
                    <div class="title_breadcrumb float-left">
                        <h1>Announcements</h1>
                    </div>
                    <div class="breadcrumb-menu float-right">
                        <ul class="clearfix">
                            <li><a href="/">Home</a></li>
                            <li class="active">Announcement</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="news_list pt-4 pb-4">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row mb-3 d-flex align-items-center justify-content-start">
                <div class="col-lg-12">
                    <div class="news_desc">
                        <div class="news_heading">
                            <h3><a href="#"> @item.announce_title</a></h3>
                        </div>
                        <div class="news_meta">
                            <ul>
                                <li>@item.announce_date</li>
                                <li>category: Announcement</li>
                            </ul>
                        </div>
                        <div class="news_para">
                            <p>@Html.Raw(item.announce_short_description)</p>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</section>
