
@{
    ViewBag.Title = "BureauOfEnergyEfficiency";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container pt-10 pb-20">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-theme-colored">Bureau Of Energy Efficiency</h4>
            <hr />
            <div class="row">
                <div class="col-md-9 text-justify">
                    <p>The Government of India set up Bureau of Energy Efficiency (BEE) on 1<sup>st</sup> March 2002 under the provisions of the Energy Conservation Act, 2001. The mission of the Bureau of Energy Efficiency is to assist in developing policies and strategies with a thrust on self-regulation and market principles, within the overall framework of the Energy Conservation Act, 2001 with the primary objective of reducing energy intensity of the Indian economy. This is to be achieved with active participation of all stakeholders, resulting in accelerated and sustained adoption of energy efficiency in all sectors. More information can be obtained from <a href="http://www.bee-india.nic.in">www.bee-india.nic.in</a></p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
                <div class="col-md-3">
                    <img src="../images/PartnerAgency_BEE.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
