
@{
    ViewBag.Title = "CapacityBuilding";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link href="~/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/elements.css">
<link rel="stylesheet" href="~/webfonts/fonts/flaticon.css">
<link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
<link rel="icon" href="~/images/favicon.png" type="image/x-icon">
<style type="text/css">
    .tag_point {
        box-shadow: 0px 0px 10px #8080805c;
        border-radius: 5px;
        padding: 1px 10px;
    }


    .list-group-item {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #edfaff;
        border: 1px solid rgb(57 83 64);
    }
</style>

<body class="gef4">
    <?php include( 'include/header1.php'); ?>
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>Capacity Building Training Programs</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="/GEF">GEF4</a></li>
                                <li class="active">Capacity Building Training Programs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="about-wrap pt-4 pb-5 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 order-lg-2">
                    <div class="tag_point">
                        <!--<h5>Quick Links</h5>-->
                        <ul>
                            <li><a href="#s1"> Energy Audits</a></li>
                            <li><a href="#s1"> EMC and its Activities</a></li>
                            <li><a href="#s2"> Capacity Building of LSPs</a></li>
                            <li><a href="#s3"> In- House Training programs</a></li>
                            <li><a href="#s4"> International Study tours</a></li>
                            <li><a href="#s5"> Pilot Demonstration Projects</a></li>
                            <li><a href="#s6"> Knowledge  Materials</a></li>
                            <li><a href="#s2"> Upscaling activities</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-9 col-12 order-lg-1">
                    <div class="about_inner">
                        <img src="images/activity/3.jpg" alt="">
                        <h3>Capacity Building Training Programs</h3><br>
                        <p class="text-justify"><strong>Capacity Building of Local Service Providers:</strong> Project has initiated the mapping of existing service providers in each cluster and identified many new technology providers. Organized 45 capacity building training and trained about 500 local service providers on various aspects on, how to improve the quality of service for better promotion of Energy Efficiency and Renewable Energy Technologies in the cluster.<br> During these training programs, may new EE & RE vendors/ technology providers developed connections with local service providers and industries.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class="pb-4">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <div class="row report-box">

                        <div class="col-lg-6 col-6 order-lg-2">
                            <ul class="list-group list-padding">
                                <li class="list-group-item odd-bg-color">
                                    <span class="badge badge-custom"><a href="/cii" target="_blank">VIEW</a><i class="fa fa-file-pdf-o"></i> </span><strong>
                                        CII- LSP mapping
                                    </strong>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-6 order-lg-2">
                            <ul class="list-group list-padding">
                                <li class="list-group-item odd-bg-color">
                                    <span class="badge badge-custom"><a href="/teri" target="_blank">VIEW</a><i class="fa fa-file-pdf-o"></i> </span><strong>
                                        TERI - LSP mapping
                                    </strong>
                                </li>
                            </ul>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </section>




    <!--Newsletter Start-->
    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                </div>

            </div>
        </div>
    </div>
    <!--Newsletter End-->
    <?php include( 'include/footer1.php'); ?>
    <script src="js/all.js"></script>
    <script src="js/script.js"></script>
</body>


