
@{
    ViewBag.Title = "sector_detail";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link href="~/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/elements.css">
<link rel="stylesheet" href="~/webfonts/fonts/flaticon.css">
<link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
<link rel="icon" href="~/images/favicon.png" type="image/x-icon">
<style>
    .tab {
        overflow: hidden;
        border: 1px solid #19a6e0;
        background-color: #edfaff;
    }

        /* Style the buttons inside the tab */

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 20px;
        }



            /* Change background color of buttons on hover */

            .tab button:hover {
                background-color: #78aee3;
                color: white;
            }

            /* Create an active/current tablink class */

            .tab button.active {
                background-color: #009cdc;
                color: white;
            }



    /* Style the tab content */

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        margin-bottom: 50px;
    }

    .tabcontent {
        animation: fadeEffect 3s;
    }
</style>
<section class="breadcrumb-area">

    <div class="container">

        <div class="row">

            <div class="col-xl-12">

                <div class="inner-content clearfix">

                    <div class="title_breadcrumb float-left">

                        <h1>Sector Detail</h1>

                    </div>

                    <div class="breadcrumb-menu float-right">

                        <ul class="clearfix">

                            <li><a href="/GEF">GEF</a></li>

                            <li class="active">Sector Detail</li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>


<section class="gef_sections">

    <div class="container pt-4 pb-4 ">

        <div class="row">

            <div class="col-md-12 col-12">

                <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">

                    <!-- <div class="sub-title primary">MSME's</div> -->

                    <h2 class="title inner-title mb-20 mb-3">Dairy</h2>

                </div>

                <div class="project_bg">

                    <div class="project_info">

                        <img src="/images/sectors/dairy.png" style="margin-top: -60px; width:100%; max-width:250px;" alt="" class="img-thumbnail">

                        <p class="text-justify">
                           India is the world’s largest milk producer and is responsible for 21% of
global milk production (FAO, 2019). Today, the dairy sector in India
faces challenges and opportunities resulting from rising energy costs,
environmental concerns, and competitiveness. However, various
opportunities exist for the dairy sector to improve its energy
efficiency. The project operates with the objective of accelerating the
adoption of EE technologies and practices in the dairy sector, and it
focuses on dairy equipment upgrades, new technologies and practices
for improving energy efficiency.
                        </p>

                        <div class="clearfix"></div>



                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<div class="about-wrap cluster-section bg-white pt-3 pb-3">

    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">

                    <h2 class="title inner-title mb-20 mb-3">Clusters </h2>

                </div>

            </div>

        </div>





        <div class="tab">



            <button class="tablinks" onclick="openCity(event, 'Punjab')">Punjab</button>

            <button class="tablinks" onclick="openCity(event, 'Gujarat')">Gujarat</button>

            <button class="tablinks" onclick="openCity(event, 'Haryana')">Haryana</button>

            <button class="tablinks" onclick="openCity(event, 'Kerala')">Kerala</button>

            <button class="tablinks" onclick="openCity(event, 'Maharashtra')">Maharashtra</button>

            <button class="tablinks" onclick="openCity(event, 'Madhya Pradesh')">Madhya Pradesh</button>

            <button class="tablinks" onclick="openCity(event, 'Odisha')">Odisha</button>

            <button class="tablinks" onclick="openCity(event, 'TamilNadu')">TamilNadu</button>

            <button class="tablinks" onclick="openCity(event, 'Andhra Pradesh & Telengana')">Andhra Pradesh & Telengana</button>

            


        </div>



        <div id="Punjab" class="tabcontent">

            <h3 class="text-primary">Punjab Dairy Cluster Profile</h3><br>

                <p class="text-justify">

                Punjab, with about 21 large dairy processing plants, recorded a milk production of 11.86
million tonnes in 2017-18. This was equal to 6.72% of the country’s total milk production
(NDDB, 2019).</p>

<p class="text-justify">
Punjab State Cooperative Milk Producers’ Federation Limited (MILKFED) is the major cooperative
working in the state1.VERKA is a flagship brand of MILKFED and came into being in 1973 when
MILKFED was mandated for milk procurement, quality processing of milk & its products and
marketing of these products. “VERKA” was christened after the name of the place where the
first plant was setup in Amritsar.</p>

<p class="text-justify">
Currently, VERKA sources milk from over 3,50,000 members of around 6,300 village milk
producers’ cooperative societies. These village level cooperatives work under 11 district
milk producers’ unions with 9 milk plants having a consolidated milk handling capacity of
around 20,00,000 litres per day. Each VERKA product is the manifestation of natural goodness
unlocked by adopting state-of-the-art technology. More than 1,000 Automotive Milk Collection
Stations are deployed in the societies for efficiency and transparency in milk procurement.<br> <br>

Apart from milk, the other dairy products like infant milk food, instant milk mix, skim milk
powder, ice-cream, paneer, sweetened condensed milk, dairy whitener and butter are also
produced.<br>
<b>The details of the various milk cooperative unions currently operating under the VERKA network
are as below,</b>
<img src="/images/sectors/punjab3.png" style="width:60%; height: 60%; alt="" class="center">
            </p>


<p class="text-justify">Apart from these units, Milkfed also has two milk chilling centres at Ferozpur & Faridkot. They
are operating two state-of-the-art cattle feed plants at Khanna & Gurdaspur respectively.</p>
<img src="/images/sectors/punjab2.png" style="width:60%; height: 60%; alt="" class="center">

       <p class="text-justify">

               The dairy sector in Punjab works on the ‘Anand Model’ for its development. Fresh milk is
procured from the milk producers twice a day through village level societies directly without
the assistance of any middleman.</p>
<p class="text-justify">These village cooperatives unite at regional level to form regional cooperatives Milk Producers’
Unions and further these Regional Unions federate at the state level to form State Federation.
            </p>


      <img src="/images/sectors/Punjab1.png" style=" width:70%; height: 70%; alt="" class="center"> <br>
    <p class="text-justify">

               Excluding the cooperative societies, there are 4 joint sector and 46 private sector dairy plants operating in Punjab. They are not associated with the cooperatives and hence buy milk directly from local producers. The largest private player in the state is Nestle India. The turnover of the dairy sector in Punjab is estimated to be about Rs 20,000 crores. The sector provides direct and indirect employment for to more than 6,50,000 people .
            </p>
        </div>



        <div id="Gujarat" class="tabcontent">

            <h3 class="text-primary">Gujarat Dairy Cluster Profile</h3><br>
<p class="text-justify">
Gujarat is among the largest milk producer in the country. In 2017-18, the state produced 13.56
million tons of milk and was responsible for 7.52% of the country’s total production (NDDB,
2019). Gujarat has played an important role in making the country one of the largest milk
producers in the world, resulting from the movement started on the eve of independence in
1947, when the rural milk producers of Gujarat stood against their exploitation and formed
a cooperative to take over the control of producing, processing and marketing of milk and
milk products. This cooperative movement was later institutionalized in the form of 'Operation
Flood' and it helped transform India from a milk deficit nation to one of the largest milk
producers in the world.
  </p>

<p class="text-justify">
In Gujarat, most districts have cooperatives and their milk processing capacity ranges from
1 lakh litre per day to 35 lakh litre per day. All these cooperatives are members of Gujarat
Cooperative Milk Marketing Federation (GCMMF) and GCCMMF markets the products under
the brand name 'Amul'. The Gujarat Model, established under Kaira Milk Union Limited, was
subsequently extended to the whole country.
  </p>

<p class="text-justify">
Gujarat Cooperative Milk Marketing Federation Ltd (GCMMF) is India’s largest food product
marketing organization, with annual turnover (2018-19) of USD 4.8 billion. Its daily milk
procurement is 23 million litre, from 18,700 village milk cooperative societies, 18 member
unions covering 33 districts and 3.6 million milk producer members (GCMMF, 2019). The
following table highlights the key performance indicators for GCMMF:

  </p>


     <img src="/images/sectors/Gujarat5.png" style=" width:70%; height: 70%; alt="" class="center">         



           



            <p class="text-justify">

                The dairy sector is also an important contributor to the state’s GDP and milk contributes to
22% of the Agricultural GDP of Gujarat. It is also one of the biggest sectors for supporting
livelihood in the state, as more than 40% of households in Gujarat are engaged in the dairy
and animal husbandry sector. (GLPCL, 2019).
</p>
<p class="text-justify">
The Amul Model for dairy is a three-tiered structure, with the dairy cooperative societies at the
village level, federated under a milk union at district level and a federation of member unions
at state level. It is highlighted in the following figure:

            </p>
<img src="/images/sectors/Gujarat6.png" style=" width:100%; height: 100%; alt="" class="center">

<p class="text-justify">
There are 18 milk unions in Gujarat and they produce various milk and value-added products,
which are marketed across India and several foreign countries. The following are the 18 milk
unions in Gujarat:

            </p>
<img src="/images/sectors/Gujarat4.jpg" style=" width:70%; height: 70%; alt="" class="center">
<p class="text-justify">
These milk unions produce more than 30 brand products for Amul, such as processed milk,
butter, cheese, curd, ghee, paneer (cottage cheese), milk powders, ice cream, flavored milk,
shrikhand, butter milk, sweets, etc.
 </p>


           </div>


        <div id="Haryana" class="tabcontent">
    <h3 class="text-primary">Haryana Dairy Cluster Profile</h3><br>

           <p class="text-justify">

                Haryana is one of the most progressive states of Republic of India. In the domain of dairy
development, it is well known for its productive milch cattle particularly the ‘Murrah’ Buffaloes
and Haryana Cows. The economy of the state is predominantly based on agriculture. People
rear and breed cattle as a subsidairy occupation. The state is one among the largest milk
producer in the country and in 2017-18 the state produced 9.81 million tons of milk and it was
responsible for 5.56% of country’s production (NDDB, Milk Production in India, 2019).
            </p>
<p class="text-justify">
The overall growth of the milk production in the state over the past 5 years is as shown in the
figure below,
               </p>
 <img src="/images/sectors/Haryana1.png" style=" width:80%; height: 80%; alt="" class="center"> <br>
<p class="text-justify">
The dairy cluster in Haryana is a combination of both public & private units. Of the total
production, Haryana Dairy Development Cooperative Federation (HDDCF) accounts for nearly
90% of the total milk production
               </p>
<p class="text-justify">
The HDDCF registered under Haryana Co-operative Societies Act came into existence on April
1,1977. Its authorized share capital is Rs.4000 lacs. It was established with the primary aim to
promote economic interests of the milk producers of Haryana particularly those belonging to
weaker sections of the village community by procuring and processing milk into milk products
and marketing thereof by itself or through its unions. In furtherance of the above objects,
the Federation undertakes various activities for sales promotion of VITA Brand for the Milk
Unions. It also extends technical guidance to the Unions in all spheres of personnel, technical,
marketing and financial management as well as makes them quality conscious, through use of
modern methods of laboratory testing of various products.
               </p>
<p class="text-justify">
The operation of the federation is based on the Anand Pattern. Dairy Cooperatives in Haryana
works as per the following three tier system: - i) Milk Producers Cooperative Societies at village
level ii) Milk Unions at District level iii) State Dairy Federation at state level
               </p>
<img src="/images/sectors/Haryana2.png" style=" width:80%; height: 80%; alt="" class="center"> <br>

<p class="text-justify">Under the Federation, there are six milk unions in operation. The following table shows the list
of district milk unions, their production capacities & the various milk products they produce</p>

<img src="/images/sectors/haryana3.png" style=" width:80%; height: 80%; alt="" class="center">


 

 <p class="text-justify">
                <span style="font-weight: 700;">Apart from the dairies under HDDCF, three other cooperatives of Amul also operate in Haryana
to serve the markets of Delhi – NCR. These include,</span> :

                <ul class="bullet_icons din">

                    <li>
 Banaskantha Dist Coop Milk Producers’ Union Ltd (Banas Dairy)</li>

                    <li>Sabarkantha Dist Coop Milk Producers’ Union Ltd (Sabar Dairy)</li>

                    <li> Mehsana Dist Coop Milk Producers’ Union Ltd (Dudhmansagar Dairy)</li><br>

                 <img src="/images/sectors/haryana4.png" style=" width:100%; height: 100%; alt="" class="center">



                </ul>

            </p>
        </div>



        <div id="Kerala" class="tabcontent">

            <h3 class="text-primary">Kerala Dairy Cluster Profile</h3><br>

           


            <p class="text-justify">

                Kerala is one among the largest milk producing state in India, in 2017-18 the milk production
in state was around 2.576 million tons and was responsible for 1.54% of the country’s total
production (NDDB, 2019). The graph below shows the increase of milk production during the
last 7 years:
            </p>

<img src="/images/sectors/kerela.png" style=" width:60%; height: 60%; alt="" class="center">
       

 <p class="text-justify">The dairy sector in Kerala has evolved over the time and current shape & form of the dairy
sector in Kerala started with establishment of Kerala Co-operative Milk Marketing Federation
(KCMMF, MILMA) during the Operation Flood Program in 1980 by ‘National Dairy Development
Board’. The KCMMF was established as a three-tiered organization.   </p>

 <p class="text-justify">The farmer memberships that stood at 45,000 during take over from the erstwhile Kerala
Livestock Development and Milk Marketing Board during 1983 has grown to over 9.77 lakhs
through 3,315 milk cooperatives till February 2019. These primary societies are grouped under
three Regional Co-operative Milk Producers’ Unions – Thiruvananthapuram Cooperative Milk
Producers Union (TRCMPU) region, Ernakulam Cooperative Milk Producers Union (ERCMPU)
and Malabar Cooperative Milk Producers Union region. At the apex level KCMMF functions
from the headquarters at Thiruvananthapuram. From the different units managed directly
by KCMMF and the various units under regional unions MILMA produces and distributes
pasteurized Vitamin – A enriched milk and various milk-based products as well as mango
drink throughout the state. MILMA has been instrumental in achieving the national goal of
self-sufficiency in milk production in the state.   </p>
 <p class="text-justify">
The dairy sector in Kerala has a three-tiered structure, at the village level the Village Milk
Cooperative Societies have the local milk producers as its members. These Village Cooperatives
unite at Regional level to form Regional Cooperative Milk Producers’ Unions and further these Regional Unions federate at the State level to form State Federation.</p>

 <p class="text-justify">Under leadership of KCMMF, milk procurement has shown a phenomenal growth from 52,000
litres per day during 1983 to over 12.75 lakh litres per day in 2018-19. The average milk sales
per day for the 2018-19 was 12.98 lakh litres. It is highlighted in the following figure:</p>

<img src="/images/sectors/kerela2.png" style=" width:100%; height: 100%; alt="" class="center">
 <p class="text-justify">The average daily milk procurement is 9.96 lakh litres from 3,206 village milk cooperative
societies, three member unions covering 14 districts, and 9.24 lakh milk producer members.
There are 14 dairies under the membership of KCMMF which are scattered over Kerala. These
milk unions produce more than 30 brand products for MILMA, such as processed milk, curd,
ice cream, ghee, flavored milk, butter, cheese, curd, ghee, paneer (cottage cheese), milk
powders, and milk-based sweets and confectionery, etc.</p>
 <p class="text-justify"><b>The distribution of major dairies in Kerala is shown below:</b></p>

<img src="/images/sectors/kerala.png" style=" width:50%; height: 50%; alt="" class="center">

 </div>
        <div id="Maharashtra" class="tabcontent">
<h3 class="text-primary">Maharashtra Dairy Cluster Profile</h3><br>

                <p class="text-justify">

                In 2018, the total milk production in Maharashtra reached a volume of more than 10 billion
litres, growing at a CAGR of 3.82% during 2011-2018. Maharashtra has played an important
role in making the country one of the largest milk producers in the world. The state currently
represents one of the largest dairy markets in India. Maharashtra contributes 6.29% of the
nation’s overall milk production. The milk production in Maharashtra mainly consists of cow
milk and buffalo milk. Cow milk dominates the total milk production, accounting for around 58%
of the total regional milk production. According to the IMARC group report, the Maharashtra
dairy market is further expected to grow at a CAGR of more than 16% during 2019-2024.
            </p>
<img src="/images/sectors/Maharashtra1.png" style=" width:900px; height: 400px; alt="" class="center"> <br>

<h4 class="text-primary"><b>Cooperative Status</b></h4><br>

<p class="text-justify">
MRSDMM (Maharashtra Rajya Sahakari Dudh Mahasangh Maryadit) was established on
09th June 1967. At present, MRSDMM has 85 member unions (25 District + 60 Taluka) with
more than 24,000 primary milk societies and 25 lakh milk producers. MRSDMM is an apex
federation of district/taluka milk unions established to implement the Operation Flood
program in Maharashtra. Presently, Mahanand is the largest dairy in Mumbai and one of the
largest dairies in Maharashtra.
              </p>

<p class="text-justify">
Mahanand Dairy is a unit run by the MRSDMM. Mahanand Dairy was established on 18th August
1983 with a milk handling capacity of 4 LLPD. The capacity was expanded up to 6 LLPD during
the year 1997-98. At present, Mahanand Dairy distributes 300,000 litres of milk per day in
Mumbai with the help of one packing depot strategically located at Navi Mumbai. The total
sale of milk under Mahanand brand name in the state is 4 LLPD, including the sale of milk in
Konkan, Pune & Nagpur region.

            </p>

  

        </div>



        <div id="Madhya Pradesh" class="tabcontent">

            <h3 class="text-primary">Madhya Pradesh Dairy Cluster Profile</h3><br>

                <p class="text-justify">

                Madhya Pradesh is one among the large milk producing state in India, in 2017-18 the
milk production in state was around 15.911 million tones and was responsible for 8.5% of
the country’s total production (NDDB, 2019). The graph below shows the increase of milk
production during the last 7 years:
            </p>
<img src="/images/sectors/Madhya Pradesh1.png" style=" width:900px; height: 400px; alt="" class="center"> <br>

<p class="text-justify">
The dairy sector in Madhya Pradesh has evolved over the time and current shape & form of the
dairy sector in Madhya Pradesh started with establishment of Madhya Pradesh Cooperative
Dairy Federation (MPCDF). The MPCDF was established as a three-tiered organization.
              </p>

<p class="text-justify">
MP State Cooperative Dairy Federation (MPCDF) is the apex level organization in the system
of famous ‘Anand’ pattern dairy cooperative organization in Madhya Pradesh. At the first level
there are 6897 functional Dairy Cooperative Society (DCSs) and at the second level there are
6 cooperative milk union.




  <p class="text-justify">
                <span style="font-weight: 700;">The infrastructure available with the milk union under cooperative sector in the state can be
summarized as hereunder:</span> 

                <ul class="bullet_icons din">

                    <li>6 Milk Unions</li>

                    <li>6897 Functional Dairy Cooperative Societies</li>

                    <li>603 Bulk Milk Coolers of 9.88 LLPD capacity</li>

                    <li>59 Chilling Centre of 6.87 LLPD capacity</li>

                   <li>6 Main Dairy Plants of 13.70 LLPD capacity</li>

                    <li>10 Mini Dairy Plants of 2.53 LLPD Capacity</li>

                    <li>2 Powder Plants 20 MTPD capacity</li>

                    <li>5 Cattle feed plants of 550 MTPD capacity</li>




                </ul>

            </p>


            </p>
<p class="text-justify">
For consumers, pasteurized liquid milk of various qualities like Full Cream, Standard, Toned,
Double Toned, Cow, Chah, Chai Special and Skim in sachets are marketed in the nearby cities
and towns by all the individual Milk Unions (Bhopal, Indore, Ujjain, Gwalior, Jabalpur & Sagar)
under the brand name of ‘Sanchi’. They also manufacture a whole range of milk products like
Ghee, Table Butter, Shrikhand, Butter Milk, Flavoured Milk (in bottle and sachets), Sweet Curd,
Plain Curd, Peda, Plain & Salted Butter Milk, Paneer, Chhena Kheer, Probiotic Curd, Nariyal
Barfi, Milk Cake, Rasgulla, Gulab Jamun, Gulab Jamun Mix, Coffee Mix, etc., to cater to their
local market . 

            </p>
<p class="text-justify">
During 2018-19 average milk production of milk union was 10.11 lakh kg per day and average
packet sale was 7.40 lakh litres per day.

            </p>
<p class="text-justify">
The dairy sector in Madhya Pradesh has a three-tiered structure, at the village level the Village
Milk Co-operative Societies have the local milk producers as its members. These Village Cooperatives unite at Regional level to form Regional Co-operative Milk Producers’ Unions and
further these Regional Unions federate at the State level to form Apex Federation.

            </p>
<img src="/images/sectors/Madhya Pradesh2.png" style=" width:900px; height: 400px; alt="" class="center"> <br>
        </div>



        <div id="Odisha" class="tabcontent">
          

            <h3 class="text-primary">Odisha Dairy Cluster Profile</h3><br>

                <p class="text-justify">

                Odisha is considered as one of the emerging state of India by means of incredible agriculture
and allied opportunity. Approximately it’s having land area about 1, 55, 820 square km in the
company of thirty districts having a meagre population of 4.6 crores. The economy of the state
by and large depends upon agriculture and related subsectors which provides approximately
70 percent of gross state domestic product. The Dairy sector is also an important contributor
to State’s Gross Domestic Product (GDP) and milk contributes to 22% to the Agricultural GDP
of Odisha and is also one of the biggest sectors for supporting livelihood in the state as more
than 40% of house hold in the State are engaged in Dairy and animal husbandry sector.
Nevertheless, this sector provides employment and sustenance, directly and indirectly to more
than 60 percent of state’s total work force. In Odisha, around 80 percent of rural households
depend on livestock and draw about 30 percent of their annual income is from livestock. About
85 percent of livestock are owned by the landless, marginal and small landholding families.
Though India ranks first in the world in milk Production, Odisha contributes less than 2% of
the total production of milk. The below chart shows the milk production figures in Odisha in
the last decade.
            </p>
<img src="/images/sectors/Odisha1.png" style=" width:900px; height: 400px; alt="" class="center"> <br>
<p class="text-justify">
The growth and development of Dairy sector in Odisha is reasonably significant in character
and is evident from the above chart. The empirical data reveals that milk production (in
‘000 MT) in Odisha during the period 2008-09 to 2018-19 shows positive result i.e. 1598.65
to2311.00, with a CAGR of 3.75%.
            </p>
<p class="text-justify">
Generally, in Odisha most of the milk production is of the milk procured by the formal sector
is usually sold in plastic pouches subsequent to pasteurization, homogenization and
standardization to 3 percent fat and 8.5 percent Solid Not Fat or 4 percent fat and 9 percent
solid non-fats under refrigerated conditions as ‘toned’ milk or cow milk respectively. In this
context the role of Dairy cooperative plays an influential agent in strengthening the Dairy
sector which will boost the milk production. Furthermore, the cooperative systems are the
impending catalysts for justifying the transaction cost, motivating entry into market and promoting growth of milk market in rural communities by paying farmers a remunerative, high
price.
            </p>
<p class="text-justify">
Odisha was also not so far lagging in the implementation of various programmes undertaken
by the central authority. The Operation Flood-I programme was started in Phulnakhara, Cuttack
in 1970. This was a small scheme of collection and of 6000 litres/day from nearby societies
of Puri and Cuttack and sold them after processing. The Operation Flood -II programme was
started in 1981 which had covered four districts i.e. Cuttack, Puri, Dhenkanal and Bhubaneswar.
            </p>
<p class="text-justify">
The growth of Dairy activities in the State plays as influential role for up-gradation of socioeconomic status of the rural poor. In particular, the state like Odisha signifies the momentous
growth in Dairy sector with the help of Odisha State Co-operative Milk Producers Federation
Ltd. (OMFED).
            </p>

        </div>



        <div id="Andhra Pradesh & Telengana" class="tabcontent">

            <h3 class="text-primary">Andhra Pradesh & Telengana Cluster Profile</h3><br>

            <p class="text-justify">
Andhra Pradesh(AP) and Telangana is the third largest milk producing cluster in India, in 2017-
18. The combined milk production in AP and Telangana was around 18.690 million tones and
was responsible for 10.59 % of the country’s total production (NDDB, 2019). The Figure 3:
Annual milk production in Andhra Pradesh and Telangana over the last few years shows the
increase of milk production during the last 7 years in AP and Telangana cluster.
            </p>
<img src="/images/sectors/Andhra Pradesh & Telengana1.png" style=" width:900px; height: 400px; alt="" class="center"> <br>
       
<p class="text-justify">
Andhra Pradesh and Telangana cluster has been the 3rd largest milk producer in the country
after Uttar Pradesh and Rajasthan. Major contribution is from Andhra Pradesh contributing
73.43% of the total milk production from both states. The CAGR of Andhra Pradesh and
Telangana cluster milk production is 6.43%.
            </p>
<p class="text-justify">
The key co-operative dairies unions in the cluster are Andhra Pradesh Dairy development
co-operative Federation Limited (APDDCF), Telangana State dairy development co-operative
Federation Limited(TSDDCF), Mulukanoor Women’s Mutually Aided Milk Producers Cooperative
Union, The Krishna District milk producers mutually aided co-operative union and The Kurnool
District Milk Producers Mutually Aided co-operative Union Limited.
            </p>
<img src="/images/sectors/Andhra Pradesh & Telengana2.png" style=" width:900px; height: 400px; alt="" class="center"> <br>
            <p class="text-justify">
TSDDCF seeks to usher in an era of rural property in Telangana State through organized
commercial dairying based on the principals of cooperatives. To transform itself into an
instrument and vehicle for development of village based dairy sector integrating the milk
producers at the village level with the consumer in the urban markets and metropolitan markets.
TSDDCF should facilitate seam less linkage of the milk producer with the milk consumer.
The milk producers should own and manage the systems and institutions of procurement,
processing and marketing. 
            </p>

<h3 class="text-primary"><b>History of APDDCF and TSDDCF</b></h3>
<p class="text-justify"><b>1960-1972- Integrated Milk Project - IMP</b></p>



<ul class="bullet_icons din">

                    <li>Started dairying in the organized sector</li>

                    <li>Emerged as dependable major subsiDairy occupation to Agriculture</li></ul>
 
<p class="text-justify"><b>1972-1974-Dairy Development Department</b></p>

<ul class="bullet_icons din">

                    <li>Emerged as single agency under Organized Sector</li>

                    <li>Expanded dairying in the State;</li>
<li>Developed dairy infrastructure </li></ul>

 

<p class="text-justify"><b>1974-1981-A.P Dairy Development Corporation Ltd. Under Indian Companies Act 1956</b></p>

<ul class="bullet_icons din">

                 <li>APDDC Ltd became functional from 2-4-1974 with authorized share capital of Rs. 5 Crore &
asset value of Rs. 7.17 Crore</li>

                    <li>Built strong marketing network under popular VIJAYA brand (next to Amul)</li></ul>

 
<p class="text-justify"><b>1981- A.P Dairy Dev. Coop. Federation Ltd. Under APCS Act 1964</b></p>
<ul class="bullet_icons din">

                    <li>Implemented 3-tier cooperative structure</li></ul>
 
<p class="text-justify"><b>5th-May-2016-The Telangana State Dairy Development Cooperative Federation Ltd is
registered. </b></p>

 </div>


        <div id="TamilNadu" class="tabcontent">
<h3 class="text-primary">TamilNadu Dairy Cluster Profile</h3><br>

            <p class="text-justify">
Tamil Nadu is one of the frontline States in milk production with 206 lakh litres per day1 25 Lakh litres per day (LLPD) is retained for household consumption. About 51% of total milk
production i.e. 105 LLPD is procured through unorganized sector and 37% i.e. 76 LLPD is
procured through organized sector like Dairy cooperatives and private sector dairies.
            </p>
<p class="text-justify">
Tamil Nadu Cooperative Milk Producers’ Federation (TCMPF) was formed in 1981 and operates
with 3 tier structure, Primary Milk Producers Cooperative societies (PMCS) at Village level,
Milk Producers Union at District level and Federation at State/apex level. The Federation
is marketing the milk and milk products in the brand name of ‘Aavin’. The major roles of
the Federation apart from marketing in Chennai Metro are to guide and monitor activities
like procurement, marketing, milk handling, infrastructure creation, quality control and
implementation of various schemes.
            </p>
<img src="/images/sectors/TamilNadu1.png" style=" width:900px; height: 400px; alt="" class="center"> <br>
<img src="/images/sectors/TamilNadu2.png" style=" width:900px; height: 400px; alt="" class="center"> <br>

<p class="text-justify">
The share of State Dairy cooperative (TCMPF) in overall milk production is around 18.50%.
Under the dairy cooperative ambit, there are 19 district cooperatives milk producers Union,
12,585 village level primary Milk Producers Cooperative Societies (MPCS) having 20.30 lakh
members. Tamil Nadu stands fourth among the State dairy cooperatives with a daily average
milk procurement of 33.23 lakh litres.The average milk procurement has increased by 13%
during 2018-2019 compared to 2017-2018.
            </p>
<img src="/images/sectors/tamilnadu3.png" style=" width:100%; height: 100%; alt="" class="center"> <br>

<p class="text-justify"> TCMPF produces range of milk products under the Aavin brand like sweets, milk powder,
beverages, Ice creams, fermented products, Coagulated products & others etc. Aavin is also
exporting milk products to International Countries like Singapore, Hong Kong & Qatar5.</p>

<img src="/images/sectors/tamilnadu4.png" style=" width:100%; height: 100%; alt="" class="center"> <br><br>

<h3 class="text-primary">Primary Milk Producers’ Cooperative Societies</h3>
<p class="text-justify">The milk producers’ society means, a registered society with the principal object of arranging
for, and undertaking the purchase of milk produced by its members and storing, processing and
marketing such milk and its by-products. There are 12,585 Primary Milk Cooperative Societies
at village level, out of which 2,075 are all Women Cooperative Milk Producers’ Societies. These
primary milk cooperative societies are procuring milk daily from their members and selling
around 4.5 LLPD to meet out the local demand. The remaining quantum of milk is being sent
to the District Unions and Metro dairies.</p>

<h3 class="text-primary">District Milk Producers Cooperative Union</h3>
<p class="text-justify">There are 19 District Cooperative Milk Producers’ Unions in Tamil Nadu, covering all the revenue
districts. The management of DCMPU has been vested with an elected Board, headed by its
President. The administrative head of the DCMPU is the General Manager.
The unions procure milk from the Milk Producers’ Cooperative Societies (MPCS) process
and market it to the consumers. The surplus milk is sent to Chennai Metro Dairies / Feeder
Balancing Dairies for sale/conversion.
DCMPUs are the implementing agencies for various welfare schemes of the State and Central
Governments.</p>

<h3 class="text-primary">Primary Milk Consumers Cooperative Societies:</h3>
<p class="text-justify">Similar to the operations of the MPCS, to protect the interest of the milk consumers, the milk
consumer cooperative societies (MCCS) were formed. They receive milk in sachets and milk
products from Federation / District Cooperative Milk Producers Unions and supply it to the
consumers. There are about 62 Milk Consumer Cooperative Societies functioning across the
State.</p>

<img src="/images/sectors/tamilnadu5.png" style=" width:100%; height: 100%; alt="" class="center"> <br>
        </div>



        







        <script>

            function openCity(evt, cityName) {

                var i, tabcontent, tablinks;

                tabcontent = document.getElementsByClassName("tabcontent");

                for (i = 0; i < tabcontent.length; i++) {

                    tabcontent[i].style.display = "none";

                }

                tablinks = document.getElementsByClassName("tablinks");

                for (i = 0; i < tablinks.length; i++) {

                    tablinks[i].className = tablinks[i].className.replace(" active", "");

                }

                document.getElementById(cityName).style.display = "block";

                evt.currentTarget.className += " active";

            }

        </script>

        <div class="row pb-4">

            <div class="col-lg-3 col-12">

                <!--  <div class="nav flex-column nav-pills cluster-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                        <a class="nav-link active" id="forging" data-toggle="pill" href="#forging-pill" role="tab" aria-controls="forging-pill" aria-selected="true">Forging</a>



                        <a class="nav-link" id="chemical" data-toggle="pill" href="#chemical-pill" role="tab" aria-controls="chemical-pill" aria-selected="false">Chemical</a>



                        <a class="nav-link" id="lime" data-toggle="pill" href="#lime-pill" role="tab" aria-controls="lime-pill" aria-selected="false">Lime kiln</a>



                        <a class="nav-link" id="foundry" data-toggle="pill" href="#foundry-pill" role="tab" aria-controls="foundry-pill" aria-selected="false">Foundry</a>



                        <a class="nav-link" id="mixed" data-toggle="pill" href="#mixed-pill" role="tab" aria-controls="mixed-pill" aria-selected="false">Mixed Industries</a>



                        <a class="nav-link" id="pharmaceutical" data-toggle="pill" href="#pharmaceutical-pill" role="tab" aria-controls="pharmaceutical-pill" aria-selected="false">Pharmaceutical</a>



                        <a class="nav-link" id="brick" data-toggle="pill" href="#brick-pill" role="tab" aria-controls="brick-pill" aria-selected="false">Brick Kiln</a>

                    </div>

                </div>

                <div class="col-lg-9 col-12">

                    <div class="tab-content cluster-tab-content" id="v-pills-tabContent">

                        <div class="tab-pane fade show active" id="forging-pill" role="tabpanel" aria-labelledby="forging">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quaerat ex cum laudantium facilis omnis minima doloremque tenetur nulla qui ipsam esse culpa numquam voluptate, alias eaque fugiat accusamus vero?Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem harum itaque tempora asperiores laboriosam, labore magni eaque consectetur! Velit eaque provident minima commodi in excepturi nihil incidunt officiis adipisci cumque totam, doloremque nobis facere, eos deleniti reprehenderit molestiae sed reiciendis eum. Accusamus quas vitae odio tempore facere consectetur itaque minus.</div>



                        <div class="tab-pane fade" id="chemical-pill" role="tabpanel" aria-labelledby="chemical">Chemical Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, omnis in. Amet natus deserunt asperiores voluptas, repellat temporibus nobis omnis iusto animi provident deleniti nemo ex unde, modi excepturi at perspiciatis odit possimus reiciendis accusantium aut doloribus ipsa, ad inventore.</div>



                        <div class="tab-pane fade" id="lime-pill" role="tabpanel" aria-labelledby="lime">Lime kiln Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo in commodi facilis dignissimos, soluta debitis. Debitis officia dolorum maiores id perspiciatis? Ad adipisci, obcaecati incidunt commodi, corrupti magnam deleniti cupiditate dolor ea quia aperiam ab consequatur? Voluptates dolor quisquam dolorem eos nihil molestias sequi sed! Dolore deleniti rem ipsam dolores?</div>



                        <div class="tab-pane fade" id="foundry-pill" role="tabpanel" aria-labelledby="foundry">Foundry Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>



                        <div class="tab-pane fade" id="mixed-pill" role="tabpanel" aria-labelledby="mixed">Mixed Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>



                        <div class="tab-pane fade" id="pharmaceutical-pill" role="tabpanel" aria-labelledby="pharmaceutical">Pharmaceutical Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>



                        <div class="tab-pane fade" id="brick-pill" role="tabpanel" aria-labelledby="brick">Brick Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>

                    </div>-->

            </div>

        </div>



        <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row d-flex align-items-center mb-20">
                    <div class="col-12">
                        <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                            <!-- <div class="sub-title primary">Latest  </div> -->
                            <h2 class="title inner-title mb-0"> Videos</h2>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                       
   
                     
                                	
                                	<video width="100%" height="240px" muted autoplay controls>
  <source src="../videos/gef video hindi/DAIRY.mp4" type="video/mp4">
 
</video>




 

                             


                                 


                           
                    </div>
                    
                </div>
            </div>

        </div>
    </div>

</div>







<!--Newsletter Start-->

<div class="newsletter-wrap wow fadeInUp">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">



            </div>



        </div>

    </div>

</div>

<!--Newsletter End-->

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/all.js"></script>
<script src="~/js/script.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5-ed0P7eZL44UHUnOF_WB-BN3XaUk4zk&callback=initMap&sensor=false&region=IN"></script>
<script type="text/javascript">
    var markers = [{
        "title": 'Pune',
        "lat": '18.5196',
        "lng": '73.8553',
        "description": 'Pune is a mixed cluster in Maharastra <a href="abc.php">Read More</a>',
        "icon": 'https://lav.indevconsultancy.com/energy/d17/images/icons/mixed-industries.png'
    },
    {
        "title": 'Navi Mumbai',
        "lat": '18.990713',
        "lng": '73.116844',
        "description": 'Navi Mumbai is Foundry Cluster in Maharastra <a href="abc.php">Read More</a>',
        "icon": 'https://lav.indevconsultancy.com/energy/d17/images/icons/foundry.png'
    }
    ];
    window.onload = function () {
        LoadMap();
    }

    function LoadMap() {
        var mapOptions = {
            center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
            zoom: 4,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

        //Create and open InfoWindow.
        var infoWindow = new google.maps.InfoWindow();

        for (var i = 0; i < markers.length; i++) {
            var data = markers[i];
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title,
                icon: data.icon
            });

            //Attach click event to the marker.
            (function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                    infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
                    infoWindow.open(map, marker);
                });
            })(marker, data);
        }
    }
</script>

