


@{
    ViewBag.Title = "sector_detail";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link href="~/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/elements.css">
<link rel="stylesheet" href="~/webfonts/fonts/flaticon.css">
<link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
<link rel="icon" href="~/images/favicon.png" type="image/x-icon">
<style>
    .tab {
        overflow: hidden;
        border: 1px solid #19a6e0;
        background-color: #edfaff;
    }

        /* Style the buttons inside the tab */

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 20px;
        }



            /* Change background color of buttons on hover */

            .tab button:hover {
                background-color: #78aee3;
                color: white;
            }

            /* Create an active/current tablink class */

            .tab button.active {
                background-color: #009cdc;
                color: white;
            }



    /* Style the tab content */

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        margin-bottom: 50px;
    }

    .tabcontent {
        animation: fadeEffect 3s;
    }
</style>
<section class="breadcrumb-area">

    <div class="container">

        <div class="row">

            <div class="col-xl-12">

                <div class="inner-content clearfix">

                    <div class="title_breadcrumb float-left">

                        <h1>Sector Detail</h1>

                    </div>

                    <div class="breadcrumb-menu float-right">

                        <ul class="clearfix">

                            <li><a href="/GEF">GEF</a></li>

                            <li class="active">Sector Detail</li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>



<section class="gef_sections">

    <div class="container pt-4 pb-4 ">

        <div class="row">

            <div class="col-md-12 col-12">

                <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">

                    <!-- <div class="sub-title primary">MSME's</div> -->

                    <h2 class="title inner-title mb-20 mb-3">Handtools</h2>

                </div>

                <div class="project_bg">

                    <div class="project_info">

                        <img src="/images/sectors/hand-tools.png" style="margin-top: -60px; width:100%; max-width:250px;" alt="" class="img-thumbnail">

                        <p class="text-justify">
                            The hand tools sector has great scope for development in India with
large number of MSME units involved in the production of forged
hand tools such as hammers, handsaws, screwdrivers, wrenches,
chisels, scrapers, wire strippers, hand drills, pliers, spanners, files, etc.
The units are highly energy-intensive with energy playing a significant
role in the overall production costs. Significant potential for savings
exists in the clusters through adopting EE and RE technologies. This is
where the project is helping and supporting the units towards a more
sustainable future.
                        </p>

                        <div class="clearfix"></div>



                    </div>

                </div>

            </div>

        </div>

    </div>

</section>





<div class="about-wrap cluster-section bg-white pt-3 pb-3">

    <div class="container">

        <div class="row">

            <div class="col-12">

                <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">

                    <h2 class="title inner-title mb-20 mb-3">Clusters </h2>

                </div>

            </div>

        </div>





        <div class="tab">

            <button class="tablinks" onclick="openCity(event, 'Jalandhar')">Jalandhar</button>

            <button class="tablinks" onclick="openCity(event, 'Naguar')">Naguar</button>



        </div>



        <div id="Jalandhar" class="tabcontent">



            <div class="row">

                <div class="col-md-12 col-12">

                    <h3 class="text-primary">Jalandhar Handtool Cluster profile</h3><br>

                    <h4>Overview of Cluster </h4>



                    <img src="/images/sectors/jalandhar1.png" class="float-left img-fluid mr-3 mb-3" alt="" style="max-width:400px;">



                    <p class="text-justify text-dark">

                        Jalandhar district is located between latitude 31°19’48” North 75°34’12” East. Due to its central position in Punjab, it shares it borders in North with Hoshiarpur, in South with-Ludhiana & Moga, in east with SBS Nagar, Hoshiarpur & Kapurthala and in west with Kapurthala and Firozpur district. The district has a geographical area of 2,632 square kilometers, representing 5.3 percent of the total area of Punjab.<br>

                        Jalandhar is an important hand tools cluster in India. A wide range of hand tools are manufactured in the cluster. There are over 200 units manufacturing hand tools in the cluster. <br>

                        The turnover of the cluster is around Rs 1,000 crore (Rs 10,000 million). The cluster provides about 60,000 direct employments. The cluster produces around 50,000 tons of hand tools per annum. Most of the units manufacture an array of hand tools like spanners, screw drivers, pliers, bench vices, tyre levers and hammers and so on. A medium scale unit produces around 50-70 tons of materials per month. The production of the unit depends upon the number of hammers installed in the unit. The production of the clusters is presently affected because of frequent power cuts, ranging from 4-6 hours a day. There are a number of industry associations in the cluster, i.e. Hand Tools Manufacturers Association, Jalandhar Chamber of Industries & Commerce, Jalandhar Hand Tools Manufacturers Association & Steel Fabricators Association, Jalandhar Forgings & Engineering Association, Federation of Jalandhar Engineering Association, Focal Point Industries Association and Jalandhar Chamber of Industries and Commerce (JCIC). <br>

                        These associations play an important role in taking up issues pertaining to the industry with the government. In addition, the Central Institute of Hand Tools (CIHT) set up by Government of India with the assistance of UNDP and Government of Punjab in Jalandhar has played a pivotal role in the development of hand tools industry in the cluster. The institute offers various services to the industry in the area of design and manufacture of various tools and improvement of the manufacturing processes. The institute is equipped with CNC machines, heat treatment shop and forging shop.<br>



                    </p>
                </div>
            </div>



            <h4 class="text-primary">Process Flow</h4>

            <p class="text-justify">The hand-tool industries in the cluster are mainly involved in production of spanners, screw drivers, pliers, bench vices, tyre levers and hammers. The units’ sources alloy steel from the market which is forged and machined to give desired shapes and sizes of the hand-tools. The forging furnace, the hammer power press, electroplating and the finishing machines form the key equipment for the sector. The process flow from raw material to final finished product is shown in the figure below:</p>

            <img src="/images/sectors/jalandhar2.png" style=" width:580px; height: 340px; alt="" class="center"><br><br>



            <h5 class="text-primary"><u>About GEF-UNIDO- BEE project:</u></h5>

            <p class="text-justify">
                <span style="font-weight: 700;">The project through it various measures has created a real impact on Energy Efficiency in the cluster. Some of the initiatives are as follows:</span> :

                <ul class="bullet_icons din">

                    <li>Capacity building workshops for enterprises and local service providers.</li>

                    <li>Energy measurement centres.</li>

                    <li>Detailed energy audits.</li>

                    <li>Identification of technology on Energy Efficiency.</li>

                    <li>Financial assistance for demonstration projects.</li>

                </ul>

            </p>

        </div>



        <div id="Naguar" class="tabcontent">



            <div class="row">

                <div class="col-md-12 col-12">

                    <h3 class="text-primary">Naguar Handtool Cluster profile</h3><br>

                    <h5>Overview of Cluster </h5>



                    <img src="/images/sectors/naguar1.png" class="float-left img-fluid mr-3 mb-3" alt="" style="max-width:400px;">



                    <p class="text-justify text-dark">

                        Nagaur district is located between latitude 26.25’ and 27.40’ North and longitude 73.10’ and 75.15’ East and is an important district in the state of Rajasthan. Nagaur shares its borders in north with Bikaner & Churu, in South with-Ajmer & Pali, in east with Sikar & Jaipur and in west with Jodhpur district. The district has a geographical area of 17.718 square kilometers, representing 5.18 percent of the total area of Rajasthan and ranks sixth among the districts of the state.<br>

                        Nagaur is an important hand-tool cluster in India. A wide range of hand tools are manufactured in the cluster with units engaged both in forging and finishing operations. Most of the forging units are concentrated in Basni industrial area, which has been developed by Rajasthan State Industrial Development and Investment Corporation (RIICO) and Rajasthan Finance Corporation (RFC). Other processes such as machining, assembling, grinding and polishing are carried out in units based in Loharpura area. Generally, the products from forging units from Basni area are sent for other finishing operations to Loharpura area. A few of the units have facility to carry out both forging and machining operations under the same premises.<br>

                        There are about 55 hand tool units in the Nagaur cluster. In the recent past, several units have been closed due to poor market conditions. The turnover of the cluster is around Rs 35 crore (Rs 350 million). Pliers and hammers contribute for about in the cluster – (1) Hand Tools Industries Association - Nagaur and (2) Hand Tools Traders Association – Nagaur. The NHMA comprises mainly entrepreneurs from the Basni road industrial area. A large number of micro units situated in Loharpura area are not part of any of these associations. There is a Hand Tool Design Development and Training Centre at Nagaur which was set up in 1988 with an objective to develop small and tiny units in the area. Very few units avail the services of this centre.



                    </p>
                </div>
            </div>



            <h5 class="text-primary">Process Flow</h5>

            <p class="text-justify">
                The hand-tool units in the cluster are mainly involved in production of pliers and hammers. The unit sources alloy steel from market which is forged and machined to give the desired shape and size of the hand-tools. The forging furnace, the hammer power press and the finishing machines form the key equipment for the sector. The process flow from raw material to final finished product is shown in the figure below:

            </p>

            <img src="/images/sectors/naguar2.png" style=" width:700px; height: 320px; alt="" class="center">



            <p class="text-justify">
                From process point of view, the re-heating furnace is the major energy consuming equipment, followed by motors which are used to provide motive power to the common shaft, shearing machine, press machines, etc. Most of the re-heating furnaces in the cluster are furnace oil fired. <br>

                In case of finishing units in the Loharpura area, major processes include broaching for cutting teeth in pliers, drilling for making hole for rivet, riveting of pliers, preliminary hardening of pliers' teeth and packaging. Here, the major energy consuming equipment is the motors which are used for driving the common shaft for machines. There is also a little usage of LPG which is used for hardening of plier teeth.

            </p>



            <h5 class="text-primary"><u>About GEF-UNIDO- BEE project:</u></h5>



            <p class="text-justify">
                <span style="font-weight: 700;">The project through it various measures has created a real impact on Energy Efficiency in the cluster. Some of the initiatives are as follows:</span> :

                <ul class="bullet_icons din">

                    <li>Capacity building workshops for enterprises and local service providers.</li>

                    <li>Energy measurement centres.</li>

                    <li>Detailed energy audits.</li>

                    <li>Identification of technology on Energy Efficiency.</li>

                    <li>Financial assistance for demonstration projects.</li>

                </ul>

            </p>



        </div>





        <script>

            function openCity(evt, cityName) {

                var i, tabcontent, tablinks;

                tabcontent = document.getElementsByClassName("tabcontent");

                for (i = 0; i < tabcontent.length; i++) {

                    tabcontent[i].style.display = "none";

                }

                tablinks = document.getElementsByClassName("tablinks");

                for (i = 0; i < tablinks.length; i++) {

                    tablinks[i].className = tablinks[i].className.replace(" active", "");

                }

                document.getElementById(cityName).style.display = "block";

                evt.currentTarget.className += " active";

            }

        </script>

        <div class="row pb-4">

            <div class="col-lg-3 col-12">

                <!--  <div class="nav flex-column nav-pills cluster-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                        <a class="nav-link active" id="forging" data-toggle="pill" href="#forging-pill" role="tab" aria-controls="forging-pill" aria-selected="true">Forging</a>



                        <a class="nav-link" id="chemical" data-toggle="pill" href="#chemical-pill" role="tab" aria-controls="chemical-pill" aria-selected="false">Chemical</a>



                        <a class="nav-link" id="lime" data-toggle="pill" href="#lime-pill" role="tab" aria-controls="lime-pill" aria-selected="false">Lime kiln</a>



                        <a class="nav-link" id="foundry" data-toggle="pill" href="#foundry-pill" role="tab" aria-controls="foundry-pill" aria-selected="false">Foundry</a>



                        <a class="nav-link" id="mixed" data-toggle="pill" href="#mixed-pill" role="tab" aria-controls="mixed-pill" aria-selected="false">Mixed Industries</a>



                        <a class="nav-link" id="pharmaceutical" data-toggle="pill" href="#pharmaceutical-pill" role="tab" aria-controls="pharmaceutical-pill" aria-selected="false">Pharmaceutical</a>



                        <a class="nav-link" id="brick" data-toggle="pill" href="#brick-pill" role="tab" aria-controls="brick-pill" aria-selected="false">Brick Kiln</a>

                    </div>

                </div>

                <div class="col-lg-9 col-12">

                    <div class="tab-content cluster-tab-content" id="v-pills-tabContent">

                        <div class="tab-pane fade show active" id="forging-pill" role="tabpanel" aria-labelledby="forging">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quaerat ex cum laudantium facilis omnis minima doloremque tenetur nulla qui ipsam esse culpa numquam voluptate, alias eaque fugiat accusamus vero?Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem harum itaque tempora asperiores laboriosam, labore magni eaque consectetur! Velit eaque provident minima commodi in excepturi nihil incidunt officiis adipisci cumque totam, doloremque nobis facere, eos deleniti reprehenderit molestiae sed reiciendis eum. Accusamus quas vitae odio tempore facere consectetur itaque minus.</div>



                        <div class="tab-pane fade" id="chemical-pill" role="tabpanel" aria-labelledby="chemical">Chemical Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, omnis in. Amet natus deserunt asperiores voluptas, repellat temporibus nobis omnis iusto animi provident deleniti nemo ex unde, modi excepturi at perspiciatis odit possimus reiciendis accusantium aut doloribus ipsa, ad inventore.</div>



                        <div class="tab-pane fade" id="lime-pill" role="tabpanel" aria-labelledby="lime">Lime kiln Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo in commodi facilis dignissimos, soluta debitis. Debitis officia dolorum maiores id perspiciatis? Ad adipisci, obcaecati incidunt commodi, corrupti magnam deleniti cupiditate dolor ea quia aperiam ab consequatur? Voluptates dolor quisquam dolorem eos nihil molestias sequi sed! Dolore deleniti rem ipsam dolores?</div>



                        <div class="tab-pane fade" id="foundry-pill" role="tabpanel" aria-labelledby="foundry">Foundry Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>



                        <div class="tab-pane fade" id="mixed-pill" role="tabpanel" aria-labelledby="mixed">Mixed Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>



                        <div class="tab-pane fade" id="pharmaceutical-pill" role="tabpanel" aria-labelledby="pharmaceutical">Pharmaceutical Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>



                        <div class="tab-pane fade" id="brick-pill" role="tabpanel" aria-labelledby="brick">Brick Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>

                    </div>-->

            </div>

        </div>



        <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row d-flex align-items-center mb-20">
                    <div class="col-12">
                        <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                            <!-- <div class="sub-title primary">Latest  </div> -->
                            <h2 class="title inner-title mb-0"> Videos</h2>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
           











                                	<video width="100%" height="240px" muted autoplay controls>
  <source src="../videos/gef video hindi/HAND TOOLS.mp4" type="video/mp4">
 
</video>




 

                             


                                 


                    </div>
                   
                </div>
            </div>

        </div>
    </div>

</div>









<!--Newsletter Start-->

<div class="newsletter-wrap wow fadeInUp">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">



            </div>



        </div>

    </div>

</div>

<!--Newsletter End-->

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/all.js"></script>
<script src="~/js/script.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5-ed0P7eZL44UHUnOF_WB-BN3XaUk4zk&callback=initMap&sensor=false&region=IN"></script>
<script type="text/javascript">
    var markers = [{
        "title": 'Pune',
        "lat": '18.5196',
        "lng": '73.8553',
        "description": 'Pune is a mixed cluster in Maharastra <a href="abc.php">Read More</a>',
        "icon": 'https://lav.indevconsultancy.com/energy/d17/images/icons/mixed-industries.png'
    },
    {
        "title": 'Navi Mumbai',
        "lat": '18.990713',
        "lng": '73.116844',
        "description": 'Navi Mumbai is Foundry Cluster in Maharastra <a href="abc.php">Read More</a>',
        "icon": 'https://lav.indevconsultancy.com/energy/d17/images/icons/foundry.png'
    }
    ];
    window.onload = function () {
        LoadMap();
    }

    function LoadMap() {
        var mapOptions = {
            center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
            zoom: 4,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

        //Create and open InfoWindow.
        var infoWindow = new google.maps.InfoWindow();

        for (var i = 0; i < markers.length; i++) {
            var data = markers[i];
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title,
                icon: data.icon
            });

            //Attach click event to the marker.
            (function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                    infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
                    infoWindow.open(map, marker);
                });
            })(marker, data);
        }
    }
</script>

