@{
    ViewBag.Title = "GEF";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}
 <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>About Us</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="sample1.php">GEF4</a></li>
                                <li class="active">About Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
	<section class="breadcrumb-area mt-3">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="inner-content clearfix pt-2 pb-2">
						<div class="title_breadcrumb">
							<h3 class="text-white text-center">Promoting Energy Efficiency and Renewable Energy in Selected MSME Clusters in India</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<section class="gef_sections">
		<div class="container pt-4 pb-4 ">
			<div class="row">
				<div class="col-md-12 col-12">
					<div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
						
					</div>
					<div class="project_bg">
						<div class="project_info">
<p class="text-justify">The Bureau of Energy Efficiency (BEE), a statutory body under the Ministry of Power, Government of India in collaboration with the United Nations Industrial Development Organization (UNIDO), is executing a Global Environment Facility (GEF) funded national project titled ‘Promoting energy efficiency and renewable energy in selected MSME clusters in India’. </p>
<p class="text-justify">The project was started in 12 MSME clusters across India in five sectors namely Brass (Jamnagar); Ceramics (Khurja, Thangadh and Morbi); Dairy (Gujarat, Sikkim and Kerala); Foundry (Belgaum, Coimbatore and Indore); Hand Tools (Jalandhar and Nagaur) in its first phase.  Across these 12 clusters, the project has Implemented 21 pilot projects and more than 603 small scale energy efficient projects The project has also conducted around 84 awareness cum training workshops to share success of energy efficient projects implemented in the clusters. It also set up 12 EMC centres with state of art energy audit instruments to provide hand hold support to the units in improving energy efficiency measures in the clusters.</p>
<p class="text-justify">The Project has now scaled-up and expanded its activities to additional 11 new clusters, namely in Dairy (Tamil Nadu, Odisha, Madhya Pradesh, Andhra Pradesh & Telangana, Haryana, Maharashtra & Punjab), Foundry (Ahmedabad & Howrah), Ceramic (Himmatnagar), Mixed Cluster (Indore & Sikkim) to reach out to MSME’s at national level and achieve implementation of energy efficiency and renewable energy measures in another 1,116 MSMEs.</p>

						 <h4 class="text-primary">Aim of the Project </h4>

<p class="text-justify">The project aims to develop and promote a market environment for introducing energy efficiency (EE) and enhanced use of renewable energy (RE) technologies in process applications in selected energy intensive industrial clusters, comprising micro, small and medium enterprises (MSMEs). The project is supported by the Ministry of Micro, Small and Medium Enterprises (Mo MSME) and Ministry of New and Renewable Energy (MNRE). </p>
<p class="text-justify"><b>The project is working on four components: - </b>
</p>



<div class="Benchmarking_point">
                        <ul class="bullet_icons din">
                            <li><b>Component 1: </b>Increased capacity of suppliers of EE/RE product suppliers/ service providers/ finance providers</li>
                            <li><b>Component 2: </b>Increasing the level of end-use demand and implementation of EE and RE technologies and practices by MSMEs</li>
                            <li><b>Component 3: </b>Scaling up of the project to a national level</li>
                            <li><b>Component 4:</b> Strengthening policy, institutional and decision-making frameworks</li>
                        
                        </ul>
                    </div>
	

 <p class="text-justify"><b>The desired project outcomes: -</b></p>
<ul class="bullet_icons din">
<li>Creating a scope for energy savings, by increasing the level of end-use demand and implementation of energy efficiency and renewable energy technologies and practices by MSMEs</li>
<li>Encouraging the use of renewable energy in various industrial applications</li>
<li>Improving the productivity and competitiveness of units </li>
<li>Reducing overall carbon emissions and improving the local environment </li>
<li>Increasing the capacity of energy efficiency and renewable energy product suppliers, service providers, finance providers</li>
<li>Strengthening policy, institutional and decision-making frameworks</li>
<li>Scaling up of the project to a national level.</li>
</ul>


							
							
					</div>
				</div>
            
			</div>
		</div>
	</section>
	
    

    
    
    
	

	<!--Newsletter Start-->
	<div class="newsletter-wrap wow fadeInUp">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
				
				</div>
				
			</div>
		</div>
	</div>
	<!--Newsletter End-->
	<?php include( 'include/footer1.php'); ?>
	<script src="js/all.js"></script>
	<script src="js/script.js"></script>
</body>