
@{
    ViewBag.Title = "InHouse";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link href="~/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/elements.css">
<link rel="stylesheet" href="~/webfonts/fonts/flaticon.css">
<link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
<link rel="icon" href="~/images/favicon.png" type="image/x-icon">
<style>

    .list-group-item {
        width: 90%;
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);
        margin-left: 30px;
    }

    body.gef4 .owl-carousel.owl-loaded {
        display: block;
        margin-top: 0px;
    }

    .video-slider-carousel .owl-nav {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: -65px;
        right: 0;
    }

    .video-box {
        border: 1px solid #4990e1;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 7px;
        background: #fff;
        min-height: 330px;
    }

    .sld-item .readmore a {
        font-size: 11px;
        color: #fff;
        padding: 5px 19px;
        border-radius: 61px;
        float: right;
        margin-top: 20px;
    }
</style>
<body class="gef4">
    <?php include( 'include/header1'); ?>
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>In- House Training programs</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="/sample1">GEF4</a></li>
                                <li class="active">In- House Training programs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="about-wrap pt-4 pb-5 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 order-lg-2">
                    <div class="tag_point">
                        <!--<h5>Quick Links</h5>-->
                        <ul>
                            <li><a href="#s1"> Energy Audits</a></li>
                            <li><a href="#s1"> EMC and its Activities</a></li>
                            <li><a href="#s2"> Capacity Building of LSPs</a></li>
                            <li><a href="#s3"> In- House Training programs</a></li>
                            <li><a href="#s4"> International Study tours</a></li>
                            <li><a href="#s5"> Pilot Demonstration Projects</a></li>
                            <li><a href="#s6"> Knowledge Materials</a></li>
                            <li><a href="#s2"> Upscaling activities</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-9 col-12 order-lg-1">
                    <div class="about_inner">
                        <img src="images/activity/4.jpg" alt="">
                        <h3>In- House Training programs</h3>
                        <h6><strong>In-house Training Program for Entrepreneurs, Factory Operators, Supervisors and Plant Managers on “Best Operating Procedures for energy management in MSMEs" at Dr. Ambedkar Institute of Productivity, National Productivity Council, Chennai.</strong></h6>

                        <p class="text-justify">Organized 12 cluster-specific 3-days residential capacity building training workshops at Ambedkar Institute of Productivity-National Productivity Council, Chennai. Trained more than 230 cluster level enterprise representatives on "Best Operating Procedures for Energy management in MSMEs and handling of Energy audit Instruments.The objective is to train the participants through both classroom sessions and lab-practicals so as to increase in the awareness and implementation of Best Operating Procedures,latest technologies & equipment that can be adopted in the plant operation leading to energy conservation in MSMEs. </p>
                    </div>
                </div>




            </div>

        </div>
    </section>


    <section class="pt-4">
        <div class="container">
            <div class="row">



                <div class="col-md-8">
                    <div class="title title_center text-center">
                        <h1 style="color:#297b37;">Cluster Wise Information</h1>
                    </div>


                    <ul class="list-group list-padding">


                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="/inhouseBelgaum" target="_blank">View</a><i class="fa fa-file-pdf-o"></i> </span><strong>
                                Belgaum foundry Cluster
                            </strong>
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="/inhousegujarat" target="_blank">View</a><i class="fa fa-file-pdf-o"></i> </span><strong>
                                Gujarat Dairy Cluster
                            </strong>
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="/inhouseIndore" target="_blank">View</a><i class="fa fa-file-pdf-o"></i> </span><strong>
                                Indore Foundry Cluster
                            </strong>
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="/inhouseJalandhar" target="_blank">View</a><i class="fa fa-file-pdf-o"></i> </span><strong>
                                Jalandhar Hand tools Cluster
                            </strong>
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="/inhouseJamnagar" target="_blank">View</a><i class="fa fa-file-pdf-o"></i> </span><strong>
                                Jamnagar Brass Cluster
                            </strong>
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="/inhouseKerala" target="_blank">View</a><i class="fa fa-file-pdf-o"></i> </span><strong>
                                Kerala Dairy Cluster
                            </strong>
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="/inhousekhurja" target="_blank">View</a><i class="fa fa-file-pdf-o"></i> </span><strong>
                                Khurja Ceramic Cluster
                            </strong>
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="/inhouseMorbi" target="_blank">View</a><i class="fa fa-file-pdf-o"></i> </span><strong>
                                Morbi Ceramic Cluster
                            </strong>
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="/inhouseNagaur" target="_blank">View</a><i class="fa fa-file-pdf-o"></i> </span><strong>
                                Nagaur Hand Tool Cluster
                            </strong>
                        </li>

                        <li class="list-group-item odd-bg-color">
                            <span class="badge badge-custom"><a href="/inhouseThangadh" target="_blank">View</a><i class="fa fa-file-pdf-o"></i> </span><strong>
                                Thangadh Ceramic Cluster
                            </strong>
                        </li>


                    </ul>
                </div>



                <div class="col-md-4">
                    <div class="title title_center text-center">
                        <h1 style="color:#297b37;">Photos</h1>
                    </div>
                    <div class="video-box">

                        <div class="video-slider-carousel strnix-carousel owl-theme owl-carousel" data-options='{"rewind": true,"autoplayHoverPause":true, "loop": false, "margin": 30, "autoheight":true, "lazyload":true, "nav": true, "dots": false, "autoplay": true, "autoplayTimeout": 9000, "smartSpeed": 1500, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" }, "800":{ "items" : "1" }, "1024":{ "items" : "1" }}}' id="campaign">


                            <div class="sld-item">
                                <div class="video-item">
                                    <div class="video-thumb">
                                        <div class="gallery-img">
                                            <a href="images/inhouse/1.jpg" class="image-popup"><img src="images/inhouse/1.jpg" style="width:auto; height: 250px;float:left;padding:0px;"></a>
                                        </div>
                                        <div class="readmore mb-0"><a href="/gallery">View More</a></div>
                                    </div>


                                </div>
                            </div>

                            <div class="sld-item">
                                <div class="video-item">
                                    <div class="video-thumb">
                                        <div class="gallery-img">
                                            <a href="images/inhouse/1.jpg" class="image-popup"><img src="images/inhouse/2.jpg" style="width:auto; height: 250px;float:left;padding:0px;"></a>
                                        </div>
                                        <div class="readmore mb-0"><a href="gallery">View More</a></div>
                                    </div>


                                </div>
                            </div>

                            <div class="sld-item">
                                <div class="video-item">
                                    <div class="video-thumb">
                                        <div class="gallery-img">
                                            <a href="images/inhouse/1.jpg" class="image-popup"><img src="images/inhouse/4.jpg" style="width:auto; height: 250px;float:left;padding:0px;"></a>
                                        </div>
                                        <div class="readmore mb-0"><a href="/gallery">View More</a></div>
                                    </div>


                                </div>
                            </div>


                            <div class="sld-item">
                                <div class="video-item">
                                    <div class="video-thumb">
                                        <div class="gallery-img">
                                            <a href="images/inhouse/1.jpg" class="image-popup"><img src="images/inhouse/5.jpg" style="width:auto; height: 250px;float:left;padding:0px;"></a>
                                        </div>
                                        <div class="readmore mb-0"><a href="/gallery">View More</a></div>
                                    </div>


                                </div>
                            </div>

                            <div class="sld-item">
                                <div class="video-item">
                                    <div class="video-thumb">
                                        <div class="gallery-img">
                                            <a href="images/inhouse/1.jpg" class="image-popup"><img src="images/inhouse/6.jpg" style="width:auto; height: 250px;float:left;padding:0px;"></a>
                                        </div>
                                        <div class="readmore mb-0"><a href="/gallery">View More</a></div>
                                    </div>


                                </div>
                            </div>








                        </div>



                    </div>

                </div>


            </div>
        </div>
    </section>



    <section class="pt-4">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>




    <!--Newsletter Start-->
    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                </div>

            </div>
        </div>
    </div>
    <!--Newsletter End-->
    <?php include( 'include/footer1'); ?>
    <script src="js/all.js"></script>
    <script src="js/script.js"></script>
</body>


