
@{
    ViewBag.Title = "InterCluster";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}

 <style>
   .img-fluid {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #19a6e0;
    background-color: #edfaff;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 8px;
    transition: 0.3s;
    font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #78aee3;
    color: white;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #009cdc;
  color: white;

}

/* Style the tab content */
.tabcontent {
  width:75%;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-bottom: 50px;
}

.tabcontent {
  animation: fadeEffect 3s; 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.report-container .report-thumb a {
    background: #4990e1;
    display: block;
    position: relative;
    padding: 4px 10px;
    color: #fff;
    border-radius: 0;
    font-size: .9rem;
    text-decoration: none;
    text-align: center;
    margin-top:20px;
}

</style>
<style type="text/css">
.sector-box.doc-slider > div {
  margin: 0px;
  width: auto;
  position: relative;
}
.sector-box > div .tiles-wrap:before {
    background: linear-gradient(45deg, rgb(73 216 223 / 46%), rgb(130 135 193 / 86%));
}
.sector-box.doc-slider .tiles-wrap {
  min-height: 311px;
  min-width: 100%;
  min-width: 100%;
  max-height: 100%;
  border-radius: 0;
}
.sector-box.doc-slider .tiles-wrap > .content-part.small-tab h4.title a, .sector-box.doc-slider .tiles-wrap > .content-part.small-tab h4.title{
  font-size: 18px;
  text-align: center;
  margin-top: 33px;
  margin-bottom: 37px;
}
.sector-box.doc-slider  .content-part .icon-wrap, .sector-box .icon-wrap {
  display: block;
  width: 112px;
  height: 112px;
  padding: 0px;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  border: 4px solid #e5e5e5;
  position: relative;
  top: 0;
  margin: 0 auto;
  z-index: 1;
  text-align: center;
  left: 0;
}
.sector-box.doc-slider .tiles-wrap.small-wrap .tile-bg .project-hover-div .content-part {
    padding: 20px;
    padding-top: 30px;
    background: rgb(73 190 209 / 32%);
    height: 100%;
    width: 100%;
    top: 0;
    margin: 0;
    position: absolute;
}

.sector-box.doc-slider .tiles-wrap .content-part.small-tab h4.title, .sector-box.doc-slider .tiles-wrap .content-part.small-tab h4.title a {
  text-align: center;
}
.sector-box.doc-slider .tiles-wrap .content-part.small-tab h4.title{
  margin-top:20px;
}
.sector-box.doc-slider .tiles-wrap .content-part.small-tab .icon-wrap{
  display:flex;
  align-items:center;
  justify-content:center;
}
.sector-box.doc-slider .tiles-wrap .content-part.small-tab .icon-wrap i {
    font-size: 50px;
    color: #e71006;
}
.sector-box.doc-slider.rs-carousel.nav-style2 .owl-nav {
  display: block;
  position: absolute;
  top: -66px;
}
.video-slider-carousel .owl-nav {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: -25px;
    right: 0;
}

.video-box {
    border: 1px solid #4990e1;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 7px;
    background: #fff;
    min-height: 330px;
}

.sld-item .readmore a {
    font-size: 11px;
    color: #fff;
    padding: 5px 19px;
    border-radius: 61px;
    float:right;
    margin-top: 20px;
}

</style>

</head>

<body class="gef4">
	<?php include( 'include/header1.php'); ?>
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>International Study tours/ Inter cluster visits</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="sample1.php">GEF4</a></li>
                                <li class="active">International Study tours/ Inter cluster visits</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
	
	
	
	<section class="about-wrap pt-4 pb-5 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 order-lg-2">
                    <div class="tag_point">
                        <!--<h5>Quick Links</h5>-->
                        <ul>
                            <li><a href="#s1"> Energy Audits</a></li>
                            <li><a href="#s1"> EMC and its Activities</a></li>
                            <li><a href="#s2"> Capacity Building of LSPs</a></li>
                            <li><a href="#s3"> In- House Training programs</a></li>
                            <li><a href="#s4"> International Study tours</a></li>
                            <li><a href="#s5"> Pilot Demonstration Projects</a></li>
                            <li><a href="#s6"> Knowledge Materials</a></li>
                            <li><a href="#s2"> Upscaling activities</a></li>
                           
                        </ul>
                    </div>
                </div>

                <div class="col-lg-9 col-12 order-lg-1">
                    <div class="about_inner">
                        <img src="images/activity/7.jpg" alt="">
                        <h3>International Study tours/ Inter cluster visits</h3>
                        <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>



                
            </div>

           </div> 


    </section>

     <div class="col-lg-12 text-center">
                            <div class="title title_center text-center">
                              <h1 style="color:#297b37;">New Zealand Study Tour- Reports & Presentations</h1> 
                            </div>
                        </div>

	  <section class="pb-4 pt-4">                            
                            <div class="container">                            
                              <div class="row">  
                                      <div class="col-md-12">
                                            <div class="rs-carousel nav-style2 owl-carousel mt-0 sector-box doc-slider" data-rewind="true" data-loop="false" data-items="5" data-margin="15" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
                            
                             
                                                    <div class="ct-box">
                                                      <div class="tiles-wrap small-wrap">
                                                        <div class="tile-bg">        
                                                          <div class="project-hover-div">        
                                                            <div class="content-part small-tab"> 
                                                              <div class="icon-wrap">
                                                                <i class="fa fa-file-pdf"></i>
                                                              </div>       
                                                              <h4 class="title project-flag" data-project="disha">
                                                               <a href="pdf/newzealand-report/1.pdf" >Overview of the Study Tour_Massey University_Johan Pottgieter</a>
                                                              </h4> 
                                                            </div>        
                                                          </div>        
                                                        </div>

                                                        <div class="content-part small-tab">
                                                          <img src="images/newzealandreport/1.png">
                                                       </div>
                                                        <div class="btn-part"><a href="pdf/newzealand-report/1.pdf" class="read-more">Download File <span></span></a></div>        
                                                      </div>
                                                    </div>

                                                <div class="ct-box">
                                                      <div class="tiles-wrap small-wrap">
                                                        <div class="tile-bg">        
                                                          <div class="project-hover-div">        
                                                            <div class="content-part small-tab"> 
                                                              <div class="icon-wrap">
                                                                <i class="fa fa-file-pdf"></i>
                                                              </div>       
                                                              <h4 class="title project-flag" data-project="disha">
                                                                <a href="pdf/newzealand-report/2.pdf">NZ Energy Use in Dairy Sector_Massey Uni_Don Cleland</a>
                                                              </h4> 
                                                            </div>        
                                                          </div>        
                                                        </div>

                                                        <div class="content-part small-tab">
                                                          <img src="images/newzealandreport/2.png">
                                                       </div>
                                                        <div class="btn-part"> <a href="pdf/newzealand-report/2.pdf" class="read-more">Download File <span></span></a></div>        
                                                      </div>
                                                    </div>



                                                    <div class="ct-box">
                                                      <div class="tiles-wrap small-wrap">
                                                        <div class="tile-bg">        
                                                          <div class="project-hover-div">        
                                                            <div class="content-part small-tab"> 
                                                              <div class="icon-wrap">
                                                                <i class="fa fa-file-pdf"></i>
                                                              </div>       
                                                              <h4 class="title project-flag" data-project="disha">
                                                                <a href="pdf/newzealand-report/3.pdf">NZ Agriculture Sector Overview_MPI_Felicity Bloor</a>
                                                              </h4> 
                                                            </div>        
                                                          </div>        
                                                        </div>

                                                        <div class="content-part small-tab">
                                                          <img src="images/newzealandreport/3.png">
                                                       </div>
                                                        <div class="btn-part"> <a href="pdf/newzealand-report/3.pdf" class="read-more">Download File <span></span></a></div>        
                                                      </div>
                                                    </div>
                                                   
                                                    <div class="ct-box">
                                                      <div class="tiles-wrap small-wrap">
                                                        <div class="tile-bg">        
                                                          <div class="project-hover-div">        
                                                            <div class="content-part small-tab"> 
                                                              <div class="icon-wrap">
                                                                <i class="fa fa-file-pdf"></i>
                                                              </div>       
                                                              <h4 class="title project-flag" data-project="disha">
                                                                <a href="pdf/newzealand-report/4.pdf">NZ Primary Growth Partnership Program_MPI_Tess McCawe</a>
                                                              </h4> 
                                                            </div>        
                                                          </div>        
                                                        </div>

                                                        <div class="content-part small-tab">
                                                          <img src="images/newzealandreport/4.png">
                                                       </div>
                                                        <div class="btn-part"> <a href="pdf/newzealand-report/4.pdf" class="read-more">Download File <span></span></a></div>        
                                                      </div>
                                                    </div>

                                                 <div class="ct-box">
                                                      <div class="tiles-wrap small-wrap">
                                                        <div class="tile-bg">        
                                                          <div class="project-hover-div">        
                                                            <div class="content-part small-tab"> 
                                                              <div class="icon-wrap">
                                                                <i class="fa fa-file-pdf"></i>
                                                              </div>       
                                                              <h4 class="title project-flag" data-project="disha">
                                                                <a href="pdf/newzealand-report/5.pdf">Dairy Sector Regulation Overview_MPI_Natalie Collins</a>
                                                              </h4> 
                                                            </div>        
                                                          </div>        
                                                        </div>

                                                        <div class="content-part small-tab">
                                                          <img src="images/newzealandreport/5.png">
                                                       </div>
                                                        <div class="btn-part"> <a href="pdf/newzealand-report/5.pdf" class="read-more">Download File <span></span></a></div>        
                                                      </div>
                                                    </div>

                                                     <div class="ct-box">
                                                      <div class="tiles-wrap small-wrap">
                                                        <div class="tile-bg">        
                                                          <div class="project-hover-div">        
                                                            <div class="content-part small-tab"> 
                                                              <div class="icon-wrap">
                                                                <i class="fa fa-file-pdf"></i>
                                                              </div>       
                                                              <h4 class="title project-flag" data-project="disha">
                                                                <a href="pdf/newzealand-report/6.pdf">Synlait electrode boiler_EECA_FactSheet</a>
                                                              </h4> 
                                                            </div>        
                                                          </div>        
                                                        </div>

                                                        <div class="content-part small-tab">
                                                          <img src="images/newzealandreport/6.png">
                                                       </div>
                                                        <div class="btn-part"> <a href="pdf/newzealand-report/6.pdf" class="read-more">Download File <span></span></a></div>        
                                                      </div>
                                                    </div>


                                                      <div class="ct-box">
                                                      <div class="tiles-wrap small-wrap">
                                                        <div class="tile-bg">        
                                                          <div class="project-hover-div">        
                                                            <div class="content-part small-tab"> 
                                                              <div class="icon-wrap">
                                                                <i class="fa fa-file-pdf"></i>
                                                              </div>       
                                                              <h4 class="title project-flag" data-project="disha">
                                                                <a href="pdf/newzealand-report/7.pdf">NZ Energy Efficiency Conservation & Authority_EECA_Michael Henry</a>
                                                              </h4> 
                                                            </div>        
                                                          </div>        
                                                        </div>

                                                        <div class="content-part small-tab">
                                                          <img src="images/newzealandreport/7.png">
                                                       </div>
                                                        <div class="btn-part"> <a href="pdf/newzealand-report/7.pdf" class="read-more">Download File <span></span></a></div>        
                                                      </div>
                                                    </div>


 <div class="ct-box">
                                                      <div class="tiles-wrap small-wrap">
                                                        <div class="tile-bg">        
                                                          <div class="project-hover-div">        
                                                            <div class="content-part small-tab"> 
                                                              <div class="icon-wrap">
                                                                <i class="fa fa-file-pdf"></i>
                                                              </div>       
                                                              <h4 class="title project-flag" data-project="disha">
                                                                <a href="pdf/newzealand-report/8.pdf">Farm Management Technology_FarmIQ_Darryn Pegram</a>
                                                              </h4> 
                                                            </div>        
                                                          </div>        
                                                        </div>

                                                        <div class="content-part small-tab">
                                                          <img src="images/newzealandreport/8.png">
                                                       </div>
                                                        <div class="btn-part"> <a href="pdf/newzealand-report/8.pdf" class="read-more">Download File <span></span></a></div>        
                                                      </div>
                                                    </div>


 <div class="ct-box">
                                                      <div class="tiles-wrap small-wrap">
                                                        <div class="tile-bg">        
                                                          <div class="project-hover-div">        
                                                            <div class="content-part small-tab"> 
                                                              <div class="icon-wrap">
                                                                <i class="fa fa-file-pdf"></i>
                                                              </div>       
                                                              <h4 class="title project-flag" data-project="disha">
                                                                <a href="pdf/newzealand-report/9.pdf">Reducing Emission in Agri Sector GHG Research Centre_Harry Clark</a>
                                                              </h4> 
                                                            </div>        
                                                          </div>        
                                                        </div>

                                                        <div class="content-part small-tab">
                                                          <img src="images/newzealandreport/9.png">
                                                       </div>
                                                        <div class="btn-part"> <a href="pdf/newzealand-report/9.pdf" class="read-more">Download File <span></span></a></div>        
                                                      </div>
                                                    </div>


 <div class="ct-box">
                                                      <div class="tiles-wrap small-wrap">
                                                        <div class="tile-bg">        
                                                          <div class="project-hover-div">        
                                                            <div class="content-part small-tab"> 
                                                              <div class="icon-wrap">
                                                                <i class="fa fa-file-pdf"></i>
                                                              </div>       
                                                              <h4 class="title project-flag" data-project="disha">
                                                                <a href="pdf/newzealand-report/10.pdf">NZ Breeding Technology_LIC_KapyMacown</a>
                                                              </h4> 
                                                            </div>        
                                                          </div>        
                                                        </div>

                                                        <div class="content-part small-tab">
                                                          <img src="images/newzealandreport/10.png">
                                                       </div>
                                                        <div class="btn-part"> <a href="pdf/newzealand-report/10.pdf" class="read-more">Download File <span></span></a></div>        
                                                      </div>
                                                    </div>


 <div class="ct-box">
                                                      <div class="tiles-wrap small-wrap">
                                                        <div class="tile-bg">        
                                                          <div class="project-hover-div">        
                                                            <div class="content-part small-tab"> 
                                                              <div class="icon-wrap">
                                                                <i class="fa fa-file-pdf"></i>
                                                              </div>       
                                                              <h4 class="title project-flag" data-project="disha">
                                                                <a href="pdf/newzealand-report/11.pdf">Best Practice_Fonterra_Fonterra Team</a>
                                                              </h4> 
                                                            </div>        
                                                          </div>        
                                                        </div>

                                                        <div class="content-part small-tab">
                                                          <img src="images/newzealandreport/11.png">
                                                       </div>
                                                        <div class="btn-part"> <a href="pdf/newzealand-report/11.pdf" class="read-more">Download File <span></span></a></div>        
                                                      </div>
                                                    </div>


 <div class="ct-box">
                                                      <div class="tiles-wrap small-wrap">
                                                        <div class="tile-bg">        
                                                          <div class="project-hover-div">        
                                                            <div class="content-part small-tab"> 
                                                              <div class="icon-wrap">
                                                                <i class="fa fa-file-pdf"></i>
                                                              </div>       
                                                              <h4 class="title project-flag" data-project="disha">
                                                                <a href="pdf/newzealand-report/12.pdf">Summary and Presenters Contact Details_UNIDO INDIA Energy Efficiency in Dairy Sector_2018</a>
                                                              </h4> 
                                                            </div>        
                                                          </div>        
                                                        </div>

                                                        <div class="content-part small-tab">
                                                          <img src="images/newzealandreport/12.png">
                                                       </div>
                                                        <div class="btn-part"> <a href="pdf/newzealand-report/12.pdf" class="read-more">Download File <span></span></a></div>        
                                                      </div>
                                                    </div>



                                                    


                              </div></div></div></div></section></div>
 <div class="container">                            
                              <div class="row">  

<div class="col-md-6">
          <div class="title title_center text-center">
                              <h1 style="color:#297b37;">Belgaum Intercluster visit-Photos</h1> 
                            </div>         
            <div class="video-box">
            
              <div class="video-slider-carousel strnix-carousel owl-theme owl-carousel" data-options='{"rewind": true,"autoplayHoverPause":true, "loop": false, "margin": 30, "autoheight":true, "lazyload":true, "nav": true, "dots": false, "autoplay": true, "autoplayTimeout": 9000, "smartSpeed": 1500, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" }, "800":{ "items" : "1" }, "1024":{ "items" : "1" }}}' id="campaign">

                   
                    <div class="sld-item">  
            <div class="video-item">
                        <div class="video-thumb">
                           <div class="gallery-img">
                                           <a href="images/interclustervisit/1.jpg" class="image-popup"><img src="images/interclustervisit/1.jpg" style="width:auto; height: 250px;float:left;padding:0px;"></a>
                                       </div>
                                        <div class="readmore mb-0"><a href="gallery.php">View More</a></div>
                        </div>
                       
                  
                    </div>
                  </div>

                  
                    <div class="sld-item">  
            <div class="video-item">
                        <div class="video-thumb">
                           <div class="gallery-img">
                                           <a href="images/interclustervisit/2.jpg" class="image-popup"><img src="images/interclustervisit/2.jpg" style="width:auto; height: 250px;float:left;padding:0px;"></a>
                                       </div>
                                        <div class="readmore mb-0"><a href="gallery.php">View More</a></div>
                        </div>
                       
                  
                    </div>
                  </div>
                  
                 
                    <div class="sld-item">  
            <div class="video-item">
                        <div class="video-thumb">
                           <div class="gallery-img">
                                           <a href="images/interclustervisit/3.jpg" class="image-popup"><img src="images/interclustervisit/3.jpg" style="width:auto; height: 250px;float:left;padding:0px;"></a>
                                       </div>
                                        <div class="readmore mb-0"><a href="gallery.php">View More</a></div>
                        </div>
                       
                  
                    </div>
                  </div>

                 
                   
                  
                 
                  
                  
                  
                  
                   
                </div>
            
          
              
            </div>
            
        </div>

        <div class="col-md-6">
          <div class="title title_center text-center">
                              <h1 style="color:#297b37;">New Zealand Study Tour-Photos</h1> 
                            </div>         
            <div class="video-box">
            
              <div class="video-slider-carousel strnix-carousel owl-theme owl-carousel" data-options='{"rewind": true,"autoplayHoverPause":true, "loop": false, "margin": 30, "autoheight":true, "lazyload":true, "nav": true, "dots": false, "autoplay": true, "autoplayTimeout": 9000, "smartSpeed": 1500, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" }, "800":{ "items" : "1" }, "1024":{ "items" : "1" }}}' id="campaign">

                   
                    <div class="sld-item">  
            <div class="video-item">
                        <div class="video-thumb">
                            <div class="gallery-item">
                                       <div class="gallery-img">
                                           <a href="images/newzealandtour/1.jpg" class="image-popup"><img src="images/newzealandtour/1.jpg" style="width:auto; height: 250px;float:left;padding:0px;"></a>
                                       </div>
                                        <div class="readmore mb-0"><a href="gallery.php">View More</a></div>
                        </div>
                       
                  
                    </div>
                  </div>
                </div>
   <div class="sld-item">  
            <div class="video-item">
                        <div class="video-thumb">
                            <div class="gallery-item">
                                       <div class="gallery-img">
                                           <a href="images/newzealandtour/2.jpg" class="image-popup"><img src="images/newzealandtour/2.jpg" style="width:auto; height: 250px;float:left;padding:0px;"></a>
                                       </div>
                                        <div class="readmore mb-0"><a href="gallery.php">View More</a></div>
                        </div>
                       
                  
                    </div>
                  </div>
                </div>

                     <div class="sld-item">  
            <div class="video-item">
                        <div class="video-thumb">
                            <div class="gallery-item">
                                       <div class="gallery-img">
                                           <a href="images/newzealandtour/3.jpg" class="image-popup"><img src="images/newzealandtour/3.jpg" style="width:auto; height: 250px;float:left;padding:0px;"></a>
                                       </div>
                                        <div class="readmore mb-0"><a href="gallery.php">View More</a></div>
                        </div>
                       
                  
                    </div>
                  </div>
                </div>
                 
                  
                    <div class="sld-item">  
            <div class="video-item">
                        <div class="video-thumb">
                            <div class="gallery-item">
                                       <div class="gallery-img">
                                           <a href="images/newzealandtour/4.jpg" class="image-popup"><img src="images/newzealandtour/4.jpg" style="width:auto; height: 250px;float:left;padding:0px;"></a>
                                       </div>
                                        <div class="readmore mb-0"><a href="gallery.php">View More</a></div>
                        </div>
                       
                  
                    </div>
                  </div>
                </div>
                  
                  
                  
                  
                   
                </div>
            
          
              
            </div>
            
        </div>


    </div></div>
    
             <section class="pt-4">
    <div class="container">
      <div class="row">
    
	</div></div></section>

	<!--Newsletter Start-->
	<div class="newsletter-wrap wow fadeInUp">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
				
				</div>
				
			</div>
		</div>
	</div>
	<!--Newsletter End-->
	<?php include( 'include/footer1.php'); ?>
	<script src="js/all.js"></script>
	<script src="js/script.js"></script>
</body>
