
@{
    ViewBag.Title = "KnowledgePortal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container pt-10 pb-20">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-theme-colored">Knowledge Portal</h4>
            <hr />
            <div class="row">
                <div class="col-md-12 text-justify">
                    <p><strong>This Knowledge portal was developed as part of Knowledge Management &amp; Sharing initiative. It&nbsp;</strong>hosts a wealth of information generated under the project and intend to share it with energy efficiency stakeholders working in this domain. The portal contains information on energy efficient technologies, best Industrial practices and success stories that may find interest among these people and to get benefited. There are dedicated sections providing contacts of technology suppliers, energy efficiency financing schemes, list of energy professionals trained under the project that one may contact and get relevant solutions.</p>
                    <p>The platform also provides an opportunity to have a meaningful dialogue with the stakeholders on issues, challenges and policy matters that may help in planning future initiatives.</p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
