
@{
    ViewBag.Title = "KnowledgeLibrary";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}

<body class="gef4">
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>Knowledge Library</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="/GEF">GEF4</a></li>
                                <li class="active">Knowledge Library</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="container mt-4 mb-5">
        <div class="row">

            <div class="col-lg-3 col-6 mt-3">
                <div class="library lab_icon7">
                    <a href="#"></a>
                    <img src="./images/gallery.png" alt="">
                    <a href="/gallery"><div class="capt">Click Here</div></a>
                </div>
                <div class="caption text-center"> <p>Gallery</p> </div>

            </div>

            <div class="col-lg-3 col-6 mt-3">
                <div class="library">gfffrrxg  ww
                    <a href="#"></a>
                    <img src="./images/tutorials.jpg" alt="">
                    <a href="/aboutus/Videos"><div class="capt">Click Here</div></a>
                </div>
                <div class="caption text-center"> <p>Videos</p> </div>

            </div>

            <div class="col-lg-3 col-6 mt-3">
                <div class="library lab_icon1">
                    <a href="#"></a>
                    <img src="./images/case_studies.jpg" alt="">
                    <a href="/casestudies"><div class="capt">Click Here</div></a>
                </div>
                <div class="caption text-center"> <p>Case Studies</p> </div>

            </div>



            <div class="col-lg-3 col-6 mt-3">
                <div class="library lab_icon6">
                    <a href="#"></a>
                    <img src="./images/Training_Manual.png" alt="">
                    <a href="/TrainingManuals"><div class="capt">Click Here</div></a>
                </div>
                <div class="caption text-center"> <p>Training Manual</p> </div>

            </div>



        </div>
    </section>

    <style>
    </style>


    <!--Newsletter Start-->

    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title">
                        <h3 class="text-white"><small>Stay in Loop</small><br> Join our Newsletter</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="news-info">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Your Email Address">
                                <div class="form_icon"><i class="fas fa-envelope"></i></div>
                            </div>
                            <input type="submit" class="sigup" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Newsletter End-->

</body>


