@{
    ViewBag.Title = "Partner_Agencies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix">
                    <div class="title_breadcrumb float-left">
                        <h1>Partner Agencies</h1>
                    </div>
                    <div class="breadcrumb-menu float-right">
                        <ul class="clearfix">
                            <li><a href="/">Home</a></li>
                            <li class="active">Partner Agencies</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="partner">
    <div class="container partner_bg">
        <div class="row">
            <div class="col-md-2 brd">
                <a href="https://www.cii.in/"><img alt="" src="~/images/partner_agency/cii.jpg" class=""></a>
            </div>
            <div class="col-md-2 brd">
                <a href="https://ficci.in/"><img alt="" src="~/images/partner_agency/ficci.jpg" class=""></a>
            </div>
            <div class="col-md-2 brd">
                <a href="https://www.teriin.org/"><img alt="" src="~/images/partner_agency/teri.jpg" class=""></a>
            </div>
            <div class="col-md-2 brd">
                <a href="https://www.giz.de/en/html/index.html"><img alt="" src="~/images/partner_agency/giz.jpg" class=""></a>
            </div>
            <div class="col-md-2 brd">
                <a href="https://www.meti.go.jp/english/"><img alt="" src="~/images/partner_agency/meti.jpg" class=""></a>
            </div>
            <div class="col-md-2 brd">
                <a href="https://www.ecc.net/ecc/"><img alt="" src="~/images/partner_agency/eccj.jpg" class=""></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 brd">
                <a href="https://www.unido.org/"><img alt="" src="~/images/partner_agency/unido.jpg" class="main-logo"></a>
            </div>
            <div class="col-md-2 brd">
                <a href="https://www.worldbank.org/en/home"><img alt="" src="~/images/partner_agency/worldbank.jpg" class="main-logo"></a>
            </div>
            <div class="col-md-2 brd">
                <a href="https://www.sidbi.in/en"><img alt="" src="~/images/partner_agency/sidbi.jpg" class="main-logo"></a>
            </div>
            <div class="col-md-2 brd">
                <a href="http://dcmsme.gov.in/"><img alt="" src="~/images/partner_agency/dcmsme.jpg" class="main-logo"></a>
            </div>
        </div>
    </div>
</section>

<style>
    .partner .block h3 {
        color: #000;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .partner .block p {
        color: #000;
    }

    .brd {
        border-style: solid;
        border-width: thick;
        border-color: #a9a9a929;
    }

    .partner .img_block {
        background: #fff;
        padding: 10px;
        box-shadow: 0px 0px 15px grey;
    }

        .partner .img_block img {
            /* padding: 20px; */
        }
</style>


<!--Newsletter Start-->

<div class="newsletter-wrap wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="title">
                    <h3 class="text-white"><small>Stay in Loop</small><br> Join our Newsletter</h3>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="news-info">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" placeholder="Your Email Address">
                            <div class="form_icon"><i class="fas fa-envelope"></i></div>
                        </div>
                        <input type="submit" class="sigup" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Newsletter End-->
