
@{
    ViewBag.Title = "sector_detail";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link href="~/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/elements.css">
<link rel="stylesheet" href="~/webfonts/fonts/flaticon.css">
<link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
<link rel="icon" href="~/images/favicon.png" type="image/x-icon">
<style>
    .tab {
        overflow: hidden;
        border: 1px solid #19a6e0;
        background-color: #edfaff;
    }

        /* Style the buttons inside the tab */

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 20px;
        }



            /* Change background color of buttons on hover */

            .tab button:hover {
                background-color: #78aee3;
                color: white;
            }

            /* Create an active/current tablink class */

            .tab button.active {
                background-color: #009cdc;
                color: white;
            }



    /* Style the tab content */

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        margin-bottom: 50px;
    }

    .tabcontent {
        animation: fadeEffect 3s;
    }
</style>
<section class="breadcrumb-area">

    <div class="container">

        <div class="row">

            <div class="col-xl-12">

                <div class="inner-content clearfix">

                    <div class="title_breadcrumb float-left">

                        <h1>Sector Detail</h1>

                    </div>

                    <div class="breadcrumb-menu float-right">

                        <ul class="clearfix">

                            <li><a href="/GEF">GEF</a></li>

                            <li class="active">Sector Detail</li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>









<section class="gef_sections">

    <div class="container pt-4 pb-4 ">

        <div class="row">

            <div class="col-md-12 col-12">

                <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">

                    <!-- <div class="sub-title primary">MSME's</div> -->

                    <h2 class="title inner-title mb-20 mb-3">Brass </h2>

                </div>

                <div class="project_bg">

                    <div class="project_info">

                        <img src="~/images/sectors/brass.png" style="margin-top: -60px; width:100%; max-width:250px;" alt="" class="img-thumbnail">

                        <p class="text-justify">
                           The brass sector is an ever-growing sector in the country with various
types of brass-related work units which include brass foundry, brass
parts manufacturing, electroplating, extrusion, etc.
The units are highly energy-intensive with energy playing a significant
role in the overall production costs. Significant potential for savings
exists in the sector through adopting EE and RE technologies. The
adoption of these technologies can make the units more
cost-competitive and sustainable. The project works with the
objective of accelerating the adoption of EE & RE technologies and
best operating practices in MSME units.
                        </p>

                        <div class="clearfix"></div>



                    </div>

                </div>

            </div>

        </div>

    </div>

</section>







<div class="about-wrap cluster-section bg-white pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                    <h2 class="title inner-title mb-20 mb-3">Clusters </h2>
                    <div class="tab">

                        <button class="tablinks" onclick="openCity(event, 'Jamnagar')">Jamnagar</button>

                    </div>



                </div>

            </div>

        </div>





        <div class="row">

            <div class="col-12">

                <div id="Jamnagar" class="tabcontent">

                    <h3 class="text-primary">Jamnagar Brass Cluster profile</h3><br>

                    <h4>Overview of Cluster </h4>







                    <div class="row">

                        <div class="col-md-12 col-12">

                            <img src="~/images/sectors/jamnagar1.png" alt="" style=" margin-top:-20px;

            max-height:310px;max-width:400px;float:right;">



                            <p class="text-justify" style=" width:67%; float:left;">
                                Jamnagar District Is located in the North West of Gujarat State. It is bounded partly by Gulf and partly by the desert of Kutch in the North, Junagadh District in the South, Rajkot District in the East and Arabian Sea in the West. The District has a geographical area of 14,125 sq. km. It is spread between 21.42’ to 22.57’ Latitude and 68.57’ to 70.37’ Longitudes.<br>

                                Jamnagar is one of the largest brass industry clusters in India. There are around 3,500 brass units in the cluster: 900 foundries, 150 extrusion units, 2,100 machining units, and 350 electroplating units. The units produce between 200–400 tons per annum (tpa). Most of these units have been operating for about 15–20 years. Unlike other brass clusters in India, Jamnagar produces brass products that require extensive machining processes like turning, milling, grinding, drawing, boring, threading, and so on. The brass products from the cluster range from 1 gram to 10 kilogram in weight, and from 0.5 mm to 600 mm in length and diameter.<br>

                                <i> (Source: www.sameeeksha.org) </i>

                        </div>

                    </div>



                    <h4 class="text-primary">Major products manufactured in Jamnagar Brass cluster are:</h4>









                    <img src="~/images/sectors/jamnagar2.png" alt="" style="width:100%; margin-top: -30px; max-width:400px; float:right;">

                    <ul class="bullet_icons din">

                        <li>Building hardware like door & window hinges, stoppers, knobs, studs, handles.</li>

                        <li>Brass rods, rounds, hollow rods, square, sections, coils and wire.</li>

                        <li>Sanitary & bathroom fittings like venetian blinds, hangers, taps, curtain fittings.</li>

                        <li> Electronic & Electrical accessories like socket pin, battery terminal, switches, tester, computer sockets.</li>

                        <li> Automobile & Cycle tube valves, industrial control valves.</li>

                        <li> Agricultural Implements like tractor accessories.</li>

                    </ul>







                    <h4 class="text-primary">Process Flow</h4>

                    <p class="text-justify">
                        The production process in the cluster is broadly divided into casting units and extrusion units. While the extrusion units are involved in the production of brass wires; the casting units are involved in manufacturing of a variety of products; some of which are also electroplated, based on the end users’ requirement. Some of the units in the cluster are involved only in machining and electroplating of brass products. The process flow for the two broad categories of units are depicted in the figures below: <br>

           <img src="~/images/sectors/brass3.png" alt="" style="width:100%; height:100%;">

                        There are some units which are involved in production of varied products for which the process flow is modified accordingly.From process point of view, Induction furnace, re-heating furnace, coal pit furnaces are the major energy consuming equipment followed by extrusion press and other machining and lathe machines. The casting units use coal-based pit.
                    </p>





                    <h5 class="text-primary"><u>About GEF-UNIDO- BEE project</u></h5>



                    <p class="text-justify">
                        <span style="font-weight: 700;">The project through it various measures has created a real impact on Energy Efficiency in the cluster. Some of the initiatives are as follows:</span> :

                        <ul class="bullet_icons din">

                            <li>Capacity building workshops for enterprises and local service providers.</li>

                            <li>Energy measurement centres.</li>

                            <li>Detailed energy audits.</li>

                            <li>Identification of technology on Energy Efficiency.</li>

                            <li>Financial assistance for demonstration projects.</li>

                        </ul>

                    </p>

                </div>





            </div>
        </div>







        <script>

            function openCity(evt, cityName) {

                var i, tabcontent, tablinks;

                tabcontent = document.getElementsByClassName("tabcontent");

                for (i = 0; i < tabcontent.length; i++) {

                    tabcontent[i].style.display = "none";

                }

                tablinks = document.getElementsByClassName("tablinks");

                for (i = 0; i < tablinks.length; i++) {

                    tablinks[i].className = tablinks[i].className.replace(" active", "");

                }

                document.getElementById(cityName).style.display = "block";

                evt.currentTarget.className += " active";

            }

        </script>

        <div class="row pb-4">

            <div class="col-lg-3 col-12">

                <!-- <div class="nav flex-column nav-pills cluster-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                        <a class="nav-link active" id="forging" data-toggle="pill" href="#forging-pill" role="tab" aria-controls="forging-pill" aria-selected="true">Forging</a>



                        <a class="nav-link" id="chemical" data-toggle="pill" href="#chemical-pill" role="tab" aria-controls="chemical-pill" aria-selected="false">Chemical</a>



                        <a class="nav-link" id="lime" data-toggle="pill" href="#lime-pill" role="tab" aria-controls="lime-pill" aria-selected="false">Lime kiln</a>



                        <a class="nav-link" id="foundry" data-toggle="pill" href="#foundry-pill" role="tab" aria-controls="foundry-pill" aria-selected="false">Foundry</a>



                        <a class="nav-link" id="mixed" data-toggle="pill" href="#mixed-pill" role="tab" aria-controls="mixed-pill" aria-selected="false">Mixed Industries</a>



                        <a class="nav-link" id="pharmaceutical" data-toggle="pill" href="#pharmaceutical-pill" role="tab" aria-controls="pharmaceutical-pill" aria-selected="false">Pharmaceutical</a>



                        <a class="nav-link" id="brick" data-toggle="pill" href="#brick-pill" role="tab" aria-controls="brick-pill" aria-selected="false">Brick Kiln</a>

                    </div>

                </div>

                <div class="col-lg-9 col-12">

                   <!-- <div class="tab-content cluster-tab-content" id="v-pills-tabContent">

                        <div class="tab-pane fade show active" id="forging-pill" role="tabpanel" aria-labelledby="forging">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quaerat ex cum laudantium facilis omnis minima doloremque tenetur nulla qui ipsam esse culpa numquam voluptate, alias eaque fugiat accusamus vero?Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem harum itaque tempora asperiores laboriosam, labore magni eaque consectetur! Velit eaque provident minima commodi in excepturi nihil incidunt officiis adipisci cumque totam, doloremque nobis facere, eos deleniti reprehenderit molestiae sed reiciendis eum. Accusamus quas vitae odio tempore facere consectetur itaque minus.</div>



                        <div class="tab-pane fade" id="chemical-pill" role="tabpanel" aria-labelledby="chemical">Chemical Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, omnis in. Amet natus deserunt asperiores voluptas, repellat temporibus nobis omnis iusto animi provident deleniti nemo ex unde, modi excepturi at perspiciatis odit possimus reiciendis accusantium aut doloribus ipsa, ad inventore.</div>



                        <div class="tab-pane fade" id="lime-pill" role="tabpanel" aria-labelledby="lime">Lime kiln Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo in commodi facilis dignissimos, soluta debitis. Debitis officia dolorum maiores id perspiciatis? Ad adipisci, obcaecati incidunt commodi, corrupti magnam deleniti cupiditate dolor ea quia aperiam ab consequatur? Voluptates dolor quisquam dolorem eos nihil molestias sequi sed! Dolore deleniti rem ipsam dolores?</div>



                        <div class="tab-pane fade" id="foundry-pill" role="tabpanel" aria-labelledby="foundry">Foundry Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>



                        <div class="tab-pane fade" id="mixed-pill" role="tabpanel" aria-labelledby="mixed">Mixed Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>



                        <div class="tab-pane fade" id="pharmaceutical-pill" role="tabpanel" aria-labelledby="pharmaceutical">Pharmaceutical Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>



                        <div class="tab-pane fade" id="brick-pill" role="tabpanel" aria-labelledby="brick">Brick Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur voluptas inventore eligendi sunt assumenda laudantium excepturi, debitis ipsum odio.</div>

                    </div>-->

            </div>

        </div>



        <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row d-flex align-items-center mb-20">
                    <div class="col-12">
                        <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                            <!-- <div class="sub-title primary">Latest  </div> -->
                            <h2 class="title inner-title mb-0"> Videos</h2>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                       
                          
                                	

                                	<video width="100%" height="240px" muted autoplay controls>
  <source src="../videos/gef video hindi/BRASS.mp4" type="video/mp4">
 
</video>

                                	

                                	



 

                             


                                 


                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>

</div>












<!--Newsletter Start-->

<div class="newsletter-wrap wow fadeInUp">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">



            </div>



        </div>

    </div>

</div>

<!--Newsletter End-->

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/all.js"></script>
<script src="~/js/script.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5-ed0P7eZL44UHUnOF_WB-BN3XaUk4zk&callback=initMap&sensor=false&region=IN"></script>
<script type="text/javascript">
    var markers = [{
        "title": 'Pune',
        "lat": '18.5196',
        "lng": '73.8553',
        "description": 'Pune is a mixed cluster in Maharastra <a href="abc.php">Read More</a>',
        "icon": 'https://lav.indevconsultancy.com/energy/d17/images/icons/mixed-industries.png'
    },
    {
        "title": 'Navi Mumbai',
        "lat": '18.990713',
        "lng": '73.116844',
        "description": 'Navi Mumbai is Foundry Cluster in Maharastra <a href="abc.php">Read More</a>',
        "icon": 'https://lav.indevconsultancy.com/energy/d17/images/icons/foundry.png'
    }
    ];
    window.onload = function () {
        LoadMap();
    }

    function LoadMap() {
        var mapOptions = {
            center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
            zoom: 4,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

        //Create and open InfoWindow.
        var infoWindow = new google.maps.InfoWindow();

        for (var i = 0; i < markers.length; i++) {
            var data = markers[i];
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title,
                icon: data.icon
            });

            //Attach click event to the marker.
            (function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                    infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
                    infoWindow.open(map, marker);
                });
            })(marker, data);
        }
    }
</script>