@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link href="~/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/elements.css">
<link rel="stylesheet" href="~/webfonts/fonts/flaticon.css">
<link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
<link rel="icon" href="~/images/favicon.png" type="image/x-icon">
<body class="gef4">
    <?php include( 'include/header1.php'); ?>
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>Videos</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="/GEF">GEF4</a></li>
                                <li class="active">Videos</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-4 mt-10">
    <div class="container">
     <div class="row">
     </div></div></section>

 <section class="pb-4 mt-10">
    <div class="container">
     <div class="row">
                    <div class="col-md-12">
                        <div class="rs-slider sdg-slider">
                            <div class="rs-carousel nav-style2 owl-carousel" data-rewind="true" data-loop="false" data-items="3" data-margin="15" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="true" data-md-device-dots="false">


                              
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/1.mp4" type="video/mp4">


</video>
                           
                             
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/2.mp4" type="video/mp4">


</video>
                             
                                    <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/3.mp4" type="video/mp4">


</video>
                                
                              
                                  <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/4.mp4" type="video/mp4">


</video> 
                               



                            </div>
                        </div>
                    </div>
                    
                </div>
        </div>
</section>


<section class="pb-4 mt-10">
    <div class="container">
     <div class="row">
                    <div class="col-md-12">
                        <div class="rs-slider sdg-slider">
                            <div class="rs-carousel nav-style2 owl-carousel" data-rewind="true" data-loop="false" data-items="3" data-margin="15" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="true" data-md-device-dots="false">


                              
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final English/1.mp4" type="video/mp4">


</video>
                         

                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final English/2.mp4" type="video/mp4">


</video>
                              

                                     <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final English/3.mp4" type="video/mp4">


</video>
                               

                                  

                            
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final English/4.mp4" type="video/mp4">


</video>
                            

                                 
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final English/5.mp4" type="video/mp4">


</video>
                          

                               
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final English/6.mp4" type="video/mp4">


</video>
                           

                          
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final English/7.mp4" type="video/mp4">


</video>
                            

                                 
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final English/8.mp4" type="video/mp4">


</video>

                                  
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final English/9.mp4" type="video/mp4">


</video>
                             

                                 
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final English/10.mp4" type="video/mp4">


</video>
                                

                            
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final English/11.mp4" type="video/mp4">


</video>
                            
                                 
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final English/12.mp4" type="video/mp4">


</video>
                             
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final English/13.mp4" type="video/mp4">


</video>
                               
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final English/14.mp4" type="video/mp4">


</video>
                               
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="videos/UNIDO Final English/15.mp4" type="video/mp4">


</video>
                               





                                
                            </div>
                        </div>
                    </div>
                    
                </div>
        </div>
</section>


<section class="pb-4 mt-10">
    <div class="container">
     <div class="row">
                    <div class="col-md-12">
                        <div class="rs-slider sdg-slider">
                            <div class="rs-carousel nav-style2 owl-carousel" data-rewind="true" data-loop="false" data-items="3" data-margin="15" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="true" data-md-device-dots="false">


                              
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final Hindi/1.mp4" type="video/mp4">


</video>
                              
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final Hindi/2.mp4" type="video/mp4">


</video>
                               
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final Hindi/3.mp4" type="video/mp4">


</video>
                                
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final Hindi/4.mp4" type="video/mp4">


</video>
                                
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final Hindi/5.mp4" type="video/mp4">


</video>
                                
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final Hindi/6.mp4" type="video/mp4">


</video>
                               
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final Hindi/7.mp4" type="video/mp4">


</video>


                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final Hindi/8.mp4" type="video/mp4">


</video>
                               
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final Hindi/9.mp4" type="video/mp4">


</video>


                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final Hindi/10.mp4" type="video/mp4">


</video>
                              
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final Hindi/11.mp4" type="video/mp4">


</video>
                               
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final Hindi/12.mp4" type="video/mp4">


</video>
                                
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final Hindi/13.mp4" type="video/mp4">


</video>
                                
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final Hindi/14.mp4" type="video/mp4">


</video>
                               
                                   <video width="100%" height="246" autoplay muted controls>
  <source src="../videos/UNIDO Final Hindi/15.mp4" type="video/mp4">


</video>
                               









                                
                            </div>
                        </div>
                    </div>
                    
                </div>
        </div>
</section>





    <style>
.rs-carousel.nav-style2 .owl-nav {
    display: block;
    position: absolute;
    top: -35px;
    right: 0;
}
    </style>


    <!--Newsletter Start-->

    <div class="newsletter-wrap wow fadeInUp">
        
    </div>

    <!--Newsletter End-->



    <?php include('include/footer1.php'); ?>

    <script src="js/all.js"></script>
    <script src="js/script.js"></script>
    <script type="text/javascript"></script>

