@model BEEKP.Areas.Admin.Models.EventViewAddEditModel

@if (Model.Event.listEventImage != null)
{
    <table id="tblEventImage" class="table table-striped table-hover table-bordered">

        <thead>
            <tr>
                <th>
                    Event Image
                </th>
                <th>
                    Event Image Name
                </th>
                <th align="center" valign="middle">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @for (Int32 i = 0; i < Model.Event.listEventImage.Count; i++)
                {

                <tr>
                    <td>
                        @if (Model.Event.listEventImage[i].event_image_name != null && Model.Event.listEventImage[i].event_image_name != "")
                        {
                            <img src="~/images/Event/@Model.Event.listEventImage[i].event_image_name" alt="Event Inage" width="100px">
                        }
                        else
                        {
                            <img src=@BEEKP.Class.Constants.NO_IMAGE alt="Event Inage" width="100px">
                        }
                    </td>
                    <td>
                        <label>@Model.Event.listEventImage[i].event_image_name</label>
                    </td>
                    <td align="center" valign="middle">
                        <a href="@Url.Action("EventImageAddEdit", "AdminEvent", new { sEventID = BEEKP.Class.Encryption.Encrypt(Model.Event.listEventImage[i].event_id.ToString(), true),sEventImageID=BEEKP.Class.Encryption.Encrypt(Model.Event.listEventImage[i].event_image_id.ToString(), true) })" title="" class="custom-edit-tooltip"><i class="fa fa-pencil"></i></a>
                        |
                        <a href="@Url.Action("DeleteEventImage", "AdminEvent", new { sEventID = BEEKP.Class.Encryption.Encrypt(Model.Event.listEventImage[i].event_id.ToString(), true), sEventImageID = BEEKP.Class.Encryption.Encrypt(Model.Event.listEventImage[i].event_image_id.ToString(),true),sevent_image_name = Model.Event.listEventImage[i].event_image_name})" title="" data-toggle="confirmation" data-original-title="Are you sure ?"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

