@model BEEKP.Areas.Admin.Models.AdminFeedBackViewModel
@if (Model.ListFeedBackInactive != null)
{

    <table id="tblFeedBackInactive" class="table table-striped table-hover table-bordered action-column-custom">

        <thead>
            <tr>
                <th>
                     Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Contact no.
                </th>
               
                <th align="center" valign="middle">
                    Feedback
                </th>
            </tr>
        </thead>
        <tbody>

            @{


                for (Int32 i = 0; i < Model.ListFeedBackInactive.Count; i++)
                {



                    <tr>
                        <td>
                            <label>@Model.ListFeedBackInactive[i].name_user</label>
                        </td>
                        <td>
                            <label>@Model.ListFeedBackInactive[i].email_id </label>
                        </td>
                        <td>
                            <label>@Model.ListFeedBackInactive[i].contact_no </label>
                        </td>

                        <td align="center" valign="middle">
                            <label>@Model.ListFeedBackInactive[i].feedback_message </label>
                        </td>
                    </tr>
                }

            }


        </tbody>
    </table>
                }
