@model BEEKP.Models.CaseStudyViewModel

@if (Model.ListCaseStudy != null)
{
    <table id="tblCaseStudy" class="table table-striped table-hover table-bordered table-small-padding table-Valign-middle">

        <thead>
            <tr>
                <th>
                    Sr. No.
                </th>
                <th width="25%">
                    Cluster
                </th>
                <th>
                    Interventions
                </th>
                <th class="width-70 text-align-center">
                    Details
                </th>
            </tr>
        </thead>
        <tbody>

            @for (Int32 i = 0; i < Model.ListCaseStudy.Count; i++)
            {
                Int32 slno = i + 1;
                //String EE = Model.ListCaseStudy[i].ee_keywords;
                <tr>
                    <td>
                        @slno
                    </td>
                    <td>
                        @Model.ListCaseStudy[i].cluster_name
                    </td>
                    <td>
                        @Model.ListCaseStudy[i].ee_keywords
                    </td>

                    <td style="text-align:center">
                        <a href="~/documents/Case_Study/@Model.ListCaseStudy[i].file_name" target="_blank">
                            <i class="fa fa-file-pdf-o" style="color:red"></i>
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}