@*  This Page is not required  *@

<section id="home">

    <!-- Slider Revolution Start -->
    @*<div class="rev_slider_wrapper">
        <div class="rev_slider" data-version="5.0">
            <ul>

                <!-- SLIDE 1 -->
                <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/s1.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 1" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/images/s1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                         id="rs-3-layer-2"
                         data-x="['right']"
                         data-hoffset="['35']"
                         data-y="['middle']"
                         data-voffset="['-25']"
                         data-fontsize="['32']"
                         data-lineheight="['54']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;s:500"
                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                         data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; white-space: nowrap; font-weight:600;">
                        Implementation of EE measures in 500 units
                    </div>

                </li>

                <!-- SLIDE 2 -->
                <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/images/s2.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 2" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/images/s2.jpg" alt="" data-bgposition="center 40%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                         id="rs-3-layer-2"
                         data-x="['right']"
                         data-hoffset="['35']"
                         data-y="['middle']"
                         data-voffset="['-25']"
                         data-fontsize="['32']"
                         data-lineheight="['54']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;s:500"
                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                         data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; white-space: nowrap; font-weight:600;">
                        1.3 million Tonne of lifetime CO2 reduction
                    </div>

                </li>

                <!-- SLIDE 3 -->
                <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/s3.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 3" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/images/s3.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                         id="rs-3-layer-2"
                         data-x="['right']"
                         data-hoffset="['35']"
                         data-y="['middle']"
                         data-voffset="['-25']"
                         data-fontsize="['32']"
                         data-lineheight="['54']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;s:500"
                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                         data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; white-space: nowrap; font-weight:600;">
                        Reaching out to more than 2000 MSMEs
                    </div>

                </li>

                <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/images/s4.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 4" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/images/s4.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                         id="rs-3-layer-2"
                         data-x="['right']"
                         data-hoffset="['35']"
                         data-y="['middle']"
                         data-voffset="['-25']"
                         data-fontsize="['32']"
                         data-lineheight="['54']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;s:500"
                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                         data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; white-space: nowrap; font-weight:600;">
                        Capacity Building of Stakeholders
                    </div>

                </li>

            </ul>
        </div>
        <!-- end .rev_slider -->
    </div>*@
    <!-- end .rev_slider_wrapper -->
    <!-- Slider Revolution Ends -->

</section>