<section class="divider parallax margin-top-bottom video-section-custom" data-bg-img="" id="gallery2">
    <div class="container pt-60 pb-40">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!--<h2 class="mt-0 pb-0 mb-0 text-white text-uppercase">Photo  <span class="text-theme-color-2">Gallery</span></h2>-->
                    <h2 class="mt-10 line-height-1 text-uppercase">Video  <span class="text-theme-color-2"> Gallery</span></h2>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <!-- Gallery Grid -->
                <div class="owl-carousel-4col" data-nav="true">
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <img class="img-fullwidth" alt="" src="~/images/g1.jpg">
                                <!--<div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                  <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    <li><a data-rel="prettyPhoto" href="images/g1.jpg"><i class="fa fa-arrows"></i></a></li>
                                  </ul>
                                </div>-->
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-raleway font-weight-600 m-0">Title Place Here</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <img class="img-fullwidth" alt="" src="~/images/g2.jpg">
                                <!--<div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                  <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    <li><a data-rel="prettyPhoto" href="images/g2.jpg"><i class="fa fa-arrows"></i></a></li>
                                  </ul>
                                </div>-->
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-raleway font-weight-600 m-0">Title Place Here</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <img class="img-fullwidth" alt="" src="~/images/g3.jpg">
                                <!--<div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                  <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    <li><a data-rel="prettyPhoto" href="images/g3.jpg"><i class="fa fa-arrows"></i></a></li>
                                  </ul>
                                </div> -->
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-raleway font-weight-600 m-0">Title Place Here</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <img class="img-fullwidth" alt="" src="~/images/g4.jpg">
                                <!--<div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                  <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    <li><a data-rel="prettyPhoto" href="images/g4.jpg"><i class="fa fa-arrows"></i></a></li>
                                  </ul>
                                </div> -->
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-raleway font-weight-600 m-0">Title Place Here</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <img class="img-fullwidth" alt="" src="~/images/g5.jpg">
                                <!--<div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                  <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    <li><a data-rel="prettyPhoto" href="images/g5.jpg"><i class="fa fa-arrows"></i></a></li>
                                  </ul>
                                </div> -->
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-raleway font-weight-600 m-0">Title Place Here</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <img class="img-fullwidth" alt="" src="~/images/g6.jpg">
                                <!-- <div class="gallery-overlay"></div>
                                 <div class="gallery-contect">
                                   <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                     <li><a href="#"><i class="fa fa-link"></i></a></li>
                                     <li><a data-rel="prettyPhoto" href="images/g6.jpg"><i class="fa fa-arrows"></i></a></li>
                                   </ul>
                                 </div> -->
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-raleway font-weight-600 m-0">Title Place Here</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Gallery Grid -->
            </div>
        </div>
    </div>
</section>