<section class="twobox-section-custom">
    <div class="container pt-0 pb-0">
        <div class="section-content slider-bottom-box">
            <div class="row equal-height-inner mt-sm-0" data-margin-top="-60px">
                <div class="col-sm-12 col-md-6 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay1">
                    <div class="sm-height-auto" data-bg-img="../images/h1.jpg">
                        <div class="p-10">
                            <h5 class="text-white text-uppercase">Energy Efficiency Project in MSME Cluster</h5>
                            <p class="text-white-f1 mt-10 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas odit unde dolor inventore autem quod vero incidunt labore sunt reprehenderit.</p>
                            <a href="#" class="btn btn-default font-14 btn-theme-colored mt-10 hvr-bounce-to-left no-border">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 pl-0 pl-sm-15 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay2">
                    <div class="sm-height-auto" data-bg-img="../images/h2.jpg">
                        <div class="p-10">
                            <h5 class="text-white text-uppercase">Participate in Energy Efficiency Project in MsME Cluster</h5>
                            <p class="lead text-white-f1">Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit. Quas odit unde dolor adipisicing inventore autem quod incidunt labore.</p>
                            <a href="#" class="btn btn-default font-14 btn-theme-colored mt-10 hvr-bounce-to-left no-border">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>