
@{
    ViewBag.Title = "Brass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <style>
   .img-fluid {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #19a6e0;
    background-color: #edfaff;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 8px;
    transition: 0.3s;
    font-size: 18px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #78aee3;
    color: white;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #009cdc;
  color: white;

}

/* Style the tab content */
.tabcontent {
  width:75%;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-bottom: 50px;
}

.tabcontent {
  animation: fadeEffect 3s; 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.report-container .report-thumb a {
    background: #4990e1;
    display: block;
    position: relative;
    padding: 4px 10px;
    color: #fff;
    border-radius: 0;
    font-size: .9rem;
    text-decoration: none;
    text-align: center;
    margin-top:20px;
}

</style>

<body>
    <?php include('include/header.php'); ?>


    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>Brass Cluster Profile</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="/">Home</a></li>
                                <li class="active">Brass Cluster Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




 




             <section class="pt-4">
    <div class="container">
      <div class="row">

                  <div class="col-lg-12 text-center">
                            <div class="title title_center text-center">
                              <h1 style="color:#297b37;">Bhubaneshwar brass cluster</h1> 
                            </div>
                        </div>

               

                <div class="col-lg-12 col-12">
           <div class="row report-box">


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Bhubaneshwar brass cluster/1.pdf" >DPR_on_Common_Facility_Melting_and<br>_Re-Heating_Furnace_250kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                              <a href="pdf/Bhubaneshwar brass cluster/2.pdf" >DPR_on_Common_Facility_Melting_and<br>_Re-Heating_Furnace_500kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Bhubaneshwar brass cluster/3.pdf" >DPR_on_Common_Facility_<br>Mordern_Unit_250kg</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                                  <a href="pdf/Bhubaneshwar brass cluster/4.pdf" >DPR_on_common_facility_rice_husk<br>_based_Mordern_Unit_(250kg)</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Bhubaneshwar brass cluster/5.pdf" >DPR_on_Common_Facility_Rice_<br>Husk_Gasification_2500kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                              <a href="pdf/Bhubaneshwar brass cluster/6.pdf" >DPR_on_Common_Facility_Rice_<br>Husk_Gasification_5000kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                                 <a href="pdf/Bhubaneshwar brass cluster/7.pdf" >DPR_on_energy_efficient_<br>melting_furncae_(30kg)</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              <a href="pdf/Bhubaneshwar brass cluster/8.pdf" >DPR_on_energy_efficient_<br>melting_furncae_(60kg)</a>
                            </div>
                        </div>
                      </div>
                </div> 


                 <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              <a href="pdf/Bhubaneshwar brass cluster/9.pdf" >DPR_on_Energy_Efficient_<br>Melting_Furncae_100kg</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              <a href="pdf/Bhubaneshwar brass cluster/10.pdf" >DPR_on_Energy_Efficient_<br>Re-Heating_Furnace_30kg</a>
                        </div>
                      </div>
                </div> 
                </div>

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                            <a href="pdf/Bhubaneshwar brass cluster/11.pdf" >DPR_on_Energy_Efficient_<br>Re-Heating_Furnace_60kg</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                              <a href="pdf/Bhubaneshwar brass cluster/12.pdf" >DPR_on_Energy_Efficient_<br>Re-Heating_Furnace_100kg</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                                 <a href="pdf/Bhubaneshwar brass cluster/13.pdf" >DPR_on_Rice_Husk_<br>Gasification_30kg</a>
                            </div>
                        </div>
                      </div>
                </div>


                 <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Bhubaneshwar brass cluster/14.pdf" >DPR_on_Rice_Husk_<br>Gasification_60kg</a>
                            </div>
                        </div>
                      </div>
                </div>

             

                 <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                                 <a href="pdf/Bhubaneshwar brass cluster/15.pdf" >DPR_on_Rice_Husk_<br>Gasification_100kg</a>
                            </div>
                        </div>
                      </div>
                </div>

</div>
</div></div></section>


     <section class="pt-4">
    <div class="container">
      <div class="row">

                  <div class="col-lg-12 text-center">
                            <div class="title title_center text-center">
                              <h1 style="color:#297b37;">Jamnagar brass cluster</h1> 
                            </div>
                        </div>

               

                <div class="col-lg-12 col-12">
           <div class="row report-box">


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Jamnagar brass cluster/1.pdf" >DPR_Energy_Efficient_Gas_Fired_<br>Rotoberatory_Furnace_250 kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                            <a href="pdf/Jamnagar brass cluster/2.pdf" >DPR_on_Energy_Efficient_Gas<br>_Fired_Pit_Furnace_200 kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                              <a href="pdf/Jamnagar brass cluster/3.pdf" >DPR_on_Energy_Efficient_Gas_<br>Fired_Pit_Furnace_300_kg</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Jamnagar brass cluster/4.pdf" >DPR_on_Energy_Efficient_Gas_<br>Fired_Pit_Furnace_350_kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Jamnagar brass cluster/5.pdf" >DPR_on_Energy_Efficient_Gas_Fired<br>_Reheating_Furnace_750_Kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Jamnagar brass cluster/6.pdf" >DPR_on_Energy_Efficient_Gas_<br>Fired_Reheating_Furnace_1200_Kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                              <a href="pdf/Jamnagar brass cluster/7.pdf" >DPR_on_Energy_Efficient_Gas_<br>Fired_Reheating_Furnace_2000_Kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                            <a href="pdf/Jamnagar brass cluster/8.pdf" >DPR_on_Energy_Efficient_Gas_<br>Fired_Rotoberatory_Furnace_500_kg</a>
                            </div>
                        </div>
                      </div>
                </div> 


                 <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              <a href="pdf/Jamnagar brass cluster/9.pdf" >DPR_on_Energy_Efficient_Gas_<br>Fired_Rotoberatory_Furnace_750_kg</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              <a href="pdf/Jamnagar brass cluster/10.pdf" >DPR_on_Energy_Efficient_<br>Oil_Fired_Pit_Furnace_150_kg</a>
                        </div>
                      </div>
                </div> 
                </div>

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                            <a href="pdf/Jamnagar brass cluster/11.pdf" >DPR_on_Energy_Efficient_Oil<br>_Fired_Pit_Furnace_300_kg</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                            <a href="pdf/Jamnagar brass cluster/12.pdf" >DPR_on_Energy_Efficient_Oil_<br>Fired_Pit_Furnace_400_kg</a>
                            </div>
                        </div>
                      </div>
                </div> 

                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                               <a href="pdf/Jamnagar brass cluster/13.pdf" >Fired_Pit_<br>Furnace_400_kg</a>
                            </div>
                        </div>
                      </div>
                </div>


                 <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Jamnagar brass cluster/14.pdf" >DPR_on_Energy_Efficient_Oil_<br>Fired_Reheating_Furnace_2000_Kg</a>
                            </div>
                        </div>
                      </div>
                </div>

                 <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Jamnagar brass cluster/15.pdf" >Jamnagar_Brass_<br>Winrock.1-44</a>
                            </div>
                        </div>
                      </div>
                </div>

                 <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Jamnagar brass cluster/16.pdf" >Jamnagar_Brass_<br>Winrock.45</a>
                            </div>
                        </div>
                      </div>
                </div>
                

</div>
</div></div></section>


 <section class="pt-4">
    <div class="container">
      <div class="row">

                  <div class="col-lg-12 text-center">
                            <div class="title title_center text-center">
                              <h1 style="color:#297b37;">Jagadhri cluster</h1> 
                            </div>
                        </div>

               

                <div class="col-lg-12 col-12">
           <div class="row report-box">


                <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/Jamnagar brass cluster/1.pdf" >Jagadhri_Brass_and<br>_Aluminium_Cluster</a>
                            </div>
                        </div>
                      </div>
                </div> 



</div>
</div></div></section>


 

<section class="pt-4">
    <div class="container">
      <div class="row">
    


                 <div class="col-md-12">
                            <div class="title title_center text-center">
                              <h1 style="color:#297b37;">Clusters</h1> 
                            </div>
                      




            <div class="tab" id="tab">

  <button class="tablinks " onclick="openCity(event, 'Balakati Odisha')">Balakati Odisha</button>
  <button class="tablinks" onclick="openCity(event, 'Hajo Kamrup')">Hajo Kamrup</button>
  <button class="tablinks" onclick="openCity(event, 'Hoogly')">Hoogly</button>
  <button class="tablinks" onclick="openCity(event, 'Khurda')">Khurda</button>
  <button class="tablinks" onclick="openCity(event, 'North Tripura')">North Tripura</button>
  <button class="tablinks" onclick="openCity(event, 'Pareb')">Pareb</button>
  <button class="tablinks" onclick="openCity(event, 'Peramballur')">Peramballur</button>
  <button class="tablinks" onclick="openCity(event, 'Sant Kabir Nagar')">Sant Kabir Nagar</button>
  <button class="tablinks" onclick="openCity(event, 'Vishnugarh Hazaribagh')">Vishnugarh Hazaribagh </button>
 
</div>



<div id="Balakati Odisha" class="tabcontent" id="tabcontent">

<section class="pb-4">
    <div class="container">
      <div class="row">
        
          <div class="col-lg-12 col-12">
           <div class="row report-box">



           <div class="col-md-6">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              
                             <a href="pdf/balakati-brass-Odisha.pdf" >Balakati-Brass-Odisha</a>
                            </div>
                        </div>
                      </div>
                </div>
                
</div></div></div></div></section></div>




</div></div></div></section>

 



<section class="gef_sections">
   <div class="container pt-4 pb-4 ">
    <div class="container">
      <div class="row">
    


    </div></div></div></section>



    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title">
                        <h3 class="text-white"><small>Stay in Loop</small><br> Join our Newsletter</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="news-info">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Your Email Address">
                                <div class="form_icon"><i class="fas fa-envelope"></i></div>
                            </div>
                            <input type="submit" class="sigup" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Newsletter End-->



    
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>





 <?php include( 'include/footer1.php'); ?>
  <script src="js/all.js"></script>
  <script src="js/script.js"></script>
</body>


