
@{
    ViewBag.Title = "Foundry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
   .img-fluid {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #19a6e0;
    background-color: #edfaff;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 8px;
    transition: 0.3s;
    font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #78aee3;
    color: white;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #009cdc;
  color: white;

}

/* Style the tab content */
.tabcontent {
  width:75%;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-bottom: 50px;
}

.tabcontent {
  animation: fadeEffect 3s; 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.report-container .report-thumb a {
    background: #4990e1;
    display: block;
    position: relative;
    padding: 4px 10px;
    color: #fff;
    border-radius: 0;
    font-size: .9rem;
    text-decoration: none;
    text-align: center;
    margin-top:20px;
}

</style>
<body>

    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>Foundry Cluster Profile</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="/">Home</a></li>
                                <li class="active">Foundry Cluster Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



 <section class="pt-4">
    <div class="container">
      <div class="row">

                  <div class="col-lg-12 text-center">
                            <div class="title title_center text-center">
                              <h1 style="color:#297b37;">Batala Jalandhar Ludhiana foundry cluster</h1> 
                            </div>
                        </div>

               

                  <div class="col-lg-12 col-12">
                      <div class="row report-box">


                          <div class="col-md-3">
                              <div class="report-item">
                                  <div class="report-container">
                                      <div class="report-thumb">

                                          <a href="pdf/Batala Jalandhar Ludhiana foundry cluster/1.pdf">Divided_blast_cupola_<br>furnace_Batala_Jlndr_<br>Ludh_Fdry_Cluster</a>
                                      </div>
                                  </div>
                              </div>
                          </div>


                          <div class="col-md-3">
                              <div class="report-item">
                                  <div class="report-container">
                                      <div class="report-thumb">

                                          <a href="pdf/Batala Jalandhar Ludhiana foundry cluster/2.pdf">En_cost_reduction_with_insulation<br>_improvemt_by_insulation_paint_coatgs_<br>Batala_Jlndr_Ludh_Fdry_Cluster</a>
                                      </div>
                                  </div>
                              </div>
                          </div>


                          <div class="col-md-3">
                              <div class="report-item">
                                  <div class="report-container">
                                      <div class="report-thumb">

                                          <a href="pdf/Batala Jalandhar Ludhiana foundry cluster/3.pdf">En_cost_reductn_with_kwh_indicator<br>_cum_integrator_for_inductn_furnace_<br>Batala_Jlndr_Ludh_Fdry_Cluster</a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-md-3">
                              <div class="report-item">
                                  <div class="report-container">
                                      <div class="report-thumb">

                                          <a href="pdf/Batala Jalandhar Ludhiana foundry cluster/4.pdf">Energy_cost_reduction_with_<br>infrared_thermometer_Batala_<br>Jlndr_Ludh_Fdry_Cluster</a>
                                      </div>
                                  </div>
                              </div>
                          </div>


                          <div class="col-md-3">
                              <div class="report-item">
                                  <div class="report-container">
                                      <div class="report-thumb">

                                          <a href="pdf/Batala Jalandhar Ludhiana foundry cluster/5.pdf">Energy_efficient_motor_<br>for_blower_in_cupola_furnace_10_<br>hp_Batala_Jlndr_Ludh_Fdry_Cluster</a>
                                      </div>
                                  </div>
                              </div>
                          </div>


                          <div class="col-md-3">
                              <div class="report-item">
                                  <div class="report-container">
                                      <div class="report-thumb">

                                          <a href="pdf/Batala Jalandhar Ludhiana foundry cluster/6.pdf">Energy_efficient_motor<br>_in_rotary_furnace_10_HP_Batala<br>_Jlndr_Ludh_Fdry_Cluster</a>
                                      </div>
                                  </div>
                              </div>
                          </div>


                          <div class="col-md-3">
                              <div class="report-item">
                                  <div class="report-container">
                                      <div class="report-thumb">

                                          <a href="pdf/Batala Jalandhar Ludhiana foundry cluster/7.pdf">Energy_efficient_motor_in_rotary<br>_furnace_15_HP_Batala_<br>Jlndr_Ludh_Fdry_Cluster</a>
                                      </div>
                                  </div>
                              </div>
                          </div>


                          <div class="col-md-3">
                              <div class="report-item">
                                  <div class="report-container">
                                      <div class="report-thumb">
                                          <a href="pdf/Batala Jalandhar Ludhiana foundry cluster/8.pdf">Installation_of_eco_ventilators<br>_in_place_of_exhaust_fan_Batala<br>_Jlndr_Ludh_Fdry_Cluster</a>
                                      </div>
                                  </div>
                              </div>
                          </div>


                          <div class="col-md-3">
                              <div class="report-item">
                                  <div class="report-container">
                                      <div class="report-thumb">
                                          <a href="pdf/Batala Jalandhar Ludhiana foundry cluster/9.pdf">Installation_of_flue_gas_analyser<br>_to_reduce_excess_air_and_optimising<br>_furnace_combustion_eff_Batala_<br>Jlndr_Ludh_Fdry_Cluster</a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-md-3">
                              <div class="report-item">
                                  <div class="report-container">
                                      <div class="report-thumb">
                                          <a href="pdf/Batala Jalandhar Ludhiana foundry cluster/10.pdf">Installation_of<br>_VFD_on_screw_compressor_Batala<br>_Jlndr_Ludh_Fdry_Cluster</a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-md-3">
                              <div class="report-item">
                                  <div class="report-container">
                                      <div class="report-thumb">

                                          <a href="pdf/Batala Jalandhar Ludhiana foundry cluster/11.pdf">Medium_frequency_furnace_in<br>_place_of_main_frequency_furnace_Batala<br>_Jlndr_Ludh_Fdry_Cluster</a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-md-3">
                              <div class="report-item">
                                  <div class="report-container">
                                      <div class="report-thumb">

                                          <a href="pdf/Batala Jalandhar Ludhiana foundry cluster/12.pdf">PF_improvement_by_installation<br>_of_capacitor_banks_Batala<br>_Jlndr_Ludh_Fdry_Cluster</a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-md-3">
                              <div class="report-item">
                                  <div class="report-container">
                                      <div class="report-thumb">

                                          <a href="pdf/Batala Jalandhar Ludhiana foundry cluster/13.pdf">Replacement_of_arc_furnace_<br>with_medium_frequency_induction_furnace_<br>Batala_Jlndr_Ludh_Fdry_Cluster</a>
                                      </div>
                                  </div>
                              </div>
                          </div>


                          <div class="col-md-3">
                              <div class="report-item">
                                  <div class="report-container">
                                      <div class="report-thumb">

                                          <a href="pdf/Batala Jalandhar Ludhiana foundry cluster/14.pdf">Replacement_of_oil_fired_rotary<br>_furnace_with_induction_furnace_<br>Batala_Jlndr_Ludh_Fdry_Cluster</a>
                                      </div>
                                  </div>
                              </div>
                          </div>



                          <div class="col-md-3">
                              <div class="report-item">
                                  <div class="report-container">
                                      <div class="report-thumb">

                                          <a href="pdf/Batala Jalandhar Ludhiana foundry cluster/15.pdf">Spectrometer_for_analysing<br>_the_molten_metal_Batala_<br>Jlndr_Ludh_Fdry_Cluster</a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
</div></div></section>






<section class="pt-4">
    <div class="container">
      <div class="row">
    


                 <div class="col-md-12">
                            <div class="title title_center text-center">
                              <h1 style="color:#297b37;">Clusters</h1> 
                            </div>
                      




            <div class="tab" id="tab">

  <button class="tablinks " onclick="openCity(event, 'Gujarat')">Agra</button>
  <button class="tablinks" onclick="openCity(event, 'Haryana')">Batala</button>
  <button class="tablinks" onclick="openCity(event, 'Kerala')">Jalandhar</button>
   <button class="tablinks" onclick="openCity(event, 'Madhya Pradesh')">Howrah</button>
  <button class="tablinks" onclick="openCity(event, 'Maharashtra')">Ludhiana</button>
  <button class="tablinks" onclick="openCity(event, 'Odisha')">Rajkot</button>
  <button class="tablinks " onclick="openCity(event, 'Sikkim')">Shimoga</button>
  <button class="tablinks" onclick="openCity(event, 'Kolhapur')">Kolhapur</button>
  <button class="tablinks" onclick="openCity(event, 'Tamil Nadu')">Ahmedabad</button>
  <button class="tablinks" onclick="openCity(event, 'Assam')">Belgaum</button>
  <button class="tablinks" onclick="openCity(event, 'Haryana')">Coimbatore</button>
  <button class="tablinks" onclick="openCity(event, 'Anand')">Indore</button>
  <button class="tablinks" onclick="openCity(event, 'Andem, West Sikkim')">Ujjain,Pitampura</button>
  <button class="tablinks" onclick="openCity(event, 'Buldhana')">Ranga Reddy</button>
  <button class="tablinks" onclick="openCity(event, 'Dindigul')">Samalkha</button>
  <button class="tablinks" onclick="openCity(event, 'Hardoi')">Rourkela, Rajgangpur, Lathikata Kuarmunda</button>
  

 
</div>

<div id="Kolhapur" class="tabcontent" id="tabcontent">

<section class="pb-4">
    <div class="container">
      <div class="row">
        
          <div class="col-lg-12 col-12">
           <div class="row report-box">



           <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              <a href="pdf/foundry cluster/8.pdf" >Kolhapur Foundry Sector Report-V2</a>
                            </div>
                        </div>
                      </div>
                </div> 


                 <div class="col-md-3">
                    <div class="report-item">  
                        <div class="report-container">
                            <div class="report-thumb">
                              <a href="pdf/foundry cluster/9.pdf" >Kolhapur Workshop Report (2)</a>
                            </div>
                        </div>
                      </div>
                </div> 
                
</div></div></div></div></section></div>

   </div></div></div></section>

 <section class="pt-4">
    <div class="container">
      <div class="row">

                

               

          <div class="col-lg-12 col-12">
              <div class="row report-box">


                  <div class="col-md-3">
                      <div class="report-item">
                          <div class="report-container">
                              <div class="report-thumb">

                                  <a href="pdf/foundry cluster/1.pdf">BJL_Hand Tools_<br>CII</a>
                              </div>
                          </div>
                      </div>
                  </div>


                  <div class="col-md-3">
                      <div class="report-item">
                          <div class="report-container">
                              <div class="report-thumb">

                                  <a href="pdf/foundry cluster/2.pdf">Foundry_energy audit report_ SB Reshellers</a>
                              </div>
                          </div>
                      </div>
                  </div>


                  <div class="col-md-3">
                      <div class="report-item">
                          <div class="report-container">
                              <div class="report-thumb">

                                  <a href="pdf/foundry cluster/3.pdf">Foundry_energy audit report_Abhijeet casting</a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="report-item">
                          <div class="report-container">
                              <div class="report-thumb">

                                  <a href="pdf/foundry cluster/4.pdf">Foundry_Energy audit report_Bhavani_Industries</a>
                              </div>
                          </div>
                      </div>
                  </div>


                  <div class="col-md-3">
                      <div class="report-item">
                          <div class="report-container">
                              <div class="report-thumb">

                                  <a href="pdf/foundry cluster/5.pdf">Foundry_energy audit report_Caspro metal</a>
                              </div>
                          </div>
                      </div>
                  </div>


                  <div class="col-md-3">
                      <div class="report-item">
                          <div class="report-container">
                              <div class="report-thumb">

                                  <a href="pdf/foundry cluster/6.pdf">Foundry_energy audit report_Ghatge Patil</a>
                              </div>
                          </div>
                      </div>
                  </div>


                  <div class="col-md-3">
                      <div class="report-item">
                          <div class="report-container">
                              <div class="report-thumb">

                                  <a href="pdf/foundry cluster/7.pdf">Foundry_energy audit report_Shriram Foundry</a>
                              </div>
                          </div>
                      </div>
                  </div>




                  <div class="col-md-3">
                      <div class="report-item">
                          <div class="report-container">
                              <div class="report-thumb">
                                  <a href="pdf/foundry cluster/10.pdf">Report_Shriram <br>foundry</a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="report-item">
                          <div class="report-container">
                              <div class="report-thumb">

                                  <a href="pdf/foundry cluster/11.pdf">Sriram_foundries</a>
                              </div>
                          </div>
                      </div>
                  </div>


              </div>
          </div>
</div></div>
        </section>




 <section class="gef_sections">
   <div class="container pt-4 pb-4 ">
    <div class="container">
      <div class="row">
    


    </div></div></div></section>




    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title">
                        <h3 class="text-white"><small>Stay in Loop</small><br> Join our Newsletter</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="news-info">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Your Email Address">
                                <div class="form_icon"><i class="fas fa-envelope"></i></div>
                            </div>
                            <input type="submit" class="sigup" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Newsletter End-->



    
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>





  <script src="js/all.js"></script>
  <script src="js/script.js"></script>
</body>

