
@{
    ViewBag.Title = "Ankleshwar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-10">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-theme-colored">Ankleshwar(Chemical)</h4>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <p>Ankleshwar is an industrial town located in the Bharuch district of Gujarat. Ankleshwar is known for manufacturing chemical dyes and pigments (67% units), pharmaceutical products (27% units) and Pesticides (5% units). Large scale industries like Cadila Healthcare Ltd, United Phosphorous Ltd, Asian Paints, Zandu Chemicals Ltd, Sun Pharma, Pfizer, Glaxo Pharma, Atul Paints and Synchem Chemicals have their presence in Ankleshwar. MSME in the cluster manufactures basic chemicals (intermediary products), which are used as raw materials by many medium and large scale units of the cluster. Energy cost accounts for around 5~12% of manufacturing cost in these chemical units. The main energy sources are Piped Natural Gas (PNG), Electricity and Firewood. High Speed Diesel oil is rarely used for operating Diesel Generators. Electrical energy is from grid whereas PNG is sourced from Gas Authority of India Ltd (GAIL), Gujarat State Petronet Ltd (GSPL) and Cairn Energy. PNG is the major source of energy, annual consumption of 324,677 TOE, followed by electricity annually 61,364 TOE and firewood around 1,040 TOE per annum. The commonly used equipment by these chemical industries are Steam boilers, Thermic fluid heaters, Reaction vessels, Hot air generators, Centrifuge, Press filter, Air compressors, Dryers, Circulation pumps, Chilling system and Electric motors. Two major industrial associations active in Ankleshwar Cluster are Ankleshwar Industries Association (AIA) and Panoli Industries Association. The government bodies associated with development of MSMEs are; Gujarat Industrial Development Corporation (GIDC), District Industries Centre, Gujarat energy Development agency (GEDA), Gujarat Pollution Control Board and Ministry of Environment and Forests. Among the financial institutions, Bank of Baroda is the lead bank apart from 25 nationalized, co-operative and commercial banks. SIDBI is also operational in Ankleshwar through its Baroda branch.</p>
                </div>
            </div>
        </div>
    </div>
</div>
