@model BEEKP.Models.HomeGalleryViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

.img-fluid {
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
}

.pb-5, .py-5 {
    padding-bottom: 1rem!important;
}

.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}
.portfolio-filter a.active, .portfolio-filter a:hover {
    color: #fff !important;
}

.portfolio-filter a.active, .portfolio-filter a:hover, .project .hover-link i {
    background: #1F386B !important;
}
.portfolio-filter a.active, .portfolio-filter a:hover {
    border-left: 3px solid #46a45a !important;
}

.portfolio-filter a {
    border-left: 3px solid transparent;
    background-color: #f8f8f8;
    display: inline-block;
    float: none;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-right: 5px;
    outline: medium none;
    padding: 5px 15px;
    transition: all 100ms ease-in-out 0s;
}
.portfolio-filter {
    margin-bottom: 30px;
}
.title h1 {
    font-size: 40px;
    color: #0d7a3b;
    margin: 0;
    font-weight: bold;
}
</style>
</head>

<body>
    <?php include('include/header.php'); ?>


    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title_breadcrumb float-left">
                            <h1>Project Gallery</h1>
                        </div>
                        <div class="breadcrumb-menu float-right">
                            <ul class="clearfix">
                                <li><a href="index.php">Resources</a></li>
                                <li class="active">Project Gallery</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

 <section>
        <div class="container pt-4 pb-5">
           
        </div>
    </section>


 <div class="portfolio-filter font-alt align-center text-center mb-6 0">
                        
                        <a href="javascript:void(0);" class="active" data-filter=".photos">Photos</a>
                        <a href="@Url.Action("Index", "VideoGallery", null, Request.Url.Scheme)" class="" data-filter=".campus">Videos</a>
                        
                    </div>

    
 <div class="rs-contact pt-40 md-pt-40">
                <div class="container">
                           
                        
                        <div class="col-lg-12 md-mb-20">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/1.jpg" class="image-popup"><img src="images/siddhie/1.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>


                                   <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                          <a href="images/siddhie/2.jpg" class="image-popup"><img src="images/siddhie/2.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                    <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/3.jpg" class="image-popup"><img src="images/siddhie/3.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                    <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                          <a href="images/siddhie/4.jpg" class="image-popup"><img src="images/siddhie/4.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                          <a href="images/siddhie/5.jpg" class="image-popup"><img src="images/siddhie/5.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                   <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/6.jpg" class="image-popup"><img src="images/siddhie/6.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>


                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/7.jpg" class="image-popup"><img src="images/siddhie/7.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/8.jpg" class="image-popup"><img src="images/siddhie/8.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/9.jpg" class="image-popup"><img src="images/siddhie/9.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/10.jpg" class="image-popup"><img src="images/siddhie/10.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/11.jpg" class="image-popup"><img src="images/siddhie/11.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/12.jpg" class="image-popup"><img src="images/siddhie/12.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/13.jpg" class="image-popup"><img src="images/siddhie/13.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/14.jpg" class="image-popup"><img src="images/siddhie/14.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>


                                   <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/15.jpg" class="image-popup"><img src="images/siddhie/15.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/16.jpg" class="image-popup"><img src="images/siddhie/16.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/17.jpg" class="image-popup"><img src="images/siddhie/17.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/18.jpg" class="image-popup"><img src="images/siddhie/18.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/19.jpg" class="image-popup"><img src="images/siddhie/19.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/20.jpg" class="image-popup"><img src="images/siddhie/20.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/21.jpg" class="image-popup"><img src="images/siddhie/21.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/22.jpg" class="image-popup"><img src="images/siddhie/22.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/23.jpg" class="image-popup"><img src="images/siddhie/23.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/24.jpg" class="image-popup"><img src="images/siddhie/24.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/25.jpg" class="image-popup"><img src="images/siddhie/25.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/26.jpg" class="image-popup"><img src="images/siddhie/26.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/27.jpg" class="image-popup"><img src="images/siddhie/27.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/28.jpg" class="image-popup"><img src="images/siddhie/28.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/29.jpg" class="image-popup"><img src="images/siddhie/29.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/30.jpg" class="image-popup"><img src="images/siddhie/30.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/31.jpg" class="image-popup"><img src="images/siddhie/31.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/32.jpg" class="image-popup"><img src="images/siddhie/32.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/33.jpg" class="image-popup"><img src="images/siddhie/33.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>


                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/34.jpg" class="image-popup"><img src="images/siddhie/34.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/35.jpg" class="image-popup"><img src="images/siddhie/35.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/36.jpg" class="image-popup"><img src="images/siddhie/36.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/37.jpg" class="image-popup"><img src="images/siddhie/37.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/38.jpg" class="image-popup"><img src="images/siddhie/38.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/39.jpg" class="image-popup"><img src="images/siddhie/39.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/40.jpg" class="image-popup"><img src="images/siddhie/40.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/41.jpg" class="image-popup"><img src="images/siddhie/41.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/42.jpg" class="image-popup"><img src="images/siddhie/42.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/43.jpg" class="image-popup"><img src="images/siddhie/43.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/44.jpg" class="image-popup"><img src="images/siddhie/44.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/45.jpg" class="image-popup"><img src="images/siddhie/45.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/46.jpg" class="image-popup"><img src="images/siddhie/46.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/47.jpg" class="image-popup"><img src="images/siddhie/47.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/48.jpg" class="image-popup"><img src="images/siddhie/48.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/49.jpg" class="image-popup"><img src="images/siddhie/49.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/50.jpg" class="image-popup"><img src="images/siddhie/50.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/51.jpg" class="image-popup"><img src="images/siddhie/51.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/52.jpg" class="image-popup"><img src="images/siddhie/52.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div> <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/53.jpg" class="image-popup"><img src="images/siddhie/53.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/54.jpg" class="image-popup"><img src="images/siddhie/54.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/55.jpg" class="image-popup"><img src="images/siddhie/55.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/56.jpg" class="image-popup"><img src="images/siddhie/56.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>


                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/57.jpg" class="image-popup"><img src="images/siddhie/57.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                
                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/58.jpg" class="image-popup"><img src="images/siddhie/58.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                               <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/59.jpg" class="image-popup"><img src="images/siddhie/59.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               
                               
                                <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/60.jpg" class="image-popup"><img src="images/siddhie/60.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                                  <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/61.jpg" class="image-popup"><img src="images/siddhie/61.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                                   <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/62.jpg" class="image-popup"><img src="images/siddhie/62.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                               <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/63.jpg" class="image-popup"><img src="images/siddhie/63.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                                  <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/64.jpg" class="image-popup"><img src="images/siddhie/64.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                                   <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/65.jpg" class="image-popup"><img src="images/siddhie/65.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                                    <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/66.jpg" class="image-popup"><img src="images/siddhie/66.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/67.jpg" class="image-popup"><img src="images/siddhie/67.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                            <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/68.jpg" class="image-popup"><img src="images/siddhie/68.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                              <!-- <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/69.jpg" class="image-popup"><img src="images/siddhie/69.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               
                                <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/70.jpg" class="image-popup"><img src="images/siddhie/70.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                                    <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/71.jpg" class="image-popup"><img src="images/siddhie/71.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                             <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/72.jpg" class="image-popup"><img src="images/siddhie/72.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                             <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/73.jpg" class="image-popup"><img src="images/siddhie/73.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>-->
                               

                                 <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/74.jpg" class="image-popup"><img src="images/siddhie/74.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                                    <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/75.jpg" class="image-popup"><img src="images/siddhie/75.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                            <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/76.jpg" class="image-popup"><img src="images/siddhie/76.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                             <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/77.jpg" class="image-popup"><img src="images/siddhie/77.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                                <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/78.jpg" class="image-popup"><img src="images/siddhie/78.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                                  <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/79.jpg" class="image-popup"><img src="images/siddhie/79.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                                    <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/80.jpg" class="image-popup"><img src="images/siddhie/80.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                                   <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/81.jpg" class="image-popup"><img src="images/siddhie/81.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               

                                   <div class="col-md-3">
                                    <div class="gallery-item photos">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/82.jpg" class="image-popup"><img src="images/siddhie/82.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                               


                        </div>
                        
                        
                    </div>
                </div>
                 
            </div>

 
             <div class="rs-contact pt-40 pb-40 md-pt-40">
                <div class="container">
                    <div class="row">
                           <div class="col-lg-12 text-center">
                            <div class="title title_center text-center">
                              <h1>Exhibition</h1> 
                            </div>
                        </div>
                        
                        <div class="col-lg-12 md-mb-20">
                            <div class="row">


                                <div class="col-md-3">
                                    <div class="gallery-item">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/Exhibition/1.jpg" class="image-popup"><img src="images/siddhie/Exhibition/1.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>


                                   <div class="col-md-3">
                                    <div class="gallery-item">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/Exhibition/2.jpg" class="image-popup"><img src="images/siddhie/Exhibition/2.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                    <div class="col-md-3">
                                    <div class="gallery-item">
                                       <div class="gallery-img">
                                          <a href="images/siddhie/Exhibition/3.jpg" class="image-popup"><img src="images/siddhie/Exhibition/3.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                    <div class="col-md-3">
                                    <div class="gallery-item">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/Exhibition/4.jpg" class="image-popup"><img src="images/siddhie/Exhibition/4.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                 <div class="col-md-3">
                                    <div class="gallery-item">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/Exhibition/5.jpg" class="image-popup"><img src="images/siddhie/Exhibition/5.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                
                                 <div class="col-md-3">
                                    <div class="gallery-item">
                                       <div class="gallery-img">
                                          <a href="images/siddhie/Exhibition/6.jpg" class="image-popup"><img src="images/siddhie/Exhibition/6.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                   <div class="col-md-3">
                                    <div class="gallery-item">
                                       <div class="gallery-img">
                                         <a href="images/siddhie/Exhibition/7.jpg" class="image-popup"><img src="images/siddhie/Exhibition/7.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>



                                    <div class="col-md-3">
                                    <div class="gallery-item">
                                       <div class="gallery-img">
                                          <a href="images/siddhie/Exhibition/8.jpg" class="image-popup"><img src="images/siddhie/Exhibition/8.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                    <div class="col-md-3">
                                    <div class="gallery-item">
                                       <div class="gallery-img">
                                           <a href="images/siddhie/Exhibition/9.jpg" class="image-popup"><img src="images/siddhie/Exhibition/9.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>
                                
                                 <div class="col-md-3">
                                    <div class="gallery-item">
                                       <div class="gallery-img">
                                          <a href="images/siddhie/Exhibition/10.jpg" class="image-popup"><img src="images/siddhie/Exhibition/10.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                   <div class="col-md-3">
                                    <div class="gallery-item">
                                       <div class="gallery-img">
                                         <a href="images/siddhie/Exhibition/11.jpg" class="image-popup"><img src="images/siddhie/Exhibition/11.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>


                                  <div class="col-md-3">
                                    <div class="gallery-item">
                                       <div class="gallery-img">
                                          <a href="images/siddhie/Exhibition/12.jpg" class="image-popup"><img src="images/siddhie/Exhibition/12.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                  
                                
                                 <div class="col-md-3">
                                    <div class="gallery-item">
                                       <div class="gallery-img">
                                          <a href="images/siddhie/Exhibition/13.jpg" class="image-popup"><img src="images/siddhie/Exhibition/13.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>

                                   <div class="col-md-3">
                                    <div class="gallery-item">
                                       <div class="gallery-img">
                                         <a href="images/siddhie/Exhibition/14.jpg" class="image-popup"><img src="images/siddhie/Exhibition/14.jpg" class="img-fluid"></a>
                                       </div>
                                      
                                    </div>
                                </div>



                            </div>
                        </div>



                        
                    </div>
                </div>
                 
            </div>

     


    <!--Newsletter Start-->

    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title">
                        <h3 class="text-white"><small>Stay in Loop</small><br> Join our Newsletter</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="news-info">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Your Email Address">
                                <div class="form_icon"><i class="fas fa-envelope"></i></div>
                            </div>
                            <input type="submit" class="sigup" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Newsletter End-->



    <?php include('include/footer.php'); ?>

     <script src="/Scripts/jquery-3.6.0.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/js/all.js"></script>
    <script src="/js/script.js"></script>
   
    <script>
    var $container = $('.gallery-isotope');
    // initialize isotope
    $container.isotope({
        // options...

        itemSelector: '.gallery-item photos'
    });

    // filter items when filter link is clicked
    $('.portfolio-filter a').on('click', function () {
        var selector = $(this).data('filter');
        $container.isotope({
            filter: selector
        });
    });

    /*$(".filter-button").click(function () {
        var value = $(this).attr('data-filter');

        if (value == "all") {
            //$('.filter').removeClass('hidden');
            $('.filter').show('1000');
        }
        else {
            //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
            //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
            $(".filter").not('.' + value).hide('3000');
            $('.filter').filter('.' + value).show('3000');

        }
    });

    if ($(".filter-button").removeClass("active")) {
        $(this).removeClass("active");
    }
    $(this).addClass("active");*/


</script>
