@model BEEKP.Models.EventViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @if (Model.ListEventRecent != null && Model.ListEventRecent.Count > 0)
    {
        <div class="row">
            <div class="col-lg-12">
                        <h3>Manage @ViewBag.Title</h3>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>

                                        <th></th>
                                        <th>Image</th>
                                        <th>Event Title</th>
                                        <th>Event Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (Int32 i = 0; i < Model.ListEventRecent.Count && i < 3; i++)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td><img alt="" src="~/images/Event/@Model.ListEventRecent[i].event_image_name"></td>
                                            <td>@Model.ListEventRecent[i].event_title</td>
                                            <td>@Model.ListEventRecent[i].event_date</td>
                                        </tr>
                                        i++;
                                    }
                                    }
                                    else
                                    {
                                    <tr>
                                        <td colspan="5">No Data Found</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
    }
       </div>