
@model BEEKP.Areas.Admin.Models.AdminMSMEViewModel


<table id="tblMSMEInactive" class="table table-striped table-hover table-bordered">

    <thead>
        <tr>
            <th>
                Type Unit
            </th>
            <th>
                Sector Name
            </th>
            <th>
                Cluster Name
            </th>
            <th>
                Unit Name
            </th>
            <th>
                Unit Address
            </th>
            <th>
                Contanct Name
            </th>
            <th>
                Email-Id
            </th>
            <th>
                WTA Conducted
            </th>
            <th>
                DEA Conducted
            </th>
            @*<th>
                    Status
                </th>
                <th>
                    Approval Status
                </th>*@
            <th align="center" valign="middle">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

