@model BEEKP.Areas.Admin.Models.AdminManufacturersViewModel
    <table id="tblManufacturersApproved" class="table table-striped table-hover table-bordered">

        <thead>
            <tr>
                <th>
                    EE Equpment
                </th>
                <th>
                    Name Manufacturer
                </th>
                <th>
                    Contact Address
                </th>
                <th>
                    Contact Person
                </th>
                <th>
                    Contact No
                </th>
                <th>
                    Email
                </th>
                <th>
                    Website
                </th>
                <th>
                    Approval Status
                </th>
                <th align="center" valign="middle">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

