
@{
    ViewBag.Title = "State_Designatted_Agencies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix">
                    <div class="title_breadcrumb float-left">
                        <h1>State Designatted Agencies</h1>
                    </div>
                    <div class="breadcrumb-menu float-right">
                        <ul class="clearfix">
                            <li><a href="/">Resources</a></li>
                            <li class="active">State Designatted Agencies</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
